<!DOCTYPE html>
<html>
<head>
<title>Cчет {{ order.id }}</title>
<style type="text/css">
body     { font-size:10pt; font-family:Verdana,sans-serif; }
h1       { font-size: 14pt; }
td       { vertical-align:top; }
p        { margin-top:0px; }
table    { width:800px; }
.rekv td { padding-bottom:12px; }
.products { border:1px solid gray; border-collapse:collapse; }
.products td { border:1px solid gray; font-size: 10pt; padding:3px;}
.small   { font-size: 10pt; }
.left    { text-align:left;}
.right   { text-align:right;}
.center  { text-align:center;}
</style>
</head>

<body>
<table>
<tr>
<td class="left">
<img src="/static/i/logo.png" width="399" height="48">
</td>
<td class="right">
{{ owner_info.phone }}<br />
{{ owner_info.www }}
</td>
</tr>
<tr>
<td colspan="2" class="center">
<h1>Счет №{{ order.id }}</h1>
<p>Дата: {% now "j.m.Y" %}</p>
</td>
</tr>
</table>

<table class="rekv">
<tr>
<td class="small">
Поставщик:
</td>
<td>
<p>{{ owner_info.full_name }}</p>
<p>ИНН: {{ owner_info.inn }}, ОГРНИП: {{ owner_info.ogrn }}</p>
{% if order.is_firm %}
{% else %}
<p><i>Памятка для операциониста Сбербанка: КПП у ИП отсутствует. Пробуйте провести платеж в режиме "Произвольный платеж"</i></p>
{% endif %}
<p>{{ owner_info.legal_address }}</p>
</td>
</tr>
<tr>
<td class="small">
Расчетный счет:
</td>
<td>
<p>{{ owner_info.account_no }} в {{ owner_info.account_bank }}</p>
<p>БИК: {{ owner_info.bik }}, к/с: {{ owner_info.cor_account }}</p>
</td>
</tr>
<tr>
<td class="small">
Покупатель:
</td>
<td>
{% if order.is_firm %}
<p>{{ order.firm_name }}</p>
<p>{{ order.firm_address }}</p>
<p>{{ order.firm_details }}</p>
{% else %}
<p>{{ order.name }}</p>
<p>{{ order.address }}</p>
{% endif %}
</td>
</tr>
</table>



<table class="products">
<tr>
<td>№</td>
<td>Номер по каталогу</td>
<td>Наименование товара</td>
<td class="right">Цена</td>
<td class="center">Количество</td>
<td class="right">Сумма</td>
</tr>
{% for item in order.items.all %}
<tr>
<td>{{ forloop.counter }}</td>
<td>{{ item.product.article }}</td>
<td>{{ item.product.whatis }} {{ item.product.partnumber }} {{ item.product.title }}</td>
<td class="right">{{ item.cost }}</td>
<td class="center">{{ item.quantity }}</td>
<td class="right">{{ item.price }}</td>
</tr>
{% endfor %}
{% if order.delivery_price > 0 %}
<tr>
<td colspan="3" class="right">Доставка:</td>
<td colspan="3" class="right">{{ order.delivery_price }}&nbsp;руб.</td>
</tr>
{% endif %}
<tr>
<td colspan="3" class="right">В том числе НДС:</td>
<td colspan="3" class="right">Нет НДС</td>
</tr>
<tr>
<td colspan="3" class="right">Итого:</td>
<td colspan="3" class="right">{{ order.total }}&nbsp;руб.</td>
</tr>
</table>

<table>
<tr>
<td class="right">
<img src="/static/i/0.gif" width="177" height="177">
</td>
<td class="left">
<br><br><br>
Индивидуальный Предприниматель ____________ {{ owner_info.director }}<br><br><br>
Главный бухгалтер ____________ {{ owner_info.director }}
</td>
</tr>
</table>
</body>
</HTML>
