<!DOCTYPE html>
<html>
<head>
  <title></title>
<style type="text/css">
body     { font-size:9pt; font-family:Verdana,sans-serif; }
.wrapper { width:55mm; max-width:55mm;}
.left    { text-align:left;}
.right   { text-align:right;}
.center  { text-align:center;}
</style>
</head>
{% load l10n %}
<body>
<div class="wrapper">
<p class="center">ШВЕЙНЫЙ МИР</p>
<p class="center">***************************</p>
<p class="center">Товарный чек</p>
<p class="center">{{ order.seller.name|default:default_seller.name }}</p>
<p class="center">ИНН: {% if order.seller.name %}{{ order.seller.inn }}{% else %}{{ default_seller.inn }}{% endif %}</p>
<p class="center">{% if order.seller.name %}{{ order.seller.legal_address }}{% else %}{{ default_seller.legal_address }}{% endif %}</p>
<p class="center">***************************</p>
{% for item in order.items.all %}
<p>{{ item.product.article }} {{ item.product.whatis }} {{ item.product.partnumber }} {{ item.product.title }}</p>
<p class="right">{{ item.cost|unlocalize }}х{{ item.quantity }} <span style="margin-left:10mm">{{ item.price|unlocalize }}</span></p>
{% endfor %}

<p>Стоимость товаров: {{ order.products_price|unlocalize }}&nbsp;руб.</p>
<p>Доставка: {{ order.delivery_price|unlocalize }}&nbsp;руб.</p>
<p>Нет НДС</p>
<p><b>ИТОГО: {{ order.total|unlocalize }}&nbsp;руб.</b></p>
<p class="right">ПРОДАЖА #001/{{ order.id }}</p>
<p class="center">{% now "H:i d.m.Y" %}</p>
<p class="center">***************************</p>
<p class="center">СПАСИБО!</p>
</div>
</body>
</html>
