<!DOCTYPE html>
<html>
<head>
<title>Адресная наклейка</title>
<style type="text/css">
.head h1     { font-size:12pt; margin-top:0px;}
.reciever h2 { font-size:14pt; margin-bottom:2px; margin-top:2px;}
.reciever p  { font-size:20pt; margin-top:5px; margin-bottom:10px;}
.sender h2   { font-size:14pt; margin-bottom:2px; margin-top:2px;}
.sender p    { font-size:14pt; margin-top:5px; margin-bottom:2px;}
.phone       { font-size:14pt; }
.reciever    { padding-top: 40px;}
</style>
</head>

<body>
<table style="width:600px;">

<tr>
<td class="head">
<h1>Заказ №{{ order.id }}</h1>
<hr>
</td>
</tr>

<tr>
<td class="sender">
<h2>От кого:</h2>
<p>{{ owner_info.full_name }}</p>
<h2>Откуда:</h2>
<p>127540, Москва, Керамический пр., д.47, к.1, кв.45<br>
<span class="phone">{{ owner_info.phone }}</span><br>
<span class="phone">{{ owner_info.www }}</span>
</p>
<hr>
</td>
</tr>

<tr>
<td class="reciever">
<h2>Кому:</h2>
<p>{{ order.name }}</p>
<h2>Куда:</h2>
<p>{{ order.address }}<br>
<span class="phone">{{ order.phone }}</span>
</p>
<hr>
</td>
</tr>


</table>
</body>
</html>
