<!DOCTYPE html>
<html>
<head>
  <title>Товарный чек</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">
<h3>Товарный чек к заказу №{{ order.id }}</h3>

<p>{{ owner_info.full_name }}, ИНН: {{ owner_info.inn }}, {{ owner_info.legal_address }}</p>

<table width="800">
    <tr><td colspan=7><hr size=1></td></tr>
    <tr><td width=10%>Код</td>
        <td width=50%>Наименование</td>
        <td width=10% align=right>Цена</td>
        <td width=5% align=right>Скидка</td>
        <td width=10% align=right>Цена со скидкой</td>
        <td width=5% align=right><NOBR>Кол-во</NOBR></td>
        <td width=10% align=right>Сумма</td>
    </tr>

    <tr><td colspan=7><hr size=1></td></tr>

{% for item in order.items.all %}
<tr>
<td valign=top><font size=-1>{{ item.product.article }}</font></td>
<td valign=top><font size=-1>{{ item.product.whatis }} {{ item.product.partnumber }} {{ item.product.title }}</font></td>
<td valign=top align=right><font size=-1>{{ item.product_price }}</font></td>
<td valign=top align=right><font size=-1>{{ item.discount }}</font></td>
<td valign=top align=right><font size=-1>{{ item.cost }}</font></td>
<td valign=top align=right><font size=-1>{{ item.quantity }}</font></td>
<td valign=top align=right><font size=-1>{{ item.price }}</font></td>
</tr>
{% endfor %}
<tr>
<td colspan=7><hr size=1></td>
</tr>
<tr valign=top>
 <td align=right colspan=5>Сумма заказа:</td><td align=right colspan=2>{{ order.products_price }}&nbsp;руб.</td>
</tr>
<tr valign=top>
 <td align=right colspan=5>{{ order.get_delivery_display|capfirst }}:</td><td align=right colspan=2>{{ order.delivery_price }}&nbsp;руб.</td>
</tr>
<tr valign=top>
 <td align=right colspan=5><b>Сумма к оплате:</b></td><td align=right colspan=2><b>{{ order.total }}&nbsp;руб.</b></td>
</tr>	
<tr><td colspan=7>Товар отпустил: ____________________________</td></tr>
<tr><td colspan=7>
<p>С образцом товара (в т.ч. с техническими характеристиками, габаритами, расцветкой, комплектацией, условиями подключения и правильной эксплуатации) полностью ознакомлен.</p>
<p>Мне понятно, что информация о правильной эксплуатации в письменном виде содержится в инструкции по использованию или на упаковке товара.</p>
<p>Мною проверены количество товара, ассортимент и полная комплектность. Мною проверен внешний вид товара. Дефектов и повреждений не обнаружено.</p>
<p>Я информирован:
<ul>
<li>О продавце и изготовителе</li>
<li>О предприятиях сервисного обслуживания, уполномоченных на проведение гарантийного ремонта</li>
<li>О необходимых действиях при приемке товара</li>
<li>О возможности отказаться от приемки товара до его передачи</li>
<li>О возможности возврата товара надлежащего качества не бывшего в употреблении (Отсутствуют признаки использования, 
сохранен товарный вид, отсутствуют следы вскрытия товара, механические повреждения, другие дефекты. Товар в заводской упаковке
со всеми документами, переданными в момент покупки) в течение 7 календарных дней после передачи товара. Возврат такого товара производится на склад интернет-магазина "Швейный Мир"
по адресу г.Москва, Уржумская ул., д.4 стр.6 с понедельника по пятницу с 10.00 до 18.00</li>
<li>О том, что мерный товар, нитки и товары бытовой химии возврату и обмену не подлежат. Данный перечень не окончательный. Полный перечень
установлен соответствующими постановлениями Правительства РФ.</li>
</ul>
</p>
<p>Товар получил: _________________________________</p>
</td></tr>
</table>
</body>
</html>
