{% load spirit_tags i18n %}
{% for c in comments %}
<div class="p{% if forloop.first %}b{% else %}y{% endif %}-4{% if not forloop.last %} border-bottom{% endif %}">
    <div class="font-size-ms font-weight-medium mb-3">
        <a class="nav-link-style" href="{{ c.get_absolute_url }}"><i class="czi-message align-middle mr-2"></i>{{ c.topic.title }}</a>
    </div>

    <div class="font-size-md">
        {% post_render_comment comment=c %}
    </div>
    <span class="font-size-ms text-muted" title="{{ c.date }}"><i class="czi-time align-middle mr-2"></i>{{ c.date|shortnaturaltime }}</span>
</div>
{% empty %}
<p>{% trans "There are no comments here, yet" %}</p>
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        hljs.initHighlightingOnLoad();
    });
</script>
