{% extends "spirit/user/profile_base.html" %}
{% block html_page %}{% with page_title="Настройки" p_user=user %}{{ block.super }}{% endwith %}{% endblock %}

{% load i18n %}

{% block tab_content %}

    {#<dt class="preference-label">{% trans "Email" %}:</dt>#}
    {#<dd class="preference-desc"><a href="{% url "spirit:user:email-change" %}"><i class="fa fa-pencil"></i> {{ user.email }}</a></dd>#}
    {#<dt class="preference-label">{% trans "Password" %}:</dt>#}
    {#<dd class="preference-desc"><a href="{% url "spirit:user:password-change" %}"><i class="fa fa-pencil"></i> {% trans "Change password" %}</a></dd>#}

    <div class="mb-3">
       <span class="mr-2">{% trans "Avatar" %}:</span>
       <a class="nav-link-style" href="https://gravatar.com/"><i class="czi-edit-alt mr-1"></i>{% trans "Change avatar" %}</a>
       <span class="text-muted">({% trans "Go to gravatar.com and use your current email to change it" %})</span>
    </div>

    <form action="." method="post">
        {% csrf_token %}

        {% include "spirit/_form.html" with form=uform %}
        {% include "spirit/_form.html" %}

        <div class="text-right">
            <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        </div>
    </form>

{% endblock %}
