{% extends "spirit/_base.html" %}
{% block page_title_class %}page-title-overlap pt-4{% endblock %}

{% load spirit_tags i18n tz %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ p_user.get_full_name }} &mdash; {{ page_title }}{% endblock %}
{% block content_title %}
<img class="img-thumbnail rounded-circle" width="60" src="{% get_gravatar_url user=p_user size=60 %}" alt="{{ p_user.get_full_name }}">
{{ p_user.get_full_name }}
{% endblock %}
{% block content_title_addon %}
    <dic class="pt-1">
        <div class="font-size-sm ml-2 d-inline-block"><span class="font-weight-medium opacity-60">{% trans "Joined at" %}:</span> {{ p_user.date_joined|shortnaturaltime }}</div>
        <div class="font-size-sm ml-2 d-inline-block"><span class="font-weight-medium opacity-60">{% trans "Seen" %}:</span> {{ p_user.st.last_seen|shortnaturaltime }}</div>
        {% if user.st.is_administrator %}
        <div class="font-size-sm mx-2 d-inline-block"><span class="font-weight-medium opacity-60">{% trans "Last IP" %}:</span> {{ p_user.st.last_ip }}</div>
        {% endif %}

        {% if user.st.is_administrator %}
        <a class="btn btn-sm btn-danger" href="{% url "spirit:admin:user:edit" user_id=p_user.pk %}"><i class="czi-settings"></i></a>
        {% endif %}
  </div>
{% endblock content_title_addon %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Форум" "spirit:topic:index-active" %}
    {% breadcrumb page_title "" %}
{% endblock %}
{% block content %}
    <div class="container">
      <div class="bg-light box-shadow-lg rounded-lg">
        <!-- Tabs-->
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link p-4{% if page_title == 'Комментарии' %} active{% endif %}" href="{% url "spirit:user:detail" pk=p_user.pk slug=p_user.st.slug %}">Комментарии</a></li>
          <li class="nav-item"><a class="nav-link p-4{% if page_title == 'Темы' %} active{% endif %}" href="{% url "spirit:user:topics" pk=p_user.pk slug=p_user.st.slug %}">Темы</a></li>
          <li class="nav-item"><a class="nav-link p-4{% if page_title == 'Лайки' %} active{% endif %}" href="{% url "spirit:user:likes" pk=p_user.pk slug=p_user.st.slug %}">Лайки</a></li>
          {% ifequal user.username p_user.username %}
          <li class="nav-item"><a class="nav-link p-4{% if page_title == 'Настройки' %} active{% endif %}" href="{% url "spirit:user:update" %}">Настройки</a></li>
          {% endifequal %}
        </ul>
        <div class="px-4 pt-lg-3 pb-3 mb-5">
          <div class="tab-content px-lg-3">
            <!-- General info tab-->
            <div class="tab-pane fade show active">
                {% block tab_content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
