Dockerfile
.dockerignore
node_modules
.next
.docker
.git

beru
blog
Cartzilla
DEPLOYMENT.rst
django-mflf
env
facebook
forum
logs
manage.py
media
model_field_list
mptt_urls
node_modules
ozon
remote
requirements.txt
reviews
sber
sewingworld
shop
static
static1
staticfiles
staticfiles1
staticfiles.cartzilla
st_search
templates
templates1
templates.cartzilla
unisender
utility
yandex_delivery
yandex_kassa
