.env*
logs/
*~
.touch_reload
.next/
node_modules/
.docker/
*.tsbuildinfo
next-env.d.ts

# temp:
certificates

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
