.env*
env/
logs/
__pycache__/
*~
*.pyc
settings_local.py
media/
static*/
templates*/
sewingworld/settings/
st_search/
.touch_reload
.next-build/
.next/
node_modules/
.docker/
*.tsbuildinfo

# temp:
/public/static
/public/images
certificates