{% load shop_filters %}
<form id="sw-{{ ctx }}-form" class="needs-validation{% if error or wrong_password %} was-validated{% endif %}" novalidate action="{% url 'shop:login' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next|default_if_none:"" }}"/>
  <input type="hidden" name="ctx" value="{{ ctx|default_if_none:"" }}"/>
  {% if shop_user %}{# Пользователь с таким телефоном уже есть #}
  <input type="hidden" name="phone" id="{{ ctx }}-phone-input" value="{{ phone }}"/>
  {# Требуем подтверждение пароля #}
  <div class="lead mb-2">{{ shop_user.phone|format_phone }}</div>
  {% if ctx == 'order' %}
  <div class="form-text mb-2"><a href="{% url 'shop:unbind' %}" id="unbind-phone">Это не мой телефон</a></div>
  {% endif %}
  <div class="form-group has-feedback">
    <label for="{{ ctx }}-password-input">{% if shop_user.permanent_password %}Пароль{% else %}Код из смс{% endif %}:</label>
    <input type="password" class="form-control" style="max-width: 20rem" name="password" id="{{ ctx }}-password-input" value="" required/>
    {% if wrong_password %}
    <span id="{{ ctx }}-password-error" class="invalid-feedback">Вы ввели неправильный {% if shop_user.permanent_password %}пароль{% else %}код{% endif %}.</span>
    {% endif %}
    <span class="form-text">
    <span id="{{ ctx }}-password-help" class="text-warning{% if wrong_password or shop_user.permanent_password %} d-none{% endif %}">{% if shop_user.permanent_password %}Пароль{% else %}Код{% endif %} выслан на указанный телефон по смс.</span>
    <span id="{{ ctx }}-reset-counter" class="d-block"></span>
    {% if shop_user.permanent_password %}
    <span id="{{ ctx }}-password-reset"><a href="{% url 'shop:reset_password' %}" class="ajax">Сбросить забытый пароль</a></span>
    {% else %}
    <span id="{{ ctx }}-password-reset" class="d-none"><a href="{% url 'shop:reset_password' %}" class="ajax">Прислать {% if shop_user.permanent_password %}пароль{% else %}код{% endif %} повторно</a></span>
    {% endif %}
    </span>
  </div>
  {% if ctx != 'order' and not shop_user.permanent_password %}
  {% if ctx == 'login' %}
  <div class="mb-3 font-size-md">Вы можете <a href="#" id="permanent-password-link">указать постоянный пароль</a>, чтобы не получать каждый раз смс</div>
  {% endif %}
  <div id="permanent-password-block" class="form-row{% if ctx == 'login' %} d-none{% endif %}">
    <div class="form-group col-md">
      <label for="permanent-password-input">Постоянный пароль:</label>
      <input type="password" class="form-control form-control-sm" name="permanent_password" id="permanent-password-input" value="" />
      <span id="permanent-password-error" class="invalid-feedback"></span>
      {% if ctx == 'reg' %}
      <span class="form-text">Если Вы не укажете постоянный пароль, вход будет осуществляться с помощью смс</span>
      {% endif %}
    </div>
    <div class="form-group col-md">
      <label for="permanent-password-input2">ещё раз:</label>
      <input type="password" class="form-control form-control-sm" name="permanent_password2" id="permanent-password-input2" value="" />
      <span id="permanent-password-error2" class="invalid-feedback"></span>
    </div>
  </div>
  {% endif %}
  {% else %}{# Анонимный пользователь #}
  <div class="form-group">
    <label class="lead" for="{{ ctx }}-phone-input">{% if ctx == 'order' %}Для продолжения у{% else %}У{% endif %}кажите номер мобильного телефона:</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text bg-secondary">+7</span>
      </div>
      <input class="form-control" type="tel" name="phone" id="{{ ctx }}-phone-input" placeholder="(999) 111-22-33" autocomplete="phone" required/>
      <div class="invalid-feedback" id="{{ ctx }}-phone-input-error">{{ error }}</div>
    </div>
  </div>
  {% endif %}
  {% if ctx == 'order' %}
  <button class="btn btn-primary btn-shadow btn-block" type="submit"><i class="{% if shop_user %}czi-sign-in{% else %}czi-card{% endif %} font-size-lg mr-2"></i>{% if shop_user %}Продолжить{% else %}Оформить заказ{% endif %}</button>
  {% else %}
  <div class="text-right">
    <button class="btn btn-primary ml-4" type="submit">{% if not embedded %}<i class="{% if shop_user %}czi-sign-in{% else %}czi-unlocked{% endif %} mr-2 ml-n1"></i>{% endif %}{% if shop_user %}Продолжить{% else %}Войти{% endif %}</button>
  </div>
  {% endif %}
  {% if not shop_user and not embedded %}
  <div class="mt-4 font-size-md">Если Вы не совершали покупок в магазине, Вы можете <a href="{% url 'shop:register' %}{% if next %}?next={{ next }}{% endif %}">зарегистрироваться</a></div>
  {% endif %}
</form>
<script type="text/javascript">
(function() {
    'use strict';

    var initializeLoginForm = function() {
        var phoneInput = document.getElementById("{{ ctx }}-phone-input");

        {% if shop_user %}
        {% if ctx != 'order' and not shop_user.permanent_password %}
        var ppwd1Input = document.getElementById("permanent-password-input");
        var ppwd2Input = document.getElementById("permanent-password-input2");
        var ppwd1Error = document.getElementById("permanent-password-error");
        var ppwd2Error = document.getElementById("permanent-password-error2");

        var validatePpwd = function() {
            var ppwd1 = ppwd1Input.value;
            var ppwd2 = ppwd2Input.value;

            if (ppwd1 != ppwd2) {
                ppwd2Error.textContent = "Пароли не совпадают";
            } else {
                ppwd2Error.textContent = "";
            }
            if (ppwd1.length > 0 && ppwd1.length < 5) {
                ppwd1Error.textContent = "Постоянный пароль должен быть не менее 5 символов";
            } else {
                ppwd1Error.textContent = "";
            }
            ppwd1Input.setCustomValidity(ppwd1Error.textContent);
            ppwd2Input.setCustomValidity(ppwd2Error.textContent);
        };
        ppwd1Input.addEventListener("input", validatePpwd);
        ppwd2Input.addEventListener("input", validatePpwd);

        {% if ctx == 'login' %}
        var ppwdLink = document.getElementById("permanent-password-link");
        ppwdLink.addEventListener("click", function() {
            var ppwdBlock = document.getElementById("permanent-password-block");
            ppwdBlock.classList.remove("d-none");
            ppwdLink.parentElement.classList.add("d-none");
            return false;
        });
        {% endif %}
        {% endif %}

        var passwordInput = document.getElementById("{{ ctx }}-password-input");
        var passwordError = document.getElementById("{{ ctx }}-password-error");
        var passwordHelp = document.getElementById("{{ ctx }}-password-help");
        var passwordReset = document.getElementById("{{ ctx }}-password-reset");
        var resetCounter = document.getElementById("{{ ctx }}-reset-counter");

        // https://github.com/RobinHerbots/Inputmask
        Inputmask({
            mask: ["9999", "*{5,30}"],
            placeholder: ""
        }).mask(passwordInput);

        var validatePassword = function() {
            if (passwordInput.inputmask.isComplete()) {
                passwordInput.setCustomValidity("");
            } else {
                passwordInput.setCustomValidity("Введите пароль");
            }

            if (passwordError) {
                passwordError.parentNode.removeChild(passwordError);
                passwordError = null;
            }
            if (passwordHelp) {
                passwordHelp.textContent = "";
                passwordHelp.classList.add("d-none");
            }
        };
        passwordInput.addEventListener("input", validatePassword);
        passwordInput.addEventListener("paste", validatePassword);

        passwordInput.focus();

        var resetCounterCallback = function() {
            passwordHelp.classList.add("d-none");
            passwordReset.classList.remove("d-none");
            if (passwordError) {
                passwordError.parentNode.removeChild(passwordError);
                passwordError = null;
            }
        };

        passwordReset.addEventListener("click", function(event) {
            event.preventDefault();
            var xhr = new XMLHttpRequest();
            xhr.onload = function () {
                passwordHelp.textContent = "Новый {% if shop_user.permanent_password %}пароль{% else %}код{% endif %} выслан на указанный телефон.";
                passwordHelp.classList.remove("d-none");
                passwordReset.classList.add("d-none");
                sworld.delayShowPasswordReset("{% if shop_user.permanent_password %}пароль{% else %}код{% endif %}", resetCounter, resetCounterCallback);
            };
            var url = event.target.href + "?ajax=1";
            {% if ctx != 'order' %}
            url += "&phone=" + encodeURIComponent(phoneInput.value);
            {% endif %}
            xhr.open('GET', url);
            xhr.send();
        });
        {% else %}
        var phoneInputError = document.getElementById("{{ ctx }}-phone-input-error");

        phoneInput.setCustomValidity("{{ error }}");

        // https://github.com/RobinHerbots/Inputmask
        Inputmask({
            mask: ["(999) 999-99-99", "* (999) 999-99-99"],
            definitions: {
                "*": { validator: "[78]" }
            },
            onBeforePaste: function(pastedValue, opts) {
                return pastedValue.replace("+7", "");
            },
            onBeforeMask: function(value, opts) {
                return value.replace("+7", "");
            },
            oncomplete: function() {
                var value = this.inputmask.unmaskedvalue();
                if (value.length > 10) {
                    value = value.substr(1);
                    this.inputmask.setValue(value);
                }
                phoneInput.setCustomValidity("");
            },
            keepStatic: true
        }).mask(phoneInput);

        phoneInput.addEventListener("input", function (event) {
            if (phoneInput.inputmask.isComplete()) {
                phoneInput.setCustomValidity("");
            } else {
                phoneInputError.textContent = "Введите корректный номер";
                phoneInput.setCustomValidity(phoneInputError.textContent);
            }
        });
        {% endif %}

        {% if shop_user and not shop_user.permanent_password %}
        sworld.delayShowPasswordReset("{% if shop_user.permanent_password %}пароль{% else %}код{% endif %}", resetCounter, resetCounterCallback);
        {% endif %}
    };

    // Check if form is included via Ajax or put directly on page
    if (typeof Inputmask === "function")
        initializeLoginForm()
    else
        window.addEventListener('load', initializeLoginForm, false);

    var form = document.getElementById("sw-{{ ctx }}-form");
    form.addEventListener("submit", function(event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
            form.classList.add("was-validated");
        }
    }, false);
})();
</script>
