{% extends "shop/user/page.html" %}
{% load decimals %}
{% load django_bootstrap_breadcrumbs %}
{% load shop_filters %}
{% load spirit_tags %}{# for gravatars #}
{% block title %}Список заказов{% endblock %}
{% block content_title %}Список заказов{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Заказы' '' %}
{% endblock %}
{% block toolbar %}
          <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3">
            {% if orders %}
            <form class="form-inline">
              <label class="text-light opacity-75 text-nowrap mr-2 d-none d-lg-block" for="order-filter">Отображать:</label>
              <select class="form-control custom-select" name="filter" id="order-filter" onchange="this.form.submit()">
                <option value="">Все</option>
                <option value="active"{% if filter == 'active' %} selected{% endif %}>Активные</option>
                <option value="done"{% if filter == 'done' %} selected{% endif %}>Выполненные</option>
                <option value="canceled"{% if filter == 'canceled' %} selected{% endif %}>Отмененные</option>
              </select>
            </form>
            {% endif %}
            {{ block.super }}
          </div>
{% endblock %}
{% block user_content %}
          {% if orders %}
          <!-- Orders list-->
          <div class="table-responsive font-size-md">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>Заказ №</th>
                  <th>Дата оформления</th>
                  <th>Статус</th>
                  <th>Сумма</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                <tr>
                  <td class="py-3"><a class="nav-link-style font-weight-medium font-size-sm" href="{% url 'shop:order' order.id %}">{{ order.id }}</a></td>
                  <td class="py-3">{{ order.created|date:"j E Y г" }}</td>
                  <td class="py-3"><span class="badge badge-{{ order.status|order_color }} m-0">{{ order.get_status_display|capfirst }}</span></td>
                  <td class="py-3">{{ order.total|quantize:'1' }}<small>&nbsp;руб</small></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if orders.has_other_pages %}
          <hr class="pb-4">
          <!-- Pagination-->
          <nav class="d-flex justify-content-between pt-2" aria-label="Переключение страниц">
            {% if orders.has_previous %}
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="?page={{ orders.previous_page_number }}{% if filter %}&filter={{ filter }}{%endif %}"><i class="czi-arrow-left mr-2"></i>Пред<span class="d-none d-sm-inline d-md-none d-xl-inline">ыдущая</span></a></li>
            </ul>
            {% endif %}
            <ul class="pagination">
              {% for page in orders.paginator.page_range %}
              {% if page == orders.number %}
              <li class="page-item d-md-none"><span class="page-link page-link-static">{{ orders.number }} / {{ orders.paginator.num_pages }}</span></li>
              <li class="page-item active d-none d-md-block" aria-current="page"><span class="page-link">{{ orders.number }}<span class="sr-only">(текущая)</span></span></li>
              {% elif page >= min_page and page <= max_page or page == 1 or page == orders.paginator.num_pages %}
              {% if max_page < orders.paginator.num_pages and page == orders.paginator.num_pages %}
              <li class="page-item d-none d-md-block">&hellip;</li>
              {% endif %}
              <li class="page-item d-none d-md-block"><a class="page-link" href="?page={{ page }}{% if filter %}&filter={{ filter }}{%endif %}">{{ page }}</a></li>
              {% if min_page > 1 and page == 1 %}
              <li class="page-item d-none d-md-block">&hellip;</li>
              {% endif %}
              {% endif %}
              {% endfor %}
            </ul>
            {% if orders.has_next %}
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="?page={{ orders.next_page_number }}{% if filter %}&filter={{ filter }}{%endif %}">След<span class="d-none d-sm-inline d-md-none d-xl-inline">ующая</span><i class="czi-arrow-right ml-2"></i></a></li>
            </ul>
            {% endif %}
          </nav>
          {% endif %}
          {% else %}
          <p>У вас нет оформленных заказов.</p>
          {% endif %}
        </section>
      </div>
    </div>
{% endblock %}
