{% extends "page_overlapped.html" %}
{% load shop_tags %}
{% load shop_filters %}
{% load spirit_tags %}{# for gravatars #}
{% block body_header %}
{% with hide_sign_in=True %}
{{ block.super }}
{% endwith %}
{% endblock %}
{% block content %}
    <!-- Page Content-->
    <div class="container pb-5 mb-2 mb-md-3">
      <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
          <div class="cz-sidebar-static rounded-lg box-shadow-lg px-0 pb-0 mb-5 mb-lg-0">
            <div class="px-4 mb-4">
              <div class="media align-items-center">
                <div class="img-thumbnail rounded-circle position-relative" style="width: 6.375rem;">{% if request.user.discount %}<span class="badge badge-warning" data-toggle="tooltip" title="Текущая скидка">{{ request.user.discount }}%</span>{% endif %}<img class="rounded-circle" src="{% get_gravatar_url user=request.user size=90 %}" alt="{{ request.user.get_full_name }}" height="90"></div>
                <div class="media-body pl-3">
                  <h3 class="font-size-base mb-0">{% firstof request.user.name request.user.get_full_name %}</h3><span class="text-accent font-size-sm">{{ request.user.phone|format_phone }}</span>
                </div>
              </div>
            </div>
            <ul class="list-unstyled mb-0">
              {% url 'shop:user_orders' as url %}
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3{% if request.get_full_path == url %} active{% endif %}" href="{{ url }}"><i class="czi-bag opacity-60 mr-2"></i>Заказы<span class="font-size-sm text-muted ml-auto">{% get_order_count %}</span></a></li>
              {% url 'shop:favorites' as url %}
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3{% if request.get_full_path == url %} active{% endif %}" href="{{ url }}"><i class="czi-heart opacity-60 mr-2"></i>Избранное<span class="font-size-sm text-muted ml-auto" id="sw-favorites-count">{% get_favorites_count %}</span></a></li>
            </ul>
            <ul class="list-unstyled mb-0">
              {% url 'shop:profile' as url %}
              <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3{% if request.get_full_path == url %} active{% endif %}" href="{{ url }}"><i class="czi-user opacity-60 mr-2"></i>Профиль</a></li>
              <li class="d-lg-none border-top mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'shop:logout' %}"><i class="czi-sign-out opacity-60 mr-2"></i>Выйти</a></li>
            </ul>
          </div>
        </aside>
        <!-- Content  -->
        <section class="col-lg-8">
          <!-- Toolbar-->
          {% block toolbar %}
                        <a class="btn btn-primary btn-sm d-none d-lg-inline-block" href="{% url 'shop:logout' %}"><i class="czi-sign-out mr-2"></i>Выйти</a>
          {% endblock %}
          {% block user_content %}{% endblock %}
        </section>
      </div>
    </div>
{% endblock %}
