{% extends "admin/change_list.html" %}
{% load shop_admin %}
{% block extrahead %}
{{ block.super }}
<script>
    (function($) {
        $(document).ready(function() {
            $("#result_list tr .field-order_name a b").each(function(index, element) {
                if ($(element).text().startsWith("Т-") || $(element).text().startsWith("ТСПб-") || $(element).text().startsWith("ТНН-")) {
                    $(element).closest("tr").css('background-color', '#fff8dc');
                }
            });
        });
    })(django.jQuery);
</script>
{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <style>
        #result_list .field-total_cost { text-align: right }
    </style>
{% endblock %}
{% block object-tools-items %}
    {% get_alert_orders as orders %}
    {% if orders|length > 10 %}
        <li><a style="background: #ba2121" href="{% url 'admin:shop_order_changelist' %}?alert__gt=&status=all">&nbsp;</a></li>
    {% else %}
        {% for order in orders %}
            <li><a style="background: #ba2121" href="{% url 'admin:shop_order_change' order.pk %}" title="{{ order.alert }}">{{ order.id }}</a></li>
        {% endfor %}
    {% endif %}
    {{ block.super }}
{% endblock %}
