{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_modify lock_tokens_tags %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        .grp-row .l-2c-fluid.grp-cell:not(:first-child) .c-1 {
            min-width: 0px;
            width: auto;
        }
        .inner-right-column i { float: left; }
        .inner-right-column a span { display:block; overflow:hidden; }

        #order_form tr.dynamic-items td.field-product, #order_form #items-group table thead th:nth-child(1) {
            display: none !important;
        }

        #id_phone {font-size:16px;}
        input#id_delivery_time_from, input#id_delivery_time_till {
            width: 4em;
        }

        .controls,
        .field-product_price input,
        .field-pct_discount input,
        .field-val_discount input,
        .field-quantity input,
        .field-total input {
            padding-top:1px!important;
            padding-bottom:1px!important;
        }

    </style>
{% endblock %}

{% block extrajs %}
<script>
(function($) {
    $(document).ready(function() {
        $( "button[name='_save']" ).remove();
        $( "button[name='_addanother']" ).remove();
        $( "button[name='_continue']" ).after("<button type=\"submit\" class=\"btn btn-high\" name=\"_save\">Сохранить</button>");
        $( "button[name='_continue']" ).addClass("btn-info");
        $( "button[name='_save']" ).html("Сохранить и выйти");
        var Phone = $( "#id_phone" ).val();
        $( "label[for='id_phone']" ).html("<a href=\"skype:"+Phone+"?call\">Телефон:</a>");
        var Delivery_Price = $( "input[name='delivery_price']" ).val();
        var Products_Price = $( "div.field-products_price > div > div > span.readonly" ).html();
        var Total = $( "div.field-total > div > div > span.readonly" ).html();
        var Number = $( "div.field-id > div > div.controls > span.readonly" ).html();
        $( "div.field-products_price" ).css("display","none");
        $( "div.field-total" ).css("display","none");
        $( "div.field-id" ).css("display","none");
        $("#items-group" ).after("<div style=\"text-align:right;\" class=\"lead\">Итого: " + Total + "</div>");
        $("#items-group" ).after("<div style=\"text-align:right; margin-bottom:0\" class=\"lead\">Доставка: " + Delivery_Price + "</div>");
        $("#items-group" ).after("<div style=\"text-align:right; margin-bottom:0\" class=\"lead\">Всего: " + Products_Price + "</div>");
        $(".save-box" ).before("<div style=\"text-align:center;\" class=\"lead\">Заказ " + Number + "</div>");

        $("select#id_status").on('change', function() {
            if (this.value == 1) {
                alert("Не забудь проставить теги!");
            }
        });
    });
}(django.jQuery));
</script>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% if lock_token %}
        {% admin_lock_handler opts.app_label opts.model_name original.id lock_token %}
    {% endif %}
{% endblock %}
{% block submit_buttons_top %}{% if not original.pk or lock_token %}{% submit_row %}{% endif %}{% endblock %}
{% block submit_buttons_bottom %}{% if not original.pk or lock_token %}{% submit_row %}{% endif %}{% endblock %}

{% block object-tools-items %}
    {% url opts|admin_urlname:'document' original.pk 'stock'|admin_urlquote as stock_url %}
    <li><a href="{% add_preserved_filters stock_url %}"><i class="icon-book icon-alpha75"></i>
            <span>{% trans "Задание на отбор" %}</span></a></li>
    {% url opts|admin_urlname:'document' original.pk 'bill'|admin_urlquote as bill_url %}
    <li><a href="{% add_preserved_filters bill_url %}"><i class="icon-book icon-alpha75"></i>
            <span>{% trans "Счёт" %}</span></a></li>
    {% url opts|admin_urlname:'document' original.pk 'billwostamp'|admin_urlquote as billwostamp_url %}
    <li><a href="{% add_preserved_filters billwostamp_url %}"><i class="icon-book icon-alpha75"></i>
            <span>{% trans "Счёт без печати" %}</span></a></li>
    {% url opts|admin_urlname:'document' original.pk 'slip'|admin_urlquote as slip_url %}
    <li><a href="{% add_preserved_filters slip_url %}"><i class="icon-book icon-alpha75"></i>
            <span>{% trans "Накладная" %}</span></a></li>
    {% url opts|admin_urlname:'document' original.pk 'slipandrules'|admin_urlquote as slipandrules_url %}
    <li><a href="{% add_preserved_filters slipandrules_url %}"><i class="icon-book icon-alpha75"></i>
            <span>{% trans "Накладная с правилами" %}</span></a></li>
    {% url opts|admin_urlname:'document' original.pk 'packing'|admin_urlquote as packing_url %}
    <li><a href="{% add_preserved_filters packing_url %}"><i class="icon-book icon-alpha75"></i>
            <span>{% trans "Сопроводительный лист" %}</span></a></li>
    {% url opts|admin_urlname:'document' original.pk 'productlist'|admin_urlquote as productlist_url %}
    <li><a href="{% add_preserved_filters productlist_url %}"><i class="icon-book icon-alpha75"></i>
            <span>{% trans "Товарный чек" %}</span></a></li>
    {% url opts|admin_urlname:'document' original.pk 'productlistandrules'|admin_urlquote as productlistandrules_url %}
    <li><a href="{% add_preserved_filters productlistandrules_url %}"><i class="icon-book icon-alpha75"></i>
            <span>{% trans "Товарный чек для покупателя" %}</span></a></li>
    {% url opts|admin_urlname:'document' original.pk 'label'|admin_urlquote as label_url %}
    <li><a href="{% add_preserved_filters label_url %}"><i class="icon-book icon-alpha75"></i>
            <span>{% trans "Наклейка" %}</span></a></li>
    {% url opts|admin_urlname:'document' original.pk 'check'|admin_urlquote as check_url %}
    <li><a href="{% add_preserved_filters check_url %}"><i class="icon-book icon-alpha75"></i>
            <span>{% trans "Чек" %}</span></a></li>
    {% url opts|admin_urlname:'combine' original.pk|admin_urlquote as combine_url %}
    <li><a href="{% add_preserved_filters combine_url %}?_popup=1" class="related-widget-wrapper-link">
            <i class="icon-resize-small icon-alpha75"></i>
            <span>{% trans "Объединение заказов" %}</span></a></li>
    {% url opts|admin_urlname:'discount' original.pk|admin_urlquote as discount_url %}
    <li><a href="{% add_preserved_filters discount_url %}?_popup=1" class="related-widget-wrapper-link">
            <i class="icon-forward icon-alpha75"></i>
            <span>{% trans "Скидка" %}</span></a></li>
    {{ block.super }}
{% endblock %}
