{% extends 'admin/base_site.html' %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url cl.opts|admin_urlname:'changelist' %}">{{ cl.opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans 'Товары' %}
</div>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
table thead th.sorted .sortoptions { padding: 0 }
</style>
{% endblock %}

{% block content %}
<table class="table">
<thead>
<tr>
<th{% if o == '1' %} class="sorted"{% endif %}><a href="?orders={{orders}}&o=1">ID</a>
{% if o == '1' %}<div class="sortoptions"><a href="?orders={{orders}}&o=1" class="toggle ascending"></a></div>{% endif %}
</th>
<th{% if o == '2' %} class="sorted"{% endif %}><a href="?orders={{orders}}&o=2">Артикул</a>
{% if o == '2' %}<div class="sortoptions"><a href="?orders={{orders}}&o=2" class="toggle ascending"></a></div>{% endif %}
</th>
<th{% if o == '3' %} class="sorted"{% endif %}><a href="?orders={{orders}}&o=3">Partnumber</a>
{% if o == '3' %}<div class="sortoptions"><a href="?orders={{orders}}&o=3" class="toggle ascending"></a></div>{% endif %}
</th>
<th{% if o == '4' %} class="sorted"{% endif %}><a href="?orders={{orders}}&o=4">Название</a>
{% if o == '4' %}<div class="sortoptions"><a href="?orders={{orders}}&o=4" class="toggle ascending"></a></div>{% endif %}
</th>
<th{% if o == '7' %} class="sorted"{% endif %}><a href="?orders={{orders}}&o=7">Кол-во</a>
{% if o == '7' %}<div class="sortoptions"><a href="?orders={{orders}}&o=7" class="toggle ascending"></a></div>{% endif %}
</th>
<th>Склад</th>
<th{% if o == '5' %} class="sorted"{% endif %}><a href="?orders={{orders}}&o=5">Заказ</a>
{% if o == '5' %}<div class="sortoptions"><a href="?orders={{orders}}&o=5" class="toggle ascending"></a></div>{% endif %}
</th>
<th{% if o == '6' %} class="sorted"{% endif %}><a href="?orders={{orders}}&o=6">Статус</a>
{% if o == '6' %}<div class="sortoptions"><a href="?orders={{orders}}&o=6" class="toggle ascending"></a></div>{% endif %}
</th>
</tr>
</thead>
{% for product in products %}
<tr>
<td><a href="/admin/shop/product/{{ product.product_id }}/">{{ product.product_id }}</a></td>
<td>{{ product.article }}</td>
<td>{{ product.partnumber }}</td>
<td>
  <a href="/admin/shop/product/{{ product.product_id }}/">{{ product.title }}</a>
  {% if product.comment_packer %}
  <br/><i>{{ product.comment_packer }}</i>
  {% endif %}
</td>
<td>{{ product.quantity }}</td>
<td>{{ product.stock|safe }}</td>
<td><a href="/admin/shop/order/{{ product.order_id }}/">№{{ product.order_id }}</a></td>
<td><span style="color: {{product.order_status_color }}">{{ product.order_status_value }}</span></td>
</tr>
{% endfor %}
</table>
{% endblock %}
