{% extends 'admin/base_site.html' %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a><span class="divider">»</span></li>
  <li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a><span class="divider">»</span></li>
  <li><a href="{% url cl.opts|admin_urlname:'changelist' %}">{{ cl.opts.verbose_name_plural|capfirst }}</a><span class="divider">»</span></li>
  <li class="active">Товары</li>
</ul>
{% endblock %}

{% block content %}
<table class="table">
<thead>
<tr>
<th><a href="?orders={{orders}}&o=1">ID</a>
{% if o == '1' %}<i class="icon-chevron-down icon-alpha75"></i>{% endif %}
</th>
<th><a href="?orders={{orders}}&o=2">Артикул</a>
{% if o == '2' %}<i class="icon-chevron-down icon-alpha75"></i>{% endif %}
</th>
<th><a href="?orders={{orders}}&o=3">Partnumber</a>
{% if o == '3' %}<i class="icon-chevron-down icon-alpha75"></i>{% endif %}
</th>
<th><a href="?orders={{orders}}&o=4">Название</a>
{% if o == '4' %}<i class="icon-chevron-down icon-alpha75"></i>{% endif %}
</th>
<th><a href="?orders={{orders}}&o=7">Кол-во</a>
{% if o == '7' %}<i class="icon-chevron-down icon-alpha75"></i>{% endif %}
</th>
<th>Склад</th>
<th><a href="?orders={{orders}}&o=5">Заказ</a>
{% if o == '5' %}<i class="icon-chevron-down icon-alpha75"></i>{% endif %}
</th>
<th><a href="?orders={{orders}}&o=6">Статус</a>
{% if o == '6' %}<i class="icon-chevron-down icon-alpha75"></i>{% endif %}
</th>
</tr>
</thead>
{% for product in products %}
<tr>
<td><a href="/admin/shop/product/{{ product.product_id }}/">{{ product.product_id }}</a></td>
<td>{{ product.article }}</td>
<td>{{ product.partnumber }}</td>
<td><a href="/admin/shop/product/{{ product.product_id }}/">{{ product.title }}</a></td>
<td>{{ product.quantity }}</td>
<td>{{ product.stock|safe }}</td>
<td><a href="/admin/shop/order/{{ product.order_id }}/">№{{ product.order_id }}</a></td>
<td><span style="color: {{product.order_status_color }}">{{ product.order_status_value }}</span></td>
</tr>
{% endfor %}
</table>
{% endblock %}
