{% extends "zinnia/base.html" %}
{% load i18n %}

{% block meta-description %}{% trans "Category list" %}{% endblock meta-description %}

{% block title %}{% trans "Categories" %}{% endblock title %}
{% block content_title %}{% trans "Category list" %}{% endblock content_title %}


{% block content %}
<ul class="list-style">
    {% for object in object_list %}
    <li class="row">
        <a class="col-sm-3" href="{{ object.get_absolute_url }}">{{ object }}</a>
        <span class="col-sm-9">{% blocktrans count entry_count=object.count_entries_published %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}</span>
        {% if object.description %}<p>{{ object.description|striptags|safe }}</p>{% endif %}
    </li>
    {% empty %}
    <li>
        {% trans "No categories yet." %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}
