{% extends "zinnia/entry_list.html" %}

{% load i18n %}

{% block meta-description %}{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}{% endblock meta-description %}

{% block title %}{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}{% endblock title %}
{% block content_title %}{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}{% endblock content_title %}

{% block breadcrumbs %}
  {{ block.super }}
  {% load django_bootstrap_breadcrumbs %}
  {% breadcrumb day|date:"Y" 'zinnia:entry_archive_year' day|date:"Y" %}
  {% breadcrumb day|date:"F" 'zinnia:entry_archive_month' day|date:"Y" day|date:"m" %}
  {% breadcrumb day|date:"d" "" %}
{% endblock breadcrumbs %}

{% block content-related %}
<nav class="entry-navigation mt-5">
  {% if previous_day %}
  <a class="entry-navigation-link" href="{% url 'zinnia:entry_archive_day' previous_day|date:"Y" previous_day|date:"m" previous_day|date:"d" %}" data-toggle="tooltip" data-placement="top" title="{{ previous_day|date:"DATE_FORMAT" }}" rel="archives"><i class="czi-arrow-left mr-2"></i><span class="d-none d-sm-inline">Пред<span class="d-none d-md-inline">ыдущий</span> день</span></a>
  {% endif %}
  <a class="entry-navigation-link" href="{% url 'zinnia:entry_archive_index' %}"><i class="czi-view-list mr-2"></i><span class="d-none d-sm-inline">Все записи</span></a>
  {% if next_day %}
  <a class="entry-navigation-link" href="{% url 'zinnia:entry_archive_day' next_day|date:"Y" next_day|date:"m" next_day|date:"d" %}" data-toggle="tooltip" data-placement="top" title="{{ next_day|date:"DATE_FORMAT" }}" rel="archives"><span class="d-none d-sm-inline">След<span class="d-none d-md-inline">ующий</span> день</span><i class="czi-arrow-right ml-2"></i></a>
  {% endif %}
</nav>
{% endblock content-related %}
