{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block link %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
{% endblock link %}
{% block css %}
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/screen.css" %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/theme/css/print.css" %}" />

    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->

    <style>
        .zinnia .complementary {
            font-size: 80%;
        }
        .zinnia .entry-content img {
            padding: 0;
        }
        .zinnia .breadcrumbs li:last-child {
        display: none;
        }
        .zinnia .breadcrumbs li:nth-last-child(2):after {
        content: "";
        }
    </style>
{% endblock css %}
{% block script %}{% endblock script %}
{% block content_wrapper %}
<div class="container-fluid zinnia">
<!-- ------------------------------------------------------------------------------------------------------------ -->
<div class="row">
<div class="col-md-18 hfeed" role="main">
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block slider %}{% endblock slider %}
{% block content %}
        <div class="links">
          <h2>{% trans "Useful links" %}</h2>
          <ul>
            <li>
              <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
                {% trans "Weblog index" %}
              </a>
            </li>
            <li>
              <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
                {% trans "Sitemap" %}
              </a>
            </li>
          </ul>
        </div>
        <div class="search">
          <h2>{% trans "Search" %}</h2>
          {% include "zinnia/tags/search_form.html" %}
        </div>

    </div>
{% endblock %}
</div>
<div class="col-md-6 complementary" role="complementary">
        <h3>Поиск по блогу</h3>
        <form method="get" action="{% url 'zinnia:entry_search' %}" class="form-inline">
            <input type="text" name="pattern" class="form-control input-sm" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
            <input type="submit" class="btn btn-sm btn-default" value="Искать" />
        </form>
          <ul class="top-navigation">
            <li>
              <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap" rel="sitemap">
                {% trans "Sitemap" %}
              </a>
            </li>
            <li>
              <a href="{% url 'zinnia:entry_feed' %}" title="{% trans "RSS feed of last entries" %}" class="feeds">
                {% trans "RSS feed" %}
              </a>
            </li>
          </ul>
        {% block sidebar %}
        {% endblock sidebar %}
</div>
</div> <!-- /container-fluid -->
{% endblock %}
