{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block link %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
{% endblock link %}
{% block css_wrapper %}
    <style>
        article .article-content img { margin: 0.4rem }
    </style>
{% endblock css_wrapper %}
{% block content_wrapper %}
    <!-- Page Title -->
    <div class="bg-{% block page_title_bg_color %}secondary{% endblock %} {% block page_title_class %}py-4{% endblock %}">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        {% load django_bootstrap_breadcrumbs %}
        {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {% endblock %}
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          {% block render_breadcrumbs %}{% render_breadcrumbs "_breadcrumbs.html" %}{% endblock %}
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3 mb-0 text-{% block page_title_header_color %}dark{% endblock %}">{% block content_title %}{% endblock %}</h1>
          {% block content_title_addon %}{% endblock %}
        </div>
      </div>
    </div>
    <!-- Page Content-->
    <div class="container pb-5 mb-2 mb-md-4">
      {% block slider %}{% endblock slider %}
      <div class="row pt-5 mt-2">
        <!-- Entries list-->
        <section class="col-lg-8">
        {{ block.super }}
        </section>
        <aside class="col-lg-4">
          <!-- Sidebar--><a class="cz-sidebar-toggler" href="#blog-sidebar" data-toggle="sidebar"><i class="czi-menu"></i>
            <div class="font-size-xs mt-n1">Панель</div></a>
          <div class="cz-sidebar border-left ml-lg-auto" id="blog-sidebar">
            <div class="cz-sidebar-header box-shadow-sm">
              <button class="close ml-auto" type="button" data-dismiss="sidebar" aria-label="Закрыть"><span class="d-inline-block font-size-xs font-weight-normal align-middle">Закрыть панель</span><span class="d-inline-block align-middle ml-2" aria-hidden="true">&times;</span></button>
            </div>
            <div class="cz-sidebar-body py-lg-1" data-simplebar data-simplebar-auto-hide="true">
              <div class="widget mb-grid-gutter">
                <h3 class="widget-title">Поиск по блогу</h3>
                <form class="input-group-overlay" method="get" action="{% url 'zinnia:entry_search' %}">
                  <input class="form-control appended-form-control form-control-sm" type="text" name="pattern" placeholder="{% trans "Keywords..." %}"{% if pattern %} value="{{ pattern }}"{% endif %}>
                  <div class="input-group-append-overlay"><span class="input-group-text"><i class="czi-search"></i></span></div>
                </form>
              </div>
              {% block sidebar %}{% endblock sidebar %}
            </div>
          </div>
        </aside>
      </div>
    </div>
    {% block page-content-related %}{% endblock page-content-related %}
{% endblock %}
