{% extends "admin/import_export/change_list_import_export.html" %}
{% block extrahead %}
{{ block.super }}
<script>
    (function($) {
        $(document).ready(function() {
            var $c = $("#result_list th.column-enabled div.text a");
            $c.attr("title", $c.text()).text("в");
            $c = $("#result_list th.column-show_on_sw div.text a");
            $c.attr("title", $c.text()).text("ш");
            $c = $("#result_list th.column-avito div.text a");
            $c.attr("title", $c.text()).text("а");
            $c = $("#result_list th.column-beru div.text a");
            $c.attr("title", $c.text()).text("б");
            $c = $("#result_list th.column-taxi div.text a");
            $c.attr("title", $c.text()).text("т");
            $c = $("#result_list th.column-market div.text a");
            $c.attr("title", $c.text()).text("м");
            $c = $("#result_list th.column-spb_market div.text a");
            $c.attr("title", $c.text()).text("с")
            $c = $("#result_list th.column-merchant div.text a");
            $c.attr("title", $c.text()).text("g")

            $("#result_list th.column-orders_link div.text span").attr("title", "Заказы");
            $("#result_list th.column-product_link div.text span").attr("title", "Открыть на сайте");
        });
    })(django.jQuery);
</script>
{% endblock %}
{% block object-tools-items %}
{% load admin_urls %}
<li><a href="{% url opts|admin_urlname:'stock_correction' %}">Коррекция склада</a></li>
{{ block.super }}
{% endblock %}
