{% extends "admin/change_form.html" %}
{% block extrastyle %}
{{ block.super }}
<style>
    .inline-group h2 { text-transform: none; }
    div.form-row.field-categories .stacked,
    div.form-row.field-categories .stacked .selector-available,
    div.form-row.field-categories .stacked .selector-chosen,
    div.form-row.field-categories .stacked select { width: 800px }    
</style>
{% endblock %}
{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
    (function($) {
        $(document).ready(function() {
            $("#set_constituents-group").detach().appendTo($("#id_recalculate_price").closest("fieldset"));
        });
    })(django.jQuery);
</script>
{% endblock %}
