{% extends "page.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}Архив форума{% endblock %}
{% block content_title %}Архив форума{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Форум" "spirit:topic:index-active" %}
    {% breadcrumb "Архив форума" "" %}
{% endblock %}
{% block content %}
<div class="container py-5 mb-2 mb-md-4">
<h2 class="h3 pb-3">Разделы</h2>
<ul class="list-unstyled">
{% for topic in topics %}
    <li><a href="{% url 'forum:topic' topic.id %}">{{ topic.title }}</a></li>
{% endfor %}
</ul>

</div>
{% endblock %}
