{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}Архив форума{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "К первой странице" "/" %}
{% endblock %}
{% block content %}
<div class="container">
<h1>Архив форума</h1>

<h2>Разделы:</h2>
<ul>
{% for topic in topics %}
    <li><a href="{% url 'forum:topic' topic.id %}">{{ topic.title }}</a></li>
{% endfor %}
</ul>

</div>
{% endblock %}
