{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}{{ thread.title }}{% endblock %}
{% block css %}
<style>
.comments { margin-bottom: 32px; }
.comment { padding: 12px; border-top: #cecece 1px solid; }
.comment:last-child { border-bottom: #cecece 1px solid; }
.comment-date { color: #666; font-size: 80%; margin-bottom: 12px; text-align: right; }
</style>
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "К первой странице" "index" %}
    {% breadcrumb "Форум" "spirit:topic:index-active" %}
    {% breadcrumb "Архив" "forum:index" %}
    {% breadcrumb thread.topic.title "forum:topic" thread.topic.pk %}
{% endblock %}
{% block content %}
<div class="container">
<h1>{{ thread.title }}</h1>

<div class="comments">
{% for opinion in opinions %}
    <div class="comment">
        <div class="comment-date">{{ opinion.post|date:"j b Y" }}</div>
        <div class="comment-text">{{ opinion.text|safe }}</div>
    </div>
{% endfor %}
</div>

</div>
{% endblock %}
