{% extends "page.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}{{ topic.title }}{% endblock %}
{% block content_title %}{{ topic.title }}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Форум" "spirit:topic:index-active" %}
    {% breadcrumb "Архив" "forum:index" %}
    {% breadcrumb topic.title "" %}
{% endblock %}
{% block content %}
<div class="container py-5 mb-2 mb-md-4">
<ul class="list-unstyled">
{% for thread in threads %}
    <li><a href="{% url 'forum:thread' thread.id %}">{{ thread.title }}</a> &mdash; {{ thread.mtime|date:"SHORT_DATE_FORMAT" }}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
