{% load spirit_tags i18n %}

{# topic list #}
<div class="rows">

  {% for t in topics %}
    <div class="row{% if not forloop.first %} border-top{% endif %} mx-1 py-2">

      <div class="col-sm">
        {% if t.is_pinned or t.is_globally_pinned %}
          <i class="czi-clip mr-1"></i>
        {% endif %}
        {% if t.is_closed %}
          <i class="czi-locked mr-1"></i>
        {% endif %}

        <a class="{% if t.is_visited %}nav-link-style{% endif %}" href="{{ t.get_bookmark_url }}">{{ t.title }}</a>
      </div>
      {% spaceless %}
        <div class="col-sm-auto font-size-ms text-muted">
          <div class="d-inline-block mr-4">
            {% if show_subcategory %}
            {#  <a class="nav-link-style" {% if t.category.color %}style="color: {{ t.category.color }};"{% endif %} #}
            {#     href="{{ t.category.get_absolute_url }}"                                                          #}
            {#   >{{ t.category.title }}</a>                                                                         #}
            {% else %}
              {% if t.category.parent %}
                <a class="nav-link-style" {% if t.category.parent.color %}style="color: {{ t.category.parent.color }};"{% endif %}
                  href="{{ t.category.parent.get_absolute_url }}"
                >{{ t.category.parent.title }}</a>
              {% else %}
                <a class="nav-link-style" {% if t.category.color %}style="color: {{ t.category.color }};"{% endif %}
                  href="{{ t.category.get_absolute_url }}"
                >{{ t.category.title }}</a>
              {% endif %}
            {% endif %}
          </div>

          <div class="d-inline-block mr-4{% if t.has_new_comments %} js-comment-is-new{% endif %}"><i class="czi-message align-middle mr-1"></i> {{ t.comment_count }}</div>

          <div class="d-inline-block" title="{{ t.last_active }}"><i class="czi-time align-middle mr-1"></i> {{ t.last_active|shortnaturaltime }}</div>
        </div>
      {% endspaceless %}

    </div>
    {% empty %}
    <p>{% trans "There are no topics here, yet" %}</p>
  {% endfor %}

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // .is_new depends on js (bookmarks)
    document.querySelectorAll('.js-comment-is-new')
      .forEach(function(elm) {
        elm.classList.add('text-primary');
      });
  });
</script>
