{% load i18n %}
        {% for c in categories %}
            <div><strong><a href="{{ c.get_absolute_url }}">{{ c.title }}</a></strong></div>
        {% endfor %}
        {% if categories %}
            <div><strong><a href="{% url 'forum:index' %}">Архив форума</a></strong></div>
        {% endif %}

        <div class="new-topic">
            {% if category %}
                <a class="btn btn-sm btn-success button" href="{% url "spirit:topic:publish" category.pk %}">{% trans "Create Topic" %}</a>
            {% else %}
                <a class="btn btn-sm btn-success button" href="{% url "spirit:topic:publish" %}">{% trans "Create Topic" %}</a>
            {% endif %}
        </div>
