{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ topic.title|capfirst }}{% endblock %}
{% block content_title %}
{% if topic.is_pinned or topic.is_globally_pinned %}
<i class="czi-clip mr-2"></i>
{% endif %}
{% if topic.is_closed %}
<i class="czi-locked mr-2"></i>
{% endif %}
{{ topic.title|capfirst }}
{% endblock %}
{% block content_title_addon %}
{% if user.st.is_moderator %}
<a class="font-size-xs" href="{% url "spirit:topic:update" topic.pk %}"><i class="czi-edit align-middle mr-1"></i> {% trans "edit" %}</a>
{% elif user.pk == topic.user.pk and not topic.is_closed %}
<a class="font-size-xs" href="{% url "spirit:topic:update" topic.pk %}"><i class="czi-edit align-middle mr-1"></i> {% trans "edit" %}</a>
{% endif %}
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Форум" "spirit:topic:index-active" %}
    {% if topic.category.parent_id %}
        {% breadcrumb topic.category.parent.title topic.category.parent.get_absolute_url %}
    {% endif %}
    {% breadcrumb topic.category.title topic.category.get_absolute_url %}
{% endblock %}

{% block content %}
    <div class="container py-5 mb-2 mb-md-4 spirit">

    {% if user.st.is_moderator %}
    <div class="text-right mb-3">
        <div class="btn-group dropdown">
            <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="czi-settings"></i></button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item js-show-move-comments" href="#" onclick="$(this).parent().dropdown('hide')"><i class="czi-chat"></i> {% trans "Select comments to move" %}</a>
                {% if topic.is_removed %}
                <a class="dropdown-item js-post" href="{% url "spirit:topic:moderate:undelete" topic.pk %}" ><i class="czi-close-circle"></i> {% trans "Undelete topic" %}</a>
                {% else %}
                <a class="dropdown-item js-post" href="{% url "spirit:topic:moderate:delete" topic.pk %}" ><i class="czi-close-circle"></i> {% trans "Delete topic" %}</a>
                {% endif %}
                {% if topic.is_closed %}
                <a class="dropdown-item js-post" href="{% url "spirit:topic:moderate:unlock" topic.pk %}" ><i class="czi-unlocked"></i> {% trans "Open topic" %}</a>
                {% else %}
                <a class="dropdown-item js-post" href="{% url "spirit:topic:moderate:lock" topic.pk %}" ><i class="czi-locked"></i> {% trans "Close topic" %}</a>
                {% endif %}
                {% if topic.is_pinned %}
                <a class="dropdown-item js-post" href="{% url "spirit:topic:moderate:unpin" topic.pk %}" ><i class="czi-clip"></i> {% trans "Unpin topic" %}</a>
                {% else %}
                <a class="dropdown-item js-post" href="{% url "spirit:topic:moderate:pin" topic.pk %}" ><i class="czi-clip"></i> {% trans "Pin topic" %}</a>
                {% endif %}
                {% if topic.is_globally_pinned %}
                <a class="dropdown-item js-post" href="{% url "spirit:topic:moderate:global-unpin" topic.pk %}" ><i class="czi-clip"></i> {% trans "Unpin topic globally" %}</a>
                {% else %}
                <a class="dropdown-item js-post" href="{% url "spirit:topic:moderate:global-pin" topic.pk %}" ><i class="czi-clip"></i> {% trans "Pin topic globally" %}</a>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="move-comments fixed-bottom py-3 px-5 bg-accent" style="display:none;">
        <div class="move-container form-inline">
            <label class="text-light mr-3">{% trans "Topic id" %}:</label>
            <input id="id_move_comments_topic" class="form-control mr-4" name="topic" type="text" value="" />
            <a class="btn btn-danger move-link js-move-comments" href="#move_to">{% trans "Move" %}</a>
        </div>
    </div>
    {% endif %}

    {% include "spirit/comment/_render_list.html" %}

    <div class="container">
        {% render_paginator page=comments %}

        <div class="notify pt-5">
            {% if user.is_authenticated %}
                {% render_notification_form user=user topic=topic %}
            {% elif not topic.is_closed %}
                <div class="text-right">
                    <a class="btn btn-primary" href="{% url "spirit:comment:publish" topic_id=topic.pk %}">{% trans "Reply" %}</a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
        {% if not topic.is_closed %}
            <div class="media pt-5" id="reply">
                <img class="rounded-circle" width="50" src="{% get_gravatar_url user=user size=50 %}" alt="{{ user.get_full_name }}">
                <div class="media-body pl-3">
                    {% render_comments_form topic=topic %}
                </div>
            </div>
        {% endif %}

        <script>
            document.addEventListener('DOMContentLoaded', function() {

                stModules.bookmark(document.querySelectorAll('.comment'), {
                    csrfToken: "{{ csrf_token }}",
                    target: "{% url "spirit:comment:bookmark:create" topic.pk %}"
                });

                {% if user.st.is_moderator %}
                    stModules.moveComments(document.querySelectorAll('.js-show-move-comments'), {
                        csrfToken: "{{ csrf_token }}",
                        target: "{% url "spirit:comment:move" topic.pk %}"
                    } );
                {% endif %}

            });
        </script>
    {% endif %}

    </div>
{% endblock %}
