{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ category.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "К первой странице" "index" %}
    {% breadcrumb "Форум" "spirit:topic:index-active" %}
    {% if topic.category.parent_id %}
        {% breadcrumb topic.category.parent.title topic.category.parent.get_absolute_url %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ category.title }}</h1>

    {% include "spirit/topic/_top_bar.html" with category=category categories=subcategories %}

    {% include "spirit/topic/_render_list.html" with show_subcategory=True %}

    {% render_paginator topics %}

{% endblock %}
