{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ category.title }}{% endblock %}
{% block content_title %}{{ category.title }}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Форум" "spirit:topic:index-active" %}
    {% if topic.category.parent_id %}
        {% breadcrumb topic.category.parent.title topic.category.parent.get_absolute_url %}
    {% endif %}
    {% breadcrumb category.title "" %}
{% endblock %}

{% block content %}
    <div class="container py-5 mb-2 mb-md-4 spirit">
    {% include "spirit/topic/_top_bar.html" with category=category categories=subcategories %}
    {% include "spirit/topic/_render_list.html" with show_subcategory=True %}
    {% render_paginator topics %}
    </div>
{% endblock %}
