{% load static %}
{% load thumbnail %}
<html>
<body>
<style type="text/css">
.sewingworld_button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 9pt;
    line-height: 1.428571429;
    border-radius: 4px;
    user-select: none;
    text-decoration:none;
}
</style>
<p><strong>Здравствуйте!</strong></p>

<p>Недавно Вы хотели оформить заказ в магазине "{{ owner_info.short_name }}", но почему-то остановились на самом интересном месте.</p>
<p>Каждый день к нам приходят тысячи покупателей и товары из Вашей корзины могут понравиться кому-то ещё. А Вам не достанется...</p>
<p>Не откладывайте покупку на завтра! Тем более, что Вы уже выбрали для себя то, что нужно!</p>
<h3>Товары в корзине:</h3>
{% for item in basket.items.all %}
<p>
<div style="width:130px; float:left; text-align:center;">
{% if item.product.image %}
{% thumbnail item.product.image '120x120' padding=True as im %}
<img src="{{ owner_info.www }}{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title }} {{ product.whatis }}" />
{% endthumbnail %}
{% endif %}
</div>
<b>{{ item.product.title }}</b></p>
<br clear="all"/>
{% endfor %}
<p><a href="{{ restore_url }}?utm_source=email&utm_content=abandoned_basket" class="sewingworld_button">Перейти в корзину</a></p>
<p><a href="{{ clear_url }}?utm_source=email&utm_content=abandoned_basket" class="sewingworld_button">Очистить корзину</a></p>
<p>С благодарностью,<br/>
служба контроля качества<br/>
интернет-магазина "<a href="{{ owner_info.www }}">{{ owner_info.short_name }}</a>"</p>
</body>
</html>
