<table>
<tr><td>Заказ:</td><td      style="font-size: 14pt;">{{ order.id }} от {{ order.created|date:"j.m.Y" }}</td></tr>
<tr><td>Покупатель:</td><td style="font-size: 14pt;">{{ order.name }}</td></tr>
<tr><td>Телефон:</td><td    style="font-size: 14pt;">{{ order.phone }}</td></tr>
<tr><td>Адрес:</td><td      style="font-size: 14pt;">{{ order.address }}</td></tr>
<tr><td>E-mail:</td><td                             >{{ order.email }}</td></tr>
<tr><td>Комментарии:</td><td                        >{{ order.comment }}</td></tr>
</table>
<table style="border:1px solid gray; border-collapse:collapse; width:100%;">
<tr>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px;"                   >№</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px;"                   >Код</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px;"                   >Partnumber</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px;"                   >Наименование</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px; text-align:right;" >Цена</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px; text-align:center;">Кол-во</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px; text-align:right;" >Сумма</td>
</tr>
{% for item in order.items.all %}
<tr>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px;"                   >{{ forloop.counter }}</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px;"                   >{{ item.product.article }}</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px;"                   >{{ item.product.partnumber }}</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px;"                   >{{ item.product.title }}</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px; text-align:right;" >{{ item.cost }}</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px; text-align:center;">{{ item.quantity }}</td>
<td style="border:1px solid lightgray; font-size: 10pt; padding:3px; text-align:right;" >{{ item.price }}</td>
</tr>
{% endfor %}
{% if order.delivery_price > 0 %}
<tr>
<td colspan="4" style="border:1px solid lightgray; font-size: 10pt; padding:3px; text-align:right;">Доставка {{ order.get_delivery_display|capfirst }}:</td>
<td colspan="3" style="border:1px solid lightgray; font-size: 10pt; padding:3px; text-align:right;">{{ order.delivery_price }}&nbsp;руб.</td>
</tr>
{% endif %}
<tr>
<td colspan="4" style="border:1px solid lightgray; font-size: 10pt; padding:3px; text-align:right;">Итого:</td>
<td colspan="3" style="border:1px solid lightgray; font-size: 10pt; padding:3px; text-align:right;">{{ order.total }}&nbsp;руб.</td>
</tr>
</table>
{% if order.user.discount < 10 and order.total >= 30000 %}<p>Выдать 10% карту!</p>{% endif %}
{% if order.user.discount < 5 and order.total < 30000 and order.total > 3000 %}<p>Выдать 5% карту!</p>{% endif %}
