{% load static %}
{% load shop_filters %}
<html>
<body>
<style type="text/css">
.sewingworld_button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 9pt;
    line-height: 1.428571429;
    border-radius: 4px;
    user-select: none;
    text-decoration:none;
}
</style>
<p><strong>Здравствуйте!</strong></p>

<p>Недавно Вы совершили покупку в интернет-магазине "Швейный Мир".<br />
Надеемся, у Вас уже получилось воспользоваться приобретёнными товарами.<br />
Пожалуйста, поделитесь Вашим мнением о них с будущими покупателями:</p>
{% for item in order.items.all %}
<p>
<div style="width:130px; float:left; text-align:center;">
{% if item.product.image_prefix|add:'.s.jpg'|file_exists %}
<img src="https://www.sewing-world.ru{% get_media_prefix %}{{ item.product.image_prefix }}.s.jpg" />
{% endif %}
</div>
<b>{{ item.product.title }}</b><br/>
<a href="https://www.sewing-world.ru{% url 'review_product' item.product.code %}" class="sewingworld_button">Оставить отзыв</a></p>
<br clear="all"/>
{% endfor %}
<p>С благодарностью,<br>
служба контроля качества<br>
интернет-магазина "<a href="https://www.sewing-world.ru">Швейный Мир</a>"</p>

</body>
</html>
