<html>
<body>
<p><strong>Здравствуйте, {{ order.name }}!</strong></p>
 
<p>Интернет-магазин "Швейный Мир" благодарит Вас за покупку!</p>
 
<p>Если у Вас возникнут какие-то затруднения при освоении новой техники,<br>
Вы можете задать вопрос по телефону {{ shop_info.phone }} и наш специалист Вам поможет.</p>

<p>Просим Вас потратить совсем немного времени и оставить отзыв о нашей работе в системе 
"<a href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*http://market.yandex.ru/shop/4767/reviews"><span style="color:red;">Я</span>ндекс.Маркет</a>".<br>
Нам бы очень хотелось, чтобы эта оценка объективно отражала наши усилия по работе с покупателями.</p>

<p>После того, как администраторы "<a href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*http://market.yandex.ru/shop/4767/reviews"><span style="color:red;">Я</span>ндекс.Маркета</a>" опубликуют Ваше сообщение,<br>
мы пополним счет Вашего мобильного телефона на 100 рублей.<br>
Напишите в тексте отзыва номер заказа <b>{{ order.id }}</b>, чтобы мы знали, кто должен получить бонус.<br>
Если необходимо пополнить счет телефона, отличный от указанного при заказе, напишите нам об этом в ответном письме.</p>

<p>Если Вам что-то не понравилось в нашей работе, пожалуйста напишите нам об этом.</p>

<p>Еще раз благодарим за сделанный Вами заказ и уделенное нам время. Спасибо!!!</p>

<p>С уважением,<br>
служба контроля качества<br>
интернет-магазина "Швейный Мир"</p>
 
<p><small>Вы получили это письмо, так как недавно приобрели продукцию в нашем интернет-магазине.<br>
Это письмо отправляется лишь один раз и больше мы Вас не побеспокоим.</small></p>

</body>
</html>
