<p>Вы сделали заказ №<b>{{ order.id }}</b> в интернет-магазине <a href="http://www.sewing-world.ru">"Швейный Мир"</a></p>

<p>При необходимости наш менеджер свяжется с Вами, уточнит состав заказа, согласует способ оплаты,<br>
стоимость и способ доставки, и предложит удобное время доставки.</p>

<p>Следить за обработкой заказа и видеть его состояние Вы можете в 
"<a href="http://order.sewing-world.ru/shop/user/orders/{{ order.id }}/">Личном кабинете</a>".</p>

<p>О важных изменениях в заказе мы оповестим Вас по СМС и e-mail.</p>

<p>Если у Вас есть какие-то вопросы, позвоните нам по телефону <b>+7-495-766-56-75</b>.</p>

<p>Спасибо за заказ!<br>
С уважением, администрация магазина "Швейный Мир".</p>