<html>
<body>
<p><strong>Здравствуйте, {{ order.name }}!</strong></p>

<p>Недавно Вы осуществили покупку в интернет-магазине "Швейный Мир". Надеемся, у Вас уже
получилось воспользоваться приобретёнными товарами. Пожалуйста, поделитесь Вашим мнением
о них с будущими покупателями:</p>
{% for item in order.items.all %}
<p>{{ item.product.title }}:<br/>
<a href="https://www.sewing-world.ru{% url 'review_product' item.product.code %}">оставить отзыв</a></p>
{% endfor %}
<p>С уважением,<br>
служба контроля качества<br>
интернет-магазина "Швейный Мир"</p>

<p><small>Вы получили это письмо, так как недавно приобрели продукцию в нашем интернет-магазине.<br>
Это письмо отправляется лишь один раз и больше мы Вас не побеспокоим.</small></p>

</body>
</html>
