@import '@/vendor/cartzilla/scss/variables';

.Positioner {
  width: var(--positioner-width);
  height: var(--positioner-height);
  max-width: var(--available-width);
}

.Popup {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: canvas;
  color: $body-color;
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  width: var(--popup-width, auto);
  height: var(--popup-height, auto);
  max-width: 60vw;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

    outline: 1px solid $gray-500;
    box-shadow:
      0 10px 15px -3px $gray-500,
      0 4px 6px -4px $gray-500;
}

.Arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: canvas;
}

.ArrowOuterStroke {
  fill: $gray-500;
}

.Container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.Description {
  margin: 0;
}
