{% load i18n admin_urls %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>

<ul>
  <li><select id="{{ title|slugify }}_filter_select" style="width:100%">
    {% for choice in choices %}
      <option{% if choice.selected %} selected="selected"{% endif %}
        value="{{ choice.query_string|iriencode }}">{{ choice.display }}</option>
    {% endfor %}
  </select></li>
</ul>

<script>
  (function($) {
    $('select#{{ title|slugify }}_filter_select').change(function(evt) {
      window.location.href = $(this).val();
    });
  })(django.jQuery);
</script>
