{% extends "base.html" %}
{% load spirit_tags i18n %}
{% load static from staticfiles %}
{% block javascript %}
    <script src="{% static "js/eldarion-ajax.min.js" %}"></script>
    <script src="{% static "spirit/scripts/all.min.js" %}"></script>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        stModules.tab(document.querySelectorAll('.js-tab'));
        stModules.postify(document.querySelectorAll('.js-post'), {
            csrfToken: "{{ csrf_token }}"
        });
        stModules.messages(document.querySelectorAll('.js-messages'));
        {% if user.is_authenticated %}
            stModules.notification(document.querySelectorAll('.js-tab-notification'), {
                notificationUrl: "{% url "spirit:topic:notification:index-ajax" %}",
                notificationListUrl: "{% url "spirit:topic:notification:index-unread" %}",
                mentionTxt: "{% trans "{user} has mention you on {topic}" %}",
                commentTxt: "{% trans "{user} has commented on {topic}" %}",
                showAll: "{% trans "Show all" %}",
                empty: "{% trans "No new notifications, yet" %}",
                unread: "{% trans "unread" %}"
            });
        {% endif %}
        var buttons = document.getElementsByClassName('button');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.add('btn');
            buttons[i].classList.add('btn-sm');
            buttons[i].classList.add('btn-default');
        }
        buttons = document.getElementsByClassName('reply-button');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.add('btn');
            buttons[i].classList.add('btn-sm');
            buttons[i].classList.add('btn-success');
        }
        buttons = document.getElementsByClassName('is-undo');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.add('btn');
            buttons[i].classList.add('btn-sm');
            buttons[i].classList.add('btn-warning');
        }
    });
    </script>
{% endblock javascript %}
{% block css %}
    <link rel="stylesheet" href="{% static "spirit/stylesheets/vendors/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "spirit/stylesheets/vendors/textcomplete.css" %}">
    <link rel="stylesheet" href="{% static "spirit/stylesheets/styles.css" %}">

    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
    <![endif]-->
{% endblock css %}
{% block body_top %}<div class="js-tabs-container">{% endblock %}
{% block body_bottom %}</div>{% endblock %}
{% block content_wrapper %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
{% endblock %}
    <div class="container-fluid spirit">
    {% render_breadcrumbs "_breadcrumbs.html" %}
    <div class="container">
    {% if user.is_authenticated %}
        <div class="header-tab-content js-tab-content js-notifications-content"></div>
        <div class="header-tab-content js-tab-content js-search-content">
            <form method="get" action="/forum/search/">
                <div class="field">
                    <label for="id_q">Найти:</label> <input type="search" name="q" id="id_q">
                </div>
                <input class="button btn btn-sm btn-default" type="submit" value="Найти">
            </form>
        </div>
    {% endif %}
    {% render_messages messages %}
    {% block content %}{% endblock %}
    </div>
    </div>
{% endblock content_wrapper %}
{% block user_profile_links %}
{% if user.is_authenticated %}
{% has_topic_notifications user as has_notifications %}
<a class="header-tab-link js-tab" href="/forum/search/" data-related=".js-search-content"><i class="fa fa-search"></i></a>
<a class="header-tab-link js-tab-notification is-highlighted" href="/forum/topic/notification/" data-related=".js-notifications-content"><i class="fa fa-bell"></i></a>
{% endif %}
{% endblock user_profile_links %}
