{% extends "page.html" %}
{% load spirit_tags i18n %}
{% load render_view %}
{% load static from staticfiles %}
{% block javascript %}
<script src="{% static "spirit/scripts/all.min.js" %}"></script>
<script>
(function () {
    'use strict';

    {% if user and not user.username and not user.name %}
    var addFormSumbitListener = function() {
        var form = document.getElementById("id_phone").form;
        form.addEventListener('submit', function(event) {
            var $form = $(form);
            var data = $form.serialize() + '&ajax=1';
            $.post($form.attr('action'), data, function(data) {
                $('#sw-user-update-modal').find('.modal-body').html(data.html);
                addFormSumbitListener();
            }, 'json');
            event.preventDefault();
            event.stopPropagation();
        }, false);

        if (form.checkValidity() && (form.name.value || form.username.value)) {
            $('#sw-user-update-modal').modal('hide');
            $('#sw-user-update-warning').addClass('d-none');
        }
    };
    {% endif %}

    document.addEventListener('DOMContentLoaded', function() {
        stModules.postify(document.querySelectorAll('.js-post'), {
            csrfToken: "{{ csrf_token }}"
        });
        stModules.messages(document.querySelectorAll('.js-messages'));

        {% if user and not user.username and not user.name %}
        $('#sw-user-update-modal').on('show.bs.modal', function() {
            if (!document.getElementById("id_phone")) {
                $.get('{% url 'shop:profile' %}?ajax=1', function(data) {
                    $('#sw-user-update-modal').find('.modal-body').html(data.html);
                    addFormSumbitListener();
                });
            }
        });
        {% endif %}
    });
}());
</script>
{% endblock javascript %}
{% block css_wrapper %}
    <style>
        .media-body blockquote { margin-left: 1rem; padding-left: 1rem; font-size: 80%; border-left: 3px solid #e3e9ef; }
        .js-box-preview-content { padding:.5rem; border: 1px solid #e3e9ef; border-radius: .3125rem }
        .media-body .list-inline-item.comment-date li { margin-left: 0.5rem; display: inline-block; }
    </style>
    <link rel="stylesheet" href="{% static "spirit/stylesheets/vendors/textcomplete.css" %}">
{% endblock %}
{% block body_top %}
    {% if user and not user.username and not user.name %}
    <div class="modal" tabindex="-1" role="dialog" id="sw-user-update-modal">
      <div class="modal-dialog" role="document">
        <form id="sw-update-user-form" class="modal-content needs-validation{% if invalid %} was-validated{% endif %}" method="post" novalidate action="{% url 'shop:profile' %}">
          <div class="modal-body">
            <div class="text-center">
              <div class="spinner-border" role="status"><span class="sr-only">Загрузка...</span></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
    {% endif %}
{% endblock body_top %}
{% block content %}
    <div class="container pt-5">
    {% render_messages messages %}
    {% if user.is_authenticated %}
      {% has_topic_notifications user as has_notifications %}
      {% if has_notifications %}
      {% view "spirit.topic.notification.views.index_unread" %}
      <div class="mt-2 mb-5"><a class="btn btn-accent btn-sm" href="{% url "spirit:topic:notification:index" %}"><i class="czi-bell mr-2"></i>Все уведомления</a></div>
      {% endif %}

      <form class="input-group-overlay" method="get" action="/forum/search/">
        <input class="form-control appended-form-control" type="text" name="q" placeholder="Поиск по форуму">
        <div class="input-group-append-overlay"><span class="input-group-text"><i class="czi-search"></i></span></div>
      </form>
    {% endif %}
    </div>
{% endblock content %}
