{% extends 'admin/base_site.html' %}
{% load i18n static admin_modify admin_urls %}
{% load site %}
{% block extrastyle %}
{{ block.super }}
<style>
    .form-row { padding-bottom: 10px }
</style>
{% endblock %}
{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url cl.opts|admin_urlname:'changelist' %}">{{ cl.opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}

<div id="content-main">
  <form action="" method="POST" id="{% firstof opts.model_name opts.module_name %}_form">
    {% csrf_token %}
    {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

    {% if form.non_field_errors|length > 0 %}
      <div class="errornote">
          <p>Исправьте следующие ошибки:</p>
          {{ form.non_field_errors }}
      </div>
    {% endif %}

    {% if queryset %}
        {% for instance in queryset %}
            <input type="hidden" name="_selected_action" value="{{ instance.pk }}" />
        {% endfor %}
    {% endif %}
    <fieldset class="module aligned">
      {% for field in form %}
      <div class="form-row"><div>
          {{ field.label_tag }}
          {{ field.errors }}
          {% get_class_name field.field.widget as class %}
          {% if class == 'ReadOnlyInput' or class == 'CheckboxInput' %}
            <div class="readonly">{{ field }}</div>
          {% elif class == 'RadioSelect' %}
            {% for radio in field %}
              {{ radio }}
            {% endfor %}
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.field.help_text %}
          <p class="help">
            {{ field.field.help_text|safe }}
          </p>
          {% endif %}
        </div></div>
      {% endfor %}
    </fieldset>

    <div class="submit-row" style="padding-top: 15px">
    {% if action %}
        <input type="hidden" name="action" value="{{ action }}" />
    {% endif %}
        <input type="submit" class="default" name="{{ action_name }}" value="{{ action_title }}" />
    </div>

  </form>
</div>
{% endblock %}
