{% extends 'admin/base_site.html' %}
{% load i18n admin_urls %}
{% load site %}
{% block extrastyle %}
{{ block.super }}
<style>
    .form-row:last-child { border-bottom: none }
</style>
{% endblock %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block content %}
{% if result %}
{{ result }}
{% endif %}
{% if form %}
<form action="{% url 'admin:import_1c' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

    {% if form.non_field_errors|length > 0 %}
      <div class="errornote">
          <p>Исправьте следующие ошибки:</p>
          {{ form.non_field_errors }}
      </div>
    {% endif %}

    <fieldset class="module aligned">
      {% for field in form %}
        <div class="form-row"><div>
          {{ field.label_tag }}
          {{ field.errors }}
          {% get_class_name field.field.widget as class %}
          {% if class == 'ReadOnlyInput' or class == 'CheckboxInput' %}
            <div class="readonly">{{ field }}</div>
          {% elif class == 'RadioSelect' %}
            <ul id="{{ field.id }}">
            {% for radio in field %}
              <li>{{ radio }}</li>
            {% endfor %}
            </ul>
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.field.help_text %}
          <p class="help">
            {{ field.field.help_text|safe }}
          </p>
          {% endif %}
        </div></div>
      {% endfor %}
    </fieldset>

    <div class="submit-row" style="padding-top: 15px">
        <input class="default" type="submit" value="Импортировать" />
    </div>

</form>
{% endif %}
{% endblock %}
