{% if product.manufacturer.code == 'Family' %}
{% include "./family.html" %}
{# elif product.manufacturer.code == 'Silver' #}
{# include "./silver.html" #}
{% elif product.manufacturer.code == 'Hague' %}
{% include "./hague.html" %}
{% else %}
<!DOCTYPE html>
{% load static %}
{% load site %}
<html>
<head>
  <title></title>
<style type="text/css">
body     { font-size:9pt; font-family:Verdana,sans-serif; }
.wrapper { width:185mm; max-width:185mm; margin-left:14mm; margin-top:47mm;}
.left    { text-align:left;}
.right   { text-align:right;}
.center  { text-align:center;}
.otmetki td { border:1px solid black}
@media all
{
.nextpage { display:none; }
}
@media print
{
.nextpage { display:block; page-break-before:always; }
}
</style>
</head>
<body>
<div class="wrapper">
<table style="width:100%">
<tr>
<td>Модель</td>
<td><b>{{ product.title }}</b></td>
</tr>
<tr>
<td>Серийный номер</td>
<td><b>{{ serial_number }}</b></td>
</tr>
{% if order.seller.name %}
<tr>
<td>Торговая организация</td>
<td>{{ order.seller.name }}, ИНН {{ order.seller.inn }}</td>
</tr>
{% endif %}
</table>

</div>
</body>
</html>
{% endif %}