{% if product.manufacturer.code == 'Family' %}
{% include "./family.html" %}
{# elif product.manufacturer.code == 'Silver' #}
{# include "./silver.html" #}
{% elif product.manufacturer.code == 'Hague' %}
{% include "./hague.html" %}
{% else %}
<!DOCTYPE html>
{% load static %}
{% load site %}
<html>
<head>
  <title></title>
<style type="text/css">
body     { font-size:9pt; font-family:Verdana,sans-serif; }
.wrapper { width:195mm; max-width:195mm; margin-left:10mm; margin-top:40mm;}
.left    { text-align:left;}
.right   { text-align:right;}
.center  { text-align:center;}
.otmetki td { border:1px solid black}
@media all
{
.nextpage { display:none; }
}
@media print
{
.nextpage { display:block; page-break-before:always; }
}
</style>
</head>
<body>
<div class="wrapper">
<table style="width:100%">
<tr>
<td>
<table style="width:100%">
<tr>
<td>Модель</td>
<td><b>{{ product.title }}</b></td>
</tr>
<tr>
<td>Серийный номер</td>
<td><b>{{ serial_number }}</b></td>
</tr>
{% if order.seller.name %}
<tr>
<td>Торговая организация</td>
<td>{{ order.seller.name }}, ИНН {{ order.seller.inn }}</td>
</tr>
{% endif %}
</table>
</td>
<td style="width:4cm" class="center">
{% if product.video_url %}
<div>Видеоинструкция:
  <img src="https://api.sewing-world.ru/api/v0/products/{{ product.id }}/video/qr/" style="width: 25mm; height: 25mm; margin: 1rem" />
</div>
{% endif %}
</td>
</tr>
</table>
</div>
</body>
</html>
{% endif %}
