{% if product.manufacturer.code == 'Family' %}
{% include "./family.html" %}
{# elif product.manufacturer.code == 'Silver' #}
{# include "./silver.html" #}
{% elif product.manufacturer.code == 'Hague' %}
{% include "./hague.html" %}
{% else %}
<table style="width:100%">
<tr>
<td>
<table style="width:100%" class="innertable">
<tr>
<td class="print">Модель</td>
<td><b>{{ product.title }}</b></td>
</tr>
<tr>
<td class="print">Серийный номер</td>
<td><span class="noprint">Серийный номер: </span><b>{{ serial_number }}</b></td>
</tr>
{% if order.seller.name %}
<tr>
<td class="print">Торговая организация</td>
<td>{{ order.seller.name }}, ИНН&nbsp;{{ order.seller.inn }}</td>
</tr>
{% endif %}
</table>
</td>
<td style="width:27mm" class="center">
{% if product.video_url %}
<div class="manual">Инструкция:</div>
<div class="qr"><img src="https://api.sewing-world.ru/api/v0/products/{{ product.id }}/video/qr/" style="width: 20mm; height: 20mm; margin-right:2mm; margin-top:2mm" /></div>
{% endif %}
</td>
</tr>
</table>
{% endif %}
