<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title></title>
<style type="text/css">
body     { font-size:9pt; font-family:Verdana,sans-serif; }
.wrapper { width:200mm; max-width:200mm;}
.left    { text-align:left;}
.right   { text-align:right;}
.center  { text-align:center;}
.otmetki td { border:1px solid black}
@media all
{
.nextpage { display:none; }
}
@media print
{
.nextpage { display:block; page-break-before:always; }
}
</style>
</head>
<body>
<div class="wrapper">
<table style="width:100%">
<tr>
<td style="text-align:center;"><img src="/media/logos/Hague.svg" style="width:50mm"></td>
<td><h1>ГАРАНТИЙНАЯ КАРТОЧКА</h1></td>
<td style="align:right;"><img src="{% static 'i/eac.svg' %}" style="width:10mm"></td>
</tr>
</table>
<table style="width:100%">
<tr>
<td>Модель</td>
<td><b>{{ product.title }}</b></td>
<td>Серийный номер</td>
<td><b>{{ serial_number }}</b></td>
</tr>
<tr>
<td>Торговая организация</td>
<td colspan="3">
Интернет-магазин "Швейный Мир"<br>
www.sewing-world.ru<br>
{{ order.seller.name }}<br>
ИНН {{ order.seller.inn }}<br>
{{ owner_info.phone }}</td>
</tr>
<tr>
<td>Дата продажи</td>
<td>
{% if order.delivery_handing_date %}
{{ order.delivery_handing_date }}
{% elif order.delivery_dispatch_date %}
{{ order.delivery_dispatch_date }}
{% else %}
&laquo;_____&raquo;___________ 20___
{% endif %}
</td>
<td>Продавец</td>
<td>___________</td>
</tr>
</table>

<p class="center">Уважаемый покупатель! Проверьте правильность заполнения гарантийной карточки при покупке!</p>
<p>Купленное вами изделие является технически сложным товаром, изготовленным с высокой точностью и по современным технологиям.
Для успешной эксплуатации изделия пользователю необходимо обладать соответствующими умениями и навыками, а также знаниями технологии вязания.
Для вязания с использованием купленного изделия необходимо применять качественную пряжу, оригинальные аксессуары и материалы для технического обслуживания.</p>
<h2>Условия гарантии</h2>
<h3>Часть 1: Гарантия</h3>
<ol>
<li>Изготовитель гарантирует выполнение всех требований законодательства о защите прав потребителей страны продажи в случае обнаружения
в товаре недостатков, допущенных по вине изготовителя и выявленных в течение гарантийного срока. Претензии к качеству изделия рассматриваются
после проведения проверки авторизованным сервисным центром.<br>
Гарантийный срок составляет 12 месяцев со дня передачи товара потребителю.
</li>
<li>Гарантия не действует в случае использования товара в производственных целях (например, в кооперативах, на фабриках),
индивидуально-трудовой, частно-предпринимательской деятельности, учебном или учебно-производственном процессе. Гарантия
не покрывает возможного ущерба от потери дохода, утраты данных или других потерь, возникших в процессе эксплуатации изделия или связанных
с его неисправностью.</li>
<li>Гарантия не распространяется на выход из строя игл и других быстроизнашивающихся сменных деталей. 
Гарантия не включает профилактические работы, чистку и смазку.</li>
</ol>
<h3>Часть 2: Общие положения</h3>
<ol>
<li>Изготовитель не принимает претензий на некомплектность изделия после продажи</li>
<li>Гарантийные обязательства реализуются при предъявлении правильно и полностью оформленной гарантийной карточки.
Рекомендуем Вам сохранять и иные документы, подтверждающие покупку, а также фирменную упаковку для безопасной транспортировки изделия.</li>
<li>Права, предоставляемые покупателям согласно пунктам ч.1 и ч.2 настоящей гарантийной карточки, не распространяются на:
<ul>
<li>недостатки изделия, возникшие после передачи его покупателю вследствие нарушения покупателем указаний руководства по эксплуатации,
установленных правил и условий использования, обслуживания, хранения и транспортировки изделия, действий третьих лиц или непреодолимой силы (умышленных или неумышленных)</li>
<li>недостатки изделия и его составных частей, связанные с эксплуатационным износом</li>
<li>повреждения, вызванные водой, бытовой химией, животными или насекомыми, а также, маханические повреждения</li>
<li>повреждения, возникшие в результате нестабильности энергосети (резких перепадов силы тока и напряжения), а также
неправильного подключения электроразъемов</li>
<li>случаи использования материалов и деталей, не предусмотренных технической документацией и инструкцией по эксплуатации</li>
</ul>
</li>
<li>Гарантийные и сервисные работы выполняются сервисной организацией, уполномоченной изготовителем. Изготовитель не принимает претензий
и не несет ответственность за последствия ремонта изделия в неуполномоченном сервисе. Проводившие ремонт третьи лица
несут полную ответственность за результаты неквалифицированного вмешательства, работу и безопасность изделия после него. Срок службы изделия составляет 7 лет</li>
</ol>
<p>В случае возникновения неисправности в приобретённом изделии обратитесь в сервисную службу по телефону <b>+7 495 766-56-75</b></p>
</div>
</body>
</html>
