<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title></title>
<style type="text/css">
body     { font-size:9pt; font-family:Verdana,sans-serif; }
.wrapper { width:200mm; max-width:200mm;}
.left    { text-align:left;}
.right   { text-align:right;}
.center  { text-align:center;}
.otmetki td { border:1px solid black}
@media all
{
.nextpage { display:none; }
}
@media print
{
.nextpage { display:block; page-break-before:always; }
}
</style>
</head>
<body>
<div class="wrapper">
<table style="width:100%">
<tr>
<td style="text-align:center;"><img src="{% static 'i/logo.svg' %}" style="width:50mm"></td>
<td><h1>ГАРАНТИЙНАЯ КАРТОЧКА</h1></td>
<td style="align:right;"><img src="{% static 'i/eac.svg' %}" style="width:10mm"></td>
</tr>
</table>
<table style="width:100%">
<tr>
<td>Модель</td>
<td><b>{{ product.title }}</b></td>
<td>Серийный номер</td>
<td><b>{{ serial_number }}</b></td>
</tr>
<tr>
<td>Торговая организация</td>
<td colspan="3">
Интернет-магазин "Швейный Мир"<br>
www.sewing-world.ru<br>
{{ owner_info.full_name }}<br>
ИНН {{ owner_info.inn }}<br>
{{ owner_info.phone }}</td>
</tr>
</table>

<h2>Условия гарантии</h2>
<h3>Часть 1: Гарантия</h3>
<ol>
<li>Изготовитель гарантирует выполнение всех требований законодательства о защите прав потребителей страны продажи в случае обнаружения
в товаре недостатков, допущенных по вине изготовителя и выявленных в течение гарантийного срока.<br>
Гарантийный срок составляет 12 месяцев со дня продажи. Дата продажи определяется по чеку, который выдается при покупке 
(его можно найти в личном кабинете интернет-магазина или маркетплейса, где вы приобрели швейную машину или оверлок).
</li>
<li>Гарантия не дается в случае использования товара в производственных целях (например, в кооперативах, на фабриках),
индивидуально-трудовой, частно-предпринимательской деятельности, учебном или учебно-производственном процессе. Гарантия
не покрывает возможного ущерба от потери дохода, утраты данных или других потерь, возникших в процессе эксплуатации изделия или связанных
с его неисправностью.</li>
<li>Гарантия не распространяется на дефекты ламп освещения, игл, игольной пластинки, приводного ремня, двигателя ткани (зубчатой рейки),
лапок, шпулек, шпульных колпачков, шпуледержателей, ножей и петлителей оверлоков, держателей катушек, нитевдевателей, принадлежностей
для технического обслуживания, педалей, быстроизнашивающихся сменных деталей. Гарантия не включает профилактические работы, чистку и смазку.</li>
</ol>
<h3>Часть 2: Общие положения</h3>
<ol>
<li>Изготовитель не принимает претензий на некомплектность изделия после продажи</li>
<li>Гарантийные обязательства реализуются при предъявлении правильно и полностью оформленной гарантийной карточки.
Рекомендуем Вам сохранять и иные документы, подтверждающие покупку, а также фирменную упаковку для безопасной транспортировки изделия.</li>
<li>Права, предоставляемые покупателям согласно пунктам ч.1 и ч.2 настоящей гарантийной карточки, не распространяются на:
<ul>
<li>недостатки изделия, возникшие после передачи его покупателю вследствие нарушения покупателем указаний руководства по эксплуатации,
установленных правил и условий использования, обслуживания, хранения и транспортировки изделия, действий третьих лиц или непреодолимой силы (умашленных или неумышленных)</li>
<li>недостатки изделия и его составных частей, связанные с эксплуатационным износом</li>
<li>повреждения, вызванные водой, бытовой химией, животными или насекомыми, а также, маханические повреждения</li>
<li>повреждения, возникшие в результате нестабильности энергосети (резких перепадов силы тока и напряжения), а также
неправильного подключения электроразъемов</li>
<li>подключение изделия к компьютеру, совместимость с операционными системами, программным обеспечением и т.п.</li>
<li>случаи использования материалов и деталей, не предусмотренных технической документацией и инструкцией по эксплуатации</li>
</ul>
</li>
<li>Гарантийные и сервисные работы выполняются сервисной организацией, уполномоченной изготовителем. Изготовитель не принимает претензий
и не несет ответственность за последствия ремонта изделия в неуполномоченном сервисе. Проводившие ремонт третьи лица
несут полную ответственность за результаты неквалифицированного вмешательства, работу и безопасность изделия после него. Срок службы изделия составляет 7 лет</li>
</ol>
<p>При обнаружении неисправности в приобретенном товаре, обратитесь в сервисную службу Janome по телефону +7 495 766-56-75 или по электронной почте info@thsm.ru</p>
</div>
</body>
</html>
