{% load site reviews %}
{% load gravatar %}
{% load time %}
<style>
#reviews dt {
  font-size: 14px;
  font-weight: normal;
  clear: both;
}
#reviews dd {
  margin-bottom: 14px;
  padding-left: 74px;
  border-bottom: #eeeeee 1px solid;
}
#reviews .review-rating {
  display: block;
  margin-top: 8px;
}
#reviews .review-rating > .gl-star-rating-stars {
  vertical-align: text-top;
}
#reviews .gl-star-rating-stars > span {
  width: 14px; height: 14px; background-size: 14px; margin: 0 1px 0 0;
}
#reviews .review-rating > .rating-text {
  padding-left: 8px;
  font-weight: bold;
  color: #888;
}
#reviews .review-avatar {
  width: 50px; /* temp */
  float: left;
  margin-right: 24px;
  border-radius: 25px;
}
#reviews .review-published {
  float: right;
}
</style>
<dl id="reviews">
  {% for review in review_list %}
    <dt id="r{{ review.id }}">
      <img src="{% get_gravatar_url user=review.user size=50 %}" class="review-avatar" alt="{{ review.user.get_full_name }}" />
      {{ review.user.get_full_name }}
      <time class="review-published" datetime="{{ review.submit_date|date:"c" }}" title="{{ review.submit_date }}">
        {{ review.submit_date|shortnaturaltime }}
      </time>
    </dt>
    <dd>
      <span class="review-rating">
      {% render_rating_value review.rating %}
      {% with review.rating|add:"-1" as idx %}
        {% with rating_choices|get_list_item:idx as choice %}
          <span class="rating-text">{{ choice.1 }}
            {% if review.weight > 1 and review.weight < 10 %}
              &mdash; отзыв покупателя
            {% endif %}
            {% if review.weight > 10 %}
              &mdash; отзыв эксперта
            {% endif %}
          </span>
        {% endwith %}
      {% endwith %}
      </span>
      {{ review.comment|linebreaks }}
    </dd>
  {% endfor %}
</dl>
