{% load site reviews %}
{% load spirit_tags %}{# for get_gravatar_url, shortnaturaltime #}
{% for review in review_list %}
            <!-- Review-->
            <div class="product-review pb-4 mb-4{% if not forloop.last %} border-bottom{% endif %}" id="r{{ review.id }}">
              <div class="d-flex mb-3">
                <div class="media media-ie-fix align-items-center mr-4 pr-2"><img class="rounded-circle" width="50" src="{% get_gravatar_url user=review.user size=50 %}" alt="{{ review.user.get_full_name }}"/>
                  <div class="media-body pl-3">
                    <h6 class="font-size-sm mb-0">{{ review.user.get_full_name }}</h6><span class="font-size-ms text-muted">{{ review.submit_date|shortnaturaltime }}</span>
                  </div>
                </div>
                <div>
                  <div class="star-rating">{% render_rating_value review.rating %}</div>
                  <div class="font-size-ms text-muted">
                    {% with review.rating|add:"-1" as idx %}
                    {% with rating_choices|get_list_item:idx as choice %}
                    {{ choice.1 }}
                    {% if review.weight > 1 and review.weight <= 10 %}
                    &mdash; отзыв покупателя
                    {% endif %}
                    {% if review.weight > 10 %}
                    &mdash; отзыв эксперта
                    {% endif %}
                    {% endwith %}
                    {% endwith %}
                  </div>
                </div>
              </div>
              <p class="font-size-md mb-2">{{ review.comment|linebreaks }}</p>
            </div>
{% endfor %}
