{% load site reviews %}
{# load spirit_tags #}{# for get_gravatar_url, shortnaturaltime #}
  {% for review in review_list %}
                <div class="media review" id="r{{ review.id }}">
                  <div class="text-center mr-4 mr-xl-5">{#<img src="{% get_gravatar_url user=review.user size=120 %}" class="review-image" alt="{{ review.user.get_full_name }}">#}<span class="text-uppercase text-muted">{{ review.submit_date|shortnaturaltime }}</span></div>
                  <div class="media-body">
                    <h5 class="mt-2 mb-1">{{ review.user.get_full_name }}</h5>
                    <div class="mb-2">{% render_rating_value review.rating %}</div>
                    <p class="text-muted">{{ review.comment|linebreaks }}</p>
                  </div>
                </div>

  {% endfor %}
