{% load i18n %}

{% if notification %}
<form method="post" action="{% url "spirit:topic:notification:update" notification.pk %}">
{% else %}
<form method="post" action="{% url "spirit:topic:notification:create" topic_id %}">
{% endif %}
{% csrf_token %}
{% include "spirit/_form.html" %}

  <div class="text-right">
    {% if notification.is_active %}
    <button class="btn btn-accent btn-sm" type="submit">{% trans "Unnotify Me" %}</button>
    {% else %}
    <button class="btn btn-accent btn-sm" type="submit">{% trans "Notify Me" %}</button>
    {% endif %}
  </div>
</form>
