{% load i18n %}

{% for n in notifications %}
{% url "spirit:user:detail" pk=n.comment.user.pk slug=n.comment.user.st.slug as url_profile %}
{% url "spirit:comment:find" pk=n.comment.pk as url_topic %}
<div class="{% if unread %}alert alert-info alert-with-icon fade show{% else %}mb-3{% endif %}" role="alert">
    <div class="{% if unread %}alert-icon-box{% else %}d-inline-block mr-2{% endif %}"><i class="alert-icon czi-bell"></i></div>
    {% if n.is_comment %}
    {% blocktrans trimmed with username=n.comment.user.get_full_name topic_title=n.topic.title %}Пользователь {{ username }} прокомментировал тему "<a href="{{ url_topic }}" class="alert-link">{{ topic_title }}</a>"{% endblocktrans %}
    {% elif n.is_mention %}
    {% blocktrans trimmed with username=n.comment.user.get_full_name topic_title=n.topic.title %}Пользователь {{ username }} упомянул вас в теме "<a href="{{ url_topic }}" class="alert-link">{{ topic_title }}</a>"{% endblocktrans %}
    {% else %}
    {# Unknown action #}
    {% endif %}

    {% if not unread and not n.is_read %}
    <span class="badge badge-accent badge-shadow ml-2 text-size-xs">{% trans "unread" %}</span>
    {% endif %}
</div>
{% empty %}
{% if not unread %}
<p>{% trans "There are no notifications, yet" %}</p>
{% endif %}
{% endfor %}
