{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Notifications" %}{% endblock %}
{% block content_title %}{% trans "Notifications" %}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Форум" "spirit:topic:index-active" %}
    {% breadcrumb "Уведомления" "" %}
{% endblock %}

{% block content %}
    <div class="container py-5 mb-2 mb-md-4 spirit">
        {% include "spirit/topic/notification/_render_list.html" %}
        {% render_paginator notifications %}
    </div>
{% endblock %}
