<!DOCTYPE html>
<html>
<head>
  <title></title>
<style type="text/css">
body     { font-size:9pt; font-family:Verdana,sans-serif; }
.wrapper { width:200mm; max-width:200mm;}
.left    { text-align:left;}
.right   { text-align:right;}
.center  { text-align:center;}
.otmetki td { border:1px solid black}
@media all
{
.nextpage { display:none; }
}
@media print
{
.nextpage { display:block; page-break-before:always; }
}
</style>
</head>
<body>
<div class="wrapper">
<table style="width:100%">
<tr>
<td style="text-align:center;"><img src="/static/i/husqvarna.svg" style="width:50mm"><br><b>www.husqvarnaviking.com</b></td>
<td><h1>ГАРАНТИЙНАЯ КАРТОЧКА</h1></td>
<td style="align:right;"><img src="/static/i/eac.svg" style="width:10mm"></td>
</tr>
</table>
<p>Благодарим Вас за то, что Вы выбрали марку Husqvarna Viking! Уже более 140 лет мы производим швейную технику,
которая считается эталоном качества. Это изделие является фирменным товаром, изготовленным с высокой точностью
и по самым современным технологиям.</p>
<table style="width:100%">
<tr>
<td>Модель</td>
<td><b>{{ product.title }}</b></td>
<td>Серийный номер</td>
<td><b>{{ serial_number }}</b></td>
</tr>
<tr>
<td>Торговая организация</td>
<td colspan="3"><br>{{ owner_info.name }}<br>
{{ owner_info.full_name }}<br>
ИНН {{ owner_info.inn }}<br>
{{ owner_info.phone }}<br>&nbsp;</td>
</tr>
<tr>
<td>Дата продажи</td>
<td>{% if order.delivery_handing_date %}{{ order.delivery_handing_date }}{% else %}&laquo;_____&raquo;___________ 20___{% endif %}</td>
<td>Продавец</td>
<td>___________</td>
</tr>
</table>

<p class="center">Уважаемый покупатель! Проверьте правильность заполнения гарантийной карточки при покупке!</p>
<div style="border:1px solid black;">
<ul>
Подтверждаю, что:
<li>при покупке изделие полностью укомплектовано и имеет безупречный внешний вид</li>
<li>имеется инструкция, содержание которой удовлетворяет требованиям покупателя</li>
<li>работа изделия проверена демонстрацией основных функций, качество исполнения соответствует требованиям покупателя</li>
<li>предоставлена полная информация об изделии, его назначении, правилах и условиях безопасного использования, хранения и транспортировки</li>
<li>конструкция и ресурс изделия не предполагают его использование с промышленной интенсивностью</li>
<li>с условиями гарантии и безвозмездного устранения недостатков ознакомлен и возражений не имею</li>
</ul>
<br>&nbsp;
<table style="width:100%"><tr><td>&laquo;_____&raquo;__________ 20___</td><td>Подпись покупателя __________________</td></tr></table>
</div>
<h2>Условия гарантии</h2>
<h3>Часть 1: Гарантия</h3>
<ol>
<li>Изготовитель гарантирует выполнение всех требований законодательства о защите прав потребителей страны продажи в случае обнаружения
в товаре недостатков, допущенных по вине изготовителя и выявленных в течение гарантийного срока.<br>
Гарантийный срок составляет:
<ul>
<li>для швейных машин - 12 месяцев со дня продажи</li>
<li>для швейно-вышивальных комплексов - 12 месяцев со дня продажи, но не более 250 часов<sup>*</sup> чистого времени шитья или вышивания
согласно показанию встроенного счетчика рабочих часов.</li>
<sup>*</sup> Для любителей частого шитья: В международной практике (Европа, США) машина нарабатывает 250 часов в среднем за 12 лет.
</ul>
</li>
<li>Гарантия не дается в случае использования товара в производственных целях (например, в кооперативах, на фабриках),
индивидуально-трудовой, частно-предпринимательской деятельности, учебном или учебно-производственном процессе. Гарантия
не покрывает возможного ущерба от потери дохода, утраты данных или других потерь, возникших в процессе эксплуатации изделия или связанных
с его неисправностью.</li>
<li>Гарантия не распространяется на дефекты ламп освещения, игл, игольной пластинки, приводного ремня, двигателя ткани (зубчатой рейки),
лапок, шпулек, шпульных колпачков, шпуледержателей, ножей и петлителей оверлоков, держателей катушек, нитевдевателей, принадлежностей
для технического обслуживания, педалей, быстроизнашивающихся сменных деталей. Гарантия не включает профилактические работы, чистку и смазку.</li>
</ol>
<h3>Часть 2: Безвозмездное устранение недостатков</h3>
<p>
После даты истечения гарантийного срокаизготовитель дополнительно обеспечивает право покупателя
только на бесплатное устранение недостатков, возникших по вине изготовителя, в течение:
<ul>
<li>для швейных машин - 24 месяца</li>
<li>для швейно-вышивальных комплексов - 36 месяцев, но не более 500 часов<sup>*</sup> (с момента начала эксплуатации)
 чистого времени шитья или вышивания согласно показанию встроенного счетчика рабочих часов.</li>
</ul>
</p>
<div class="newpage"></div>
<h3>Часть 3: Общие положения</h3>
<ol>
<li>Изготовитель не принимает претензий на некомплектность изделия после продажи</li>
<li>Гарантийные обязательства реализуются при предъявлении правильно и полностью оформленной гарантийной карточки.
Рекомендуем Вам сохранять и иные документы, подтверждающие покупку, а также фирменную упаковку для безопасной транспортировки изделия.</li>
<li>Права, предоставляемые покупателям согласно пунктам ч.1 и ч.2 настоящей гарантийной карточки, не распространяются на:
<ul>
<li>недостатки изделия, возникшие после передачи его покупателю вследствие нарушения покупателем указаний руководства по эксплуатации,
установленных правил и условий использования, обслуживания, хранения и транспортировки изделия, действий третьих лиц или непреодолимой силы (умашленных или неумышленных)</li>
<li>недостатки изделия и его составных частей, связанные с эксплуатационным износом</li>
<li>повреждения, вызванные водой, бытовой химией, животными или насекомыми, а также, маханические повреждения</li>
<li>повреждения, возникшие в результате нестабильности энергосети (резких перепадов силы тока и напряжения), а также
неправильного подключения электроразъемов</li>
<li>подключение изделия к компьютеру, совместимость с операционными системами, программным обеспечением и т.п.</li>
<li>случаи использования материалов и деталей, не предусмотренных технической документацией и инструкцией по эксплуатации</li>
</ul>
</li>
<li>Гарантийные и сервисные работы выполняются сервисной организацией, уполномоченной изготовителем. Изготовитель не принимает претензий
и не несет ответственность за последствия ремонта изделия в неуполномоченном сервисе. Проводившие ремонт третьи лица
несут полную ответственность за результаты неквалифицированного вмешательства, работу и безопасность изделия после него. Срок службы изделия составляет 7 лет</li>
</ol>
<p><b>Актуальный список адресов уполномоченных сервисных организаций вы можете узнать на сайте www.husqvarnaviking.com</b><br>
Адреса сервисных центров в Москве:<br>
ул. Дмитрия Ульянова, д.31, +7 495 718-86-02<br>
Ленинградское ш., д.3 стр.1, +7 499 158-06-87
</p>

<h2>Отметки о гарантийном и сервисном обслуживании</h2>
<table style="width:100%;border-collapse:collapse;border-spacing:0;" class="otmetki">
<tr>
<td width="60%" style="text-align:center;">Дата и причина обращения. Выполненные работы</td>
<td width="20%" style="text-align:center;">Дата окончания работ<br>___________<br>Дата выдачи</td>
<td width="20%" style="text-align:center;">Подпись механика<br>___________<br>Подпись покупателя</td>
</tr>
<tr>
<td rowspan="2" style="vertical-align:top;height:35mm">&laquo;_____&raquo;___________ 20___ </td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
<tr>
<td rowspan="2" style="vertical-align:top;height:35mm;">&laquo;_____&raquo;___________ 20___ </td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
<tr>
<td rowspan="2" style="vertical-align:top;height:35mm;">&laquo;_____&raquo;___________ 20___ </td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
</table>
<p>Для заметок </p>
</div>
</body>
</html>
