          <nav aria-label="breadcrumb">
            <ol class="breadcrumb {% block breadcrumb_color %}{% endblock %}flex-lg-nowrap justify-content-center justify-content-lg-start{% if breadcrumbs.0.1 == 'Каталог' %} d-lg-block{% endif %}">
              <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i>К первой странице</a></li>
              {% for url, label in breadcrumbs %}
              {% if forloop.last %}
              <li class="breadcrumb-item text-nowrap active" aria-current="page">{{ label|safe }}</li>
              {% else %}
              <li class="breadcrumb-item"><a class="text-nowrap" href="{{ url }}">{{ label|safe }}</a></li>
              {% endif %}
              {% endfor %}
            </ol>
          </nav>
