{% load site %}
{% load partition %}
                  <ul class="dropdown-menu">
                    {% for category in categories_root.get_children|filter_qs:"active"|filter_qs:"!hidden" %}
                    {% if category.get_children|filter_qs:"active"|filter_qs:"!hidden"|length %}
                    <li class="dropdown mega-dropdown"><a class="dropdown-item dropdown-toggle" href="{% url 'category' category.get_path %}" data-toggle="dropdown"><i class="czi-printer opacity-60 font-size-lg mt-n1 mr-2"></i>{{ category.name }}</a>
                      <div class="dropdown-menu p-0">
                        <div class="d-flex flex-wrap flex-md-nowrap px-2">
                          {% for row in category.get_children|filter_qs:"active"|filter_qs:"!hidden"|rows_limited:13 %}
                          <div class="mega-dropdown-column py-md-4{% if forloop.first %} pt-4{% endif %}{% if forloop.last %} pb-4{% endif %} px-3">
                            <div class="widget widget-links">
                              <ul class="widget-list">
                                {% if forloop.first %}
                                <li class="widget-list-item product-title font-weight-medium pb-1"><a href="{% url 'category' category.get_path %}">Все {{ category.name|lower }}<i class="czi-arrow-right font-size-xs ml-1"></i></a></li>
                                <li class="dropdown-divider pb-1"></li>
                                {% endif %}
                                {% for subcategory in row %}
                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="{% url 'category' subcategory.get_path %}">{{ subcategory.name }}</a></li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                          {% endfor %}
                          <div class="mega-dropdown-column d-none d-lg-block py-4 text-center"><a class="d-block mb-2" href="#"><img src="https://demo.createx.studio/cartzilla/img/shop/departments/07.jpg" alt="Computers & Accessories"/></a>
                            <div class="font-size-sm mb-3">Starting from <span class='font-weight-medium'>$149.<small>80</small></span></div><a class="btn btn-primary btn-shadow btn-sm" href="#">See offers<i class="czi-arrow-right font-size-xs ml-1"></i></a>
                          </div>
                        </div>
                      </div>
                    </li>
                    {% else %}
                    <li class="dropdown"><a class="dropdown-item" href="{% url 'category' category.get_path %}"><i class="czi-printer opacity-60 font-size-lg mt-n1 mr-2"></i>{{ category.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                  </ul>
