{% load static %}
{% if field == 'km_class' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/km_class/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'km_font' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/km_font/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sw_hoopsize' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sw_hoopsize/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sw_datalink' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sw_datalink/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_shuttletype' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_shuttletype/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_stitchwidth' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_stitchlength/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_stitchlenght' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_stitchlength/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_maxi' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_maxi/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_stitchquantity' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_stitchquantity/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_buttonhole' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_buttonhole/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_alphabet' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_alphabet/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_dualtransporter' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_dualtransporter/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_platformlenght' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_platformlenght/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_freearm' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_freearm/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_feedwidth' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_feedwidth/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_footheight' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_footheight/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_constant' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_constant/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_speedcontrol' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_speedcontrol/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_needleupdown' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_needleupdown/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_threader' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_threader/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_spool' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_spool/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_presscontrol' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_presscontrol/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_power' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_power/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_organizer' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_organizer/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_autostop' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_autostop/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_ruler' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_ruler/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_cover' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_cover/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_advisor' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_advisor/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_startstop' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_startstop/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_kneelift' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_kneelift/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_diffeed' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_diffeed/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_easythreading' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_easythreading/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
{% if field == 'sm_needles' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_needles/' %}"><img src="{% static 'i/icons/more_icon.png' %}"></a>
{% endif %}
