{% if field == 'km_class' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/km_class/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'km_font' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/km_font/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sw_hoopsize' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sw_hoopsize/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sw_datalink' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sw_datalink/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_shuttletype' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_shuttletype/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_stitchwidth' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_stitchlength/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_stitchlenght' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_stitchlength/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_maxi' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_maxi/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_stitchquantity' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_stitchquantity/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_buttonhole' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_buttonhole/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_alphabet' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_alphabet/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_dualtransporter' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_dualtransporter/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_platformlenght' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_platformlenght/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_freearm' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_freearm/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_feedwidth' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_feedwidth/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_footheight' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_footheight/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_constant' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_constant/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_speedcontrol' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_speedcontrol/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_needleupdown' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_needleupdown/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_threader' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_threader/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_spool' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_spool/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_presscontrol' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_presscontrol/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_power' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_power/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_organizer' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_organizer/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_autostop' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_autostop/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_ruler' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_ruler/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_cover' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_cover/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_advisor' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_advisor/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_startstop' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_startstop/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_kneelift' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_kneelift/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_diffeed' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_diffeed/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_easythreading' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_easythreading/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
{% if field == 'sm_needles' %}
<a class="opener-ajax" href="{% url 'django.contrib.flatpages.views.flatpage' url='help/sm_needles/' %}"><i class="czi-message font-size-ms text-muted"></i></a>
{% endif %}
