{% load staticfiles %}
    <!-- Footer-->
    <footer class="bg-dark pt-3">
      <div class="container pt-2 pb-3">
        <div class="row">
          <div class="col-md-6 text-center text-md-left mb-4">
            <div class="mt-4 text-md-nowrap text-center text-md-left"><a class="social-btn sb-light sb-vk mb-2" href="https://vk.com/sew.world" target="_blank"><i class="czi-vk"></i></a><a class="social-btn sb-light sb-facebook ml-2 mb-2" href="https://www.facebook.com/sewing.world.russia/" target="_blank"><i class="czi-facebook"></i></a><a class="social-btn sb-light sb-instagram ml-2 mb-2" href="https://www.instagram.com/sew.world/" target="_blank"><i class="czi-instagram"></i></a><a class="social-btn sb-light sb-youtube ml-2 mb-2" href="https://www.youtube.com/channel/UC4tM_QChhz6Cul0X4oMzSSw" target="_blank"><i class="czi-youtube"></i></a></div>
            <div class="mt-4 text-md-nowrap text-center text-md-left"><img width="125" src="{% static 'img/cards-alt.png' %}" alt="Принимаем платежи по картам"/></div>
            <div class="mb-3 font-size-xs text-light opacity-25">При поддержке <a class="text-light" href="https://kassa.yandex.ru/" target="_blank">Яндекс.Касса</a></div>
          </div>
          <div class="col-md-6 text-center text-md-left mb-4">
            <div class="widget widget-links widget-light pb-2">
              <h3 class="widget-title text-light">Телефоны</h3>
              <ul class="widget-list font-size-sm text-white">
                <li class="widget-list-item"><span class="opacity-50">Справочная розничных магазинов:</span> <a class="widget-list-link d-inline" href="tel:">+7 495 744-00-87</a></li>
                <li class="widget-list-item"><span class="opacity-50">Заказать швейную машину в Москве:</span> <a class="widget-list-link d-inline" href="tel:{{ shop_info.inet_phone }}">+7 495 766-56-75</a></li>
                <li class="widget-list-item"><span class="opacity-50">Заказать в Санкт-Петербурге:</span> <a class="widget-list-link d-inline" href="tel:">+7 812 536-22-92</a></li>
                <li class="widget-list-item"><span class="opacity-50">Заказать в Казани:</span> <a class="widget-list-link d-inline" href="tel:">+7 843 293-03-20</a></li>
                <li class="widget-list-item"><span class="opacity-50">Заказать в Нижнем Новгороде:</span> <a class="widget-list-link d-inline" href="tel:">+7 831 291-01-41</a></li>
                <li class="widget-list-item"><span class="opacity-50">Промышленное оборудование:</span> <a class="widget-list-link d-inline" href="tel:">+7 499 158-06-87</a></li>
                <li class="widget-list-item"><span class="opacity-50">Оптовые продажи:</span> <a class="widget-list-link d-inline" href="tel:">+7 495 744-00-87</a></li>
                <li class="widget-list-item"><span class="opacity-50">Ремонт швейных машин:</span> <a class="widget-list-link d-inline" href="tel:">+7 495 718-86-02, +7 499 158-06-87</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Second row-->
      <div class="pt-5 bg-darker">
        <div class="container">
          <div class="widget w-100 mb-4 pb-3 text-center mx-auto" style="max-width: 28rem;">
            <h3 class="widget-title text-light pb-1">Subscribe to newsletter</h3>
            <form class="validate" action="https://studio.us12.list-manage.com/subscribe/post-json?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126&amp;c=?" method="get" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form">
              <div class="input-group input-group-overlay flex-nowrap">
                <div class="input-group-prepend-overlay"><span class="input-group-text text-muted font-size-base"><i class="czi-mail"></i></span></div>
                <input class="form-control prepended-form-control" type="email" name="EMAIL" id="mce-EMAIL" value="" placeholder="Your email" required>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe*</button>
                </div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
              </div><small class="form-text text-light opacity-50" id="mc-helper">*Receive early discount offers, updates and new products info.</small>
              <div class="subscribe-status"></div>
            </form>
          </div>
          <hr class="hr-light pb-4 mb-3">
          <div class="d-md-flex justify-content-between">
            <div class="pb-4 font-size-xs text-light opacity-50 text-center text-md-left">© All rights reserved. Made by <a class="text-light" href="https://createx.studio/" target="_blank">Createx Studio</a></div>
            <div class="widget widget-links widget-light pb-4">
              <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                <li class="widget-list-item ml-4"><a class="widget-list-link font-size-ms" href="#">Help Center</a></li>
                <li class="widget-list-item ml-4"><a class="widget-list-link font-size-ms" href="#">Affiliates</a></li>
                <li class="widget-list-item ml-4"><a class="widget-list-link font-size-ms" href="#">Support</a></li>
                <li class="widget-list-item ml-4"><a class="widget-list-link font-size-ms" href="#">Terms &amp; Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
