{% load site %}
{% load rupluralize %}
{% load reviews %}
    <!-- Reviews-->
    <div class="border-top my-lg-3 py-5">
      <div class="container pt-md-2" id="reviews">
        {% get_review_count for product as review_count %}
        {% if review_count %}
        <div class="row pb-3">
          <div class="col-lg-4 col-md-5">
            <h2 class="h3 mb-4">{{ review_count }} {{ review_count|rupluralize:"обзор,обзора,обзоров"}}</h2>
            {% render_rating for product %}
          </div>
          <div class="col-lg-8 col-md-7">
            {% with '#42d697 #a7e453 #ffda75 #fea569 #f34770' as colors %}
            {% with colors.split as color_list %}
            {% get_rating_statistics for product as rating_choices %}
            {% for choice in rating_choices reversed %}
            <div class="d-flex align-items-center mb-2">
              <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">{{ choice.rating }}</span><i class="ci-star-filled fs-xs ms-1"></i></div>
              <div class="w-100">
                <div class="progress" style="height: 4px;">
                  <div class="progress-bar" role="progressbar" style="width: {{ choice.percent|default:"0" }}%; background-color: {{ color_list|get_list_item:forloop.counter0 }}" aria-valuenow="{{ choice.percent|default:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><span class="text-muted ms-3">{{ choice.count|default:"0" }}</span>
            </div>
            {% endfor %}
            {% endwith %}
            {% endwith %}
          </div>
        </div>
        <hr class="mt-4 mb-3">
        {% endif %}
        <div class="row pt-4">
          <!-- Reviews list-->
          <div class="col-md-7">
            {% if review_count %}
            {% render_review_list for product %}
            {% else %}
            <div>Нет отзывов об этом товаре. Вы можете быть первым, кто опубликует отзыв.</div>
            {% endif %}
          </div>
          <!-- Leave review form-->
          {% if request.user.is_authenticated %}
          {% get_review_by_user for product as user_review %}
          {% endif %}
          <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0"{% if user_review and not user_review.is_public %} id="r{{ user_review.id }}"{% endif %}>
            <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-3">
              {% if request.user.is_authenticated %}
              <h3 class="h4 pb-2">{% if user_review %}Изменить{% else %}Оставить{% endif %} отзыв</h3>
              {% if user_review and not user_review.is_public %}
              <div class="alert alert-accent mb-3 fs-sm" role="alert">Ваш отзыв в настоящее время находится на проверке</div>
              {% endif %}
              {% render_review_form for product %}
              {% else %}
              <div>Отзывы о товаре могут оставлять только <a href="{% url 'shop:login' %}?next={% url 'review_product' product.code %}">зарегистрированные</a> покупатели.</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
