{% load static %}
{% load decimals %}
{% load shop_filters %}
<!-- product -->
<div class="product_display" style="min-height:400px; height:auto;">
{% if product.isnew %}
  <div class="product_icon product_icon-new"></div>
{% endif %}
  <div class="thumb center" style="height:162px;">
       <a href="{% url 'product' product.code %}">
       {% if product.image_prefix|add:'.s.jpg'|file_exists %}
       <img  style="height:160px; width:auto;" src="{{ MEDIA_URL }}{{ product.image_prefix }}.jpg" alt="{{ product.title }} {{ product.whatis }}" />
       {% else %}
       <img style="height:160px; width:auto;" src="{% static 'i/0.svg' %}" alt="{{ product.whatis }} {{ product.title }}" />
       {% endif %}
       </a>
    </div>
        <p class="title"><a href="{% url 'product' product.code %}">{{ product.title }}</a></p>

        <div class="description">
        <p>{{ product.whatis }} {{ product.partnumber }}</p>
        <p>{{ product.shortdescr|safe }}</p>
        </div>

{% if product.price > 0 %}
<div class="sw-p-l-prices" style="display:block; text-align:center; width:100%">
{% if product.discount > 0 %}
<s>{{ product.price|quantize:"1" }}</s>&nbsp;руб.<br>
{% endif %}
<span class="sw-p-l-price">{{ product.cost|quantize:"1" }}</span>&nbsp;руб.
</div>
{% if product.instock > 1 %}
<div class="product-nal-true" style="text-align:center; width:100%">Есть в наличии</div>
{% endif %}
{% if product.instock == 1 %}
<div class="product-nal-true" style="text-align:center; width:100%">Мало</div>
{% endif %}
{% if product.instock < 1 %}
<div class="product-nal-false" style="text-align:center; width:100%">Закончились</div>
{% endif %}
<div class="sw-p-l-buy" style="display:block; text-align:center; width:100%">
{% if product.instock > 0 %}
<a href="{% url 'shop:add' product.id %}"
class="addProduct btn btn-xs btn-danger sw-addProduct-sm" role="button" id="p_{{ product.id }}">Купить</a>
{% else %}
<a href="{% url 'shop:add' product.id %}"
class="addProduct btn btn-xs btn-danger sw-addProduct-sm" role="button" id="p_{{ product.id }}">Сообщить о поступлении</a>
{% endif %}


</div>
{% endif %}

{% if product.sales_notes %}
<div class="sw-p-salesnotes text-center">{{ product.sales_notes }}</div>
{% endif %}


</div>
<!-- /product -->
