{% load staticfiles %}
{% load thumbnail %}
{% load decimals %}
{% load shop_filters %}
<!-- product -->
<div class="sw-p-l panel panel-default">
<div class="panel-body">
<div class="sw-p-l-image text-center">
{% if product.variations %}
<a href="{{ product.variations }}" onclick="dataLayer.push({'event': 'productClick','ecommerce': {'click': {'actionField': {'list': '{{ gtm_list }}'},'products': [{'name': '{{ product.partnumber}} {{ product.title }}','id': '{{ product.id }}','price': '{{ product.cost }}','brand': '{{ product.manufacturer.code }}','category': '{{ category.name }}','position': {{ forloop.counter }}}]}},'eventCallback': function() {document.location = {{ product.variations }}}});">
{% else %}
<a href="{% url 'product' product.code %}" onclick="dataLayer.push({'event': 'productClick','ecommerce': {'click': {'actionField': {'list': '{{ gtm_list }}'},'products': [{'name': '{{ product.partnumber}} {{ product.title }}','id': '{{ product.id }}','price': '{{ product.cost }}','brand': '{{ product.manufacturer.code }}','category': '{{ category.name }}','position': {{ forloop.counter }}}]}},'eventCallback': function() {document.location = {% url 'product' product.code %}}});">
{% endif %}
{% if product.image_prefix|add:'.s.jpg'|file_exists %}
<img src="{{ MEDIA_URL }}{{ product.image_prefix }}.s.jpg" alt="{{ product.title }} {{ product.whatis }}" />
{% else %}
{% thumbnail product.image_prefix|add:'.jpg' '120x120' padding=True as im %}
<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title }} {{ product.whatis }}"/>
{% endthumbnail %}
{% endif %}
</a>
</div>
<div class="sw-p-l-name">
<div class="sw-p-l-action">
{% if product.isnew %}
<span class="label sw-new">Новинка</span>
{% endif %}
{% if product.recomended %}
<span class="label sw-recomended">Рекомендуем</span>
{% endif %}
{% for action in product.get_sales_actions %}
{% if action.notice %}
<span class="label sw-action">{{ action.notice }}</span>
{% endif %}
{% endfor %}
</div>
<h3 class="sw-p-l-name-h">
{% if product.variations %}
<a href="{{ product.variations }}" onclick="dataLayer.push({'event': 'productClick','ecommerce': {'click': {'actionField': {'list': '{{ gtm_list }}'},'products': [{'name': '{{ product.partnumber}} {{ product.title }}','id': '{{ product.id }}','price': '{{ product.cost }}','brand': '{{ product.manufacturer.code }}','category': '{{ category.name }}','position': {{ forloop.counter }}}]}},'eventCallback': function() {document.location = {{ product.variations }}}});">
{% else %}
<a href="{% url 'product' product.code %}" onclick="dataLayer.push({'event': 'productClick','ecommerce': {'click': {'actionField': {'list': '{{ gtm_list }}'},'products': [{'name': '{{ product.partnumber}} {{ product.title }}','id': '{{ product.id }}','price': '{{ product.cost }}','brand': '{{ product.manufacturer.code }}','category': '{{ category.name }}','position': {{ forloop.counter }}}]}},'eventCallback': function() {document.location = {% url 'product' product.code %}}});">
{% endif %}
{{ product.title }}</a></h3>
<p>
{% if product.variations %}
<a href="{{ product.variations }}" onclick="dataLayer.push({'event': 'productClick','ecommerce': {'click': {'actionField': {'list': '{{ gtm_list }}'},'products': [{'name': '{{ product.partnumber}} {{ product.title }}','id': '{{ product.id }}','price': '{{ product.cost }}','brand': '{{ product.manufacturer.code }}','category': '{{ category.name }}','position': {{ forloop.counter }}}]}},'eventCallback': function() {document.location = {{ product.variations }}}});">
{% else %}
<a href="{% url 'product' product.code %}" onclick="dataLayer.push({'event': 'productClick','ecommerce': {'click': {'actionField': {'list': '{{ gtm_list }}'},'products': [{'name': '{{ product.partnumber}} {{ product.title }}','id': '{{ product.id }}','price': '{{ product.cost }}','brand': '{{ product.manufacturer.code }}','category': '{{ category.name }}','position': {{ forloop.counter }}}]}},'eventCallback': function() {document.location = {% url 'product' product.code %}}});">
{% endif %}
{{ product.whatis }} {{ product.partnumber }}</a></p>
<div class="sw-p-l-brif">
{{ product.shortdescr|safe }}
</div>
</div>
{% if product.price > 0 %}
<div class="sw-p-l-prices">
{% if product.discount > 0 %}
<div><s class="sw-p-l-oldprice">{{ product.price|quantize:"1" }}</s>&nbsp;руб.</div>
{% endif %}
<div><span class="sw-p-l-price">{{ product.cost|quantize:"1" }}</span>&nbsp;руб.</div>
</div>

<div class="sw-p-l-buy">
{% if product.variations %}
<a href="{{ product.variations }}" class="btn btn-xs btn-success sw-addProduct-sm" role="button" onclick="dataLayer.push({'event': 'productClick','ecommerce': {'click': {'actionField': {'list': '{{ gtm_list }}'},'products': [{'name': '{{ product.partnumber}} {{ product.title }}','id': '{{ product.id }}','price': '{{ product.cost }}','brand': '{{ product.manufacturer.code }}','category': '{{ category.name }}','position': {{ forloop.counter }}}]}},'eventCallback': function() {document.location = {{ product.variations }}}});">Выбрать</a>
{% else %}
{% if product.instock > 0 %}
<a href="{% url 'shop:add' product.id %}"
class="addProduct btn btn-xs btn-success sw-addProduct-sm" role="button" id="p_{{ product.id }}" onclick="var VK_add_to_cart_Params = {'products': [{'id': '{{ product.id }}'}]};
    VK.Retargeting.ProductEvent(3195, 'add_to_cart', VK_add_to_cart_Params); dataLayer.push({'event': 'addToCart','ecommerce': {'currencyCode': 'RUB','add': {'products': [{'name':'{{ product.partnumber}} {{ product.title }}','id':'{{ product.id }}','category':'{{ category.name }}','brand':'{{ product.manufacturer.code }}','price':'{{ product.cost|quantize:"1" }}','quantity': 1}]}}});">Купить</a>
{% else %}
<!-- <a href="{% url 'shop:add' product.id %}"
class="addProduct btn btn-xs btn-success sw-addProduct-sm" role="button" id="p_{{ product.id }}">Сообщить о поступлении</a> -->
{% endif %}
{% endif %}
</div>

{% endif %}

{% if product.sales_notes %}
<div class="sw-p-salesnotes text-center">{{ product.sales_notes }}</div>
{% endif %}

{% if product.instock > 0 and not product.variations %}
<p class="text-center">Наличие: <span class="sw-nal">
{% if product.instock > 1 %}
есть
{% endif %}
{% if product.instock == 1 %}
мало
{% endif %}
</span></p>
{% endif %}
</div>
</div>

<!-- /product -->
