{% load thumbnail %}
{% load site %}
{% load decimals %}
{% load rupluralize %}
{% load render_as_template %}
{% load shop_filters %}
{% load reviews %}
            <div class="row">
              <div class="col-lg-7 pe-lg-0">
                {% if product.image_prefix|add:'.jpg'|file_exists %}
                <!-- Product image -->
                <div class="d-block">{# added d-block #}
                  <div class="ms-0">{# added ms-0, removed order-sm-2 #}
                    <div class="active text-center" id="preview0"><img src="{{ MEDIA_URL }}{{ product.image_prefix }}.jpg" alt="{{ product.title }} {{ product.whatis }}" itemprop="image" data-zoom="{{ MEDIA_URL }}{{ product.image_prefix }}{% if product.image_prefix|add:'.b.jpg'|file_exists %}.b{% endif %}.jpg">
                    </div>
                  </div>
                </div>
                {% else %}
                <div class="d-none d-lg-block"><i class="ci-camera text-muted d-block mx-auto" style="width: 300px; font-size: 300px"></i></div>
                {% endif %}
              </div>
              <!-- Product details-->
              <div class="col-lg-5 pt-4 pt-lg-0 image-zoom-pane">
                <div class="product-details ms-auto pb-3">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <div>
                      {% if product.allow_reviews %}
                      {% get_rating for product as product_rating %}
                      {% if product_rating %}
                      <div class="star-rating">
                        {% render_rating_value product_rating %}<span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1">{% get_review_count for product as review_count %}{{ review_count }} {{ review_count|rupluralize:"обзор,обзора,обзоров"}}</span>
                      </div>
                      {% endif %}
                      {% endif %}
                    </div>
                    <button type="button" class="btn-wishlist{% if request.user.is_authenticated %} favoritize-product{% endif %}{% if is_favorite %} bg-accent text-light{% endif %}" data-id="{{ product.id }}"{% if not is_favorite %} data-favorites-link="{% url 'shop:favorites' %}"{% endif %} {% if request.user.is_authenticated %}href="{% if is_favorite %}{% url 'shop:favorites' %}{% else %}{% url 'shop:favoritize' product.id %}{% endif %}"{% else %}data-bs-toggle="modal" data-bs-target="#favorites-signin-modal"{% endif %} rel="nofollow"><i class="ci-heart" data-bs-toggle="tooltip" data-bs-placement="left" title="{% if is_favorite %}В избранном{% else %}Отложить{% endif %}"></i></button>
                  </div>
                  {% if product.enabled and product.cost > 0 %}
                  <div class="d-flex flex-row align-items-baseline mb-3">
                    <div><span class="h3 fw-normal text-accent me-1">{{ product.cost|quantize:"1" }}<small>&nbsp;руб</small></span>{% if product.discount > 0 %}<del class="text-muted font-size-lg">{{ product.price|quantize:"1" }}<small>&nbsp;руб</small></del>{% endif %}</div>
                    <div class="ms-3">
                      {% if product.discount > 0 %}
                      <span class="badge bg-primary badge-shadow align-middle mt-n2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Базовая цена в магазинах &laquo;Швейный Мир&raquo; без учета скидок <b>{{ product.price|quantize:"1" }}</b>&nbsp;руб. Скидка при покупке в интернет-магазине составляет <b>{{ product.discount|quantize:"1" }}</b>&nbsp;руб.">Скидка</span>
                      {% endif %}
                      {% if product.ishot %}
                      <span class="badge bg-accent badge-shadow align-middle mt-n2">Акция</span>
                      {% endif %}
                      {% if product.isnew %}
                      <span class="badge bg-info badge-shadow align-middle mt-n2">Новинка</span>
                      {% endif %}
                      {% if product.recomended %}
                      <span class="badge bg-warning badge-shadow align-middle mt-n2">Рекомендуем</span>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}{# enabled and cost > 0 #}
                  {% if product.runame or product.whatis %}
                  <div class="fs-sm mb-4"><span class="text-muted fw-medium me-1">{{ product.whatis }} {{ product.runame }}</span></div>
                  {% endif %}
                  <div class="position-relative me-n4">
                    <div class="product-badge product-{% if product.instock < 1 %}not-{% endif %}available mt-1"><i class="ci-security-{% if product.instock > 1 %}check{% elif product.instock == 1 %}announcement{% else %}close{% endif %}"></i>{% if product.enabled %}{% if product.instock > 1 %}В наличии{% elif product.instock == 1 %}Осталось мало{% else %}Закончились{% endif %}{% else %}Товар снят с продажи{% endif %}</div>
                  </div>
                  {% if product.enabled %}
                  <div class="me-2"><div class="me-5 pb-4 pe-5 fs-sm">
                    {% for action in product.get_sales_actions %}{% if action.brief %}
                    <div class="mb-2"><i class="ci-gift text-danger pe-2"></i>{% render_as_template action.brief %}</div>
                    {% endif %}{% endfor %}
                    {% if product.state %}
                    <div class="mb-2"><i class="ci-message text-danger pe-2"></i>{{ product.state }}</div>
                    {% endif %}
                    {% if product.sales_notes %}
                    <div class="mb-2"><i class="ci-announcement text-danger pe-2"></i>{{ product.sales_notes }}</div>
                    {% endif %}
                    {% if product.utilisation %}
                    <div class="mb-2"><i class="ci-gift text-danger pe-2"></i>Участник акции <a href="/actions/utilisation.html">"Утилизация"</a>! Скидка по акции <span class="price">{{ product.maxdiscount }}%</span>!</div>
                    {% endif %}
                  </div></div>
                  {% if product.cost > 0 %}
                  <div class="d-flex align-items-center pt-2 pb-4">
                    {% if product.instock > 5 %}
                    <select class="form-select me-3 quantity-input" style="width: 5rem;">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    {% endif %}
                    {% if product.instock > 0 %}
                    <a class="btn btn-primary btn-shadow d-block w-100 add-to-cart" href="{% url 'shop:add' product.id %}{% if utm_source %}?utm_source={{ utm_source }}{% endif %}" data-id="{{ product.id }}"><span class="d-none spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span><i class="ci-cart fs-lg me-2"></i>Купить</a>
                    {% else %}
                    <a class="btn btn-primary btn-shadow d-block w-100 add-to-cart" href="{% url 'shop:add' product.id %}{% if utm_source %}?utm_source={{ utm_source }}{% endif %}" data-id="{{ product.id }}"><span class="d-none spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span><i class="ci-delivery fs-lg me-2"></i>Сообщить о поступлении</a>
                    {% endif %}
                  </div>
                  {% endif %}
                  <div class="mb-grid-gutter"></div>
                  {% endif %}{# enabled #}

                  <h5 class="h6 mb-3 pb-2 border-bottom"><i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Информация</h5>
                  <div class="pe-4">
                  {% if product.manufacturer %}
                  <div class="d-flex justify-content-between pb-2 fs-sm">
                    <div class="text-muted">Производитель</div>
                    <div class="fw-bolder">{{ product.manufacturer.name }}</div>
                  </div>
                  {% endif %}
                  {% if product.partnumber %}
                  <div class="d-flex justify-content-between pb-2 fs-sm">
                    <div class="text-muted">Артикул</div>
                    <div class="fw-bolder">{{ product.partnumber }}</div>
                  </div>
                  {% endif %}
                  {% if product.developer_country and product.developer_country.enabled %}
                  <div class="d-flex justify-content-between pb-2 fs-sm">
                    <div class="text-muted">Страна разработки</div>
                    <div class="fw-bolder">{{ product.developer_country }}</div>
                  </div>
                  {% endif %}
                  {% if product.country and product.country.enabled %}
                  <div class="d-flex justify-content-between pb-2 fs-sm">
                    <div class="text-muted">Страна производства</div>
                    <div class="fw-bolder">{{ product.country }}</div>
                  </div>
                  {% endif %}
                  {% if product.warranty %}
                  <div class="d-flex justify-content-between pb-2 fs-sm">
                    <div class="text-muted">Гарантия</div>
                    <div class="fw-bolder">{{ product.warranty }}</div>
                  </div>
                  {% endif %}
                  {% if product.article %}
                  <div class="d-flex justify-content-between pb-2 fs-sm">
                    <div class="text-muted">Код товара</div>
                    <div class="fw-bolder">{{ product.article }}</div>
                  </div>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
