{% extends "seo.html" %}
{% block meta-keywords %}Швейные машины, вышивальные и вязальные машины, оверлоки и аксессуары во всероссийской сети супермаркетов Швейный Мир, швейная, швейные, вышивальная, вышивальные, вязальная, вязальные, машинка, машина, машинки, машины, оверлок, оверлоки,  шитье, вышивка, вязание, купить, интернет, магазин, pfaff, brother, janome, bernina, husqvarna, huskystar, viking, оверлок, строчка, петля, челнок, стежок, ткань, рукав{% endblock %}
{% block meta-description %}Швейный Мир - швейные, вышивальные и вязальные машины, оверлоки и аксессуары{% endblock %}
{% block body_header %}
{% if not hide_sign_in %}{% include '_sign_in.html' %}{% endif %}
{% include '_navbar.html' %}
{% endblock body_header %}
{% block content_wrapper %}
    <!-- Page Content-->
{% block content %}{% endblock %}
{% endblock content_wrapper %}
{% block body_footer %}
{% include '_footer.html' %}
{% endblock %}
{% block body_underground %}
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Начало</span><i class="btn-scroll-top-icon czi-arrow-up">   </i></a>
{% endblock %}
{% block javascript_wrapper %}
{% block javascript %}{% endblock %}
{% endblock %}
