<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
{% block title %}
{% endblock %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'bootstrap/css/bootstrap.css' %}" />
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ie6.css' %}" /><![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/magnific-popup.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/singer.css' %}" />
<style type="text/css">
.sw-p-l-prices        { width:50%; display:inline-block; vertical-align:middle; text-align:right; }
.sw-p-l-price         { font-size:1.2em; font-weight:bold;}
.product-nal-true     { color:#4cae4c; font-weight:bold; }
.product-nal-false    { color:#aaaaaa; font-weight:bold; }
.sw-addProduct-sm     { font-weight:bold; text-decoration:none; }
.product-buyblock      { float:none; display:inline-block; vertical-align:top;}
.product-buyblock      { width:100%; }
.product-buyblock-body { max-width:360px; margin: 0 auto; }
#breadcrumbs{display:inline-block;margin:10px 0;padding-left:10px;width:100%;font-weight:300;font-size:12px}
#breadcrumbs ul{margin:0;padding:0;list-style-type:none}
#breadcrumbs li{float:left;padding-left:10px;color:#887F77}
#breadcrumbs li:first-child{padding-left:0}
#breadcrumbs a{padding-right:17px;}
</style>


{% block css %}
{% endblock %}




<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NNFBJP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NNFBJP');</script>
<!-- End Google Tag Manager -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter35991 = new Ya.Metrika({id:35991,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/35991" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div class="container">

            <header>
                <div id="secondaryNavigation">
                    <a href="/shop/user/orders/">Мои заказы</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span id="cart_notice"></span>
                    
                    <div>
                    <script type="text/javascript">window.ya_site_path = { serp: "//site.yandex.ru/search/site/catalog/" };</script>
                    <div style="max-width:380px; padding:0;" class="ya-site-form ya-site-form_inited_no" onclick="return {'action':'http://www.singer.ru/pages/search/','arrow':false,'bg':'transparent','fontsize':'15','fg':'#000000','language':'ru','logo':'rb','publicname':'','suggest':true,'target':'_self','tld':'ru','type':2,'usebigdictionary':false,'searchid':2308446,'input_fg':'#000000','input_bg':'#FFFFFF','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'','input_placeholderColor':'#000000','input_borderColor':'#cbcbcb','is_catalog':true}">
                    <form action="//site.yandex.ru/search/site/catalog/" method="get" target="_self" accept-charset="utf-8">
                    <input type="hidden" name="searchid" value="2308446"/>
                    <input type="hidden" name="l10n" value="ru"/>
                    <input type="hidden" name="reqenc" value=""/>
                    <input type="search" name="text" value="" style="outline: 0 !important;font-size: 15px !important;height: 32px !important;border: 1px solid #ccc;border-radius: 0 !important;"/>
                    <input type="submit" value="Найти" style="outline: 0 !important;font-size: 15px !important;background: #fff !important;color: #000 !important;height: 32px !important;padding: 6px 15px 7px !important;border: 1px solid #cbcbcb;margin: 0 0 0 -1px;border-radius: 0 3px 3px 0;"/>
                    </form>
                    </div>
                    <style type="text/css">.ya-page_js_yes .ya-site-form_inited_no { display: none; }.ya-site-form__input-text:focus,.ya-site-form__submit:focus {border-color: #d0ba65 !important;box-shadow: 0 0 10px #fc0 !important;}</style><script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;if((' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1){e.className+=' ya-page_js_yes';}s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script>
</div>
                    
                    
                    </div> <!-- #secondaryNavigation -->
                <div id="singer">
                    <a href="/"><img src="{% static 'images/newsingerco/logo_singer.png' %}" alt="logo_singer" width="323" height="105"></a>
                </div> <!-- #singer -->
                <div id="socialSearch">
                                <div class="clearfix"></div>
                </div> <!-- #socialSearch -->

                <div id="navigation">
                    <div>
                        <a class="navLink" href="/catalog/">ПРОДУКЦИЯ</a>
                        <div class="megaMenu">
                            <div class="content">
                                <div class="container-fluid">
                                    <div class="row center">
                                        <div class="col-md-3">
                                            <a href="/catalog/electronic/"><img src="{% static 'images/newsingerco/productsElectronic.jpg' %}" alt="Электронные швейные машины" width="147" height="102"></a>
                                            <a href="/catalog/electronic/"><p class="title">Электронные машины</p></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="/catalog/basic/"><img src="{% static 'images/newsingerco/productsMechanical.jpg' %}" alt="Механические швейные машины" width="147" height="102"></a>
                                            <a href="/catalog/basic/"><p class="title">Механические машины</p></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="/catalog/serger/"><img src="{% static 'images/newsingerco/productsSerger.jpg' %}" alt="Оверлоки" width="147" height="102"></a>
                                            <a href="/catalog/serger/"><p class="title">Оверлоки</p></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="/catalog/irons/"><img src="{% static 'images/newsingerco/productsGarment.jpg' %}" alt="Уход за одеждой и домом" width="147" height="102"></a>
                                            <a href="/catalog/irons/"><p class="title">Уход за одеждой и домом</p></a>
                                        </div>
                                    </div>
                                    <div class="row center">
                                        <div class="col-md-6">
                                            <a href="/catalog/Feet/"><img src="{% static 'images/newsingerco/productsFeet.jpg' %}" alt="Лапки для швейных машин" width="147" height="102"></a>
                                            <a href="/catalog/Feet/"><p class="title">Лапки</p></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/catalog/Accessories/"><img src="{% static 'images/newsingerco/productsNotions.jpg' %}" alt="Аксессуары" width="147" height="102"></a>
                                            <a href="/catalog/Accessories/"><p class="title">Аксессуары</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div>
                        <a class="navLink" href="/support">ПОДДЕРЖКА</a>
                        <div class="megaMenu">
                            <div class="content">




                            <div class="container-fluid">
                                    <div class="row center">

                                            <div class="col-md-4">
                                                <a href="/support/instruction-manuals"><img src="/static/images/support_book.png" alt="support_book" width="80" height="80"></a>
                                                <a href="/support/instruction-manuals"><p class="title">РУКОВОДСТВА ПО ЭКСПЛУАТАЦИИ</p></a>
                                                <p style="padding: 0 25px;" class="text small-nodisplay medium-nodisplay">Download manuals for current and past machines.</p>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="https://www.youtube.com/user/SingerSewingCompany" target="_blanc"><img src="/static/images/support_howToVideos.png" alt="How-to videos" width="80" height="80"></a>
                                                <a href="https://www.youtube.com/user/SingerSewingCompany" target="_blanc"><p class="title">УЧЕБНЫЕ ВИДЕО</p></a>
                                                <p class="text small-nodisplay medium-nodisplay">Learn something new with our helpful videos!</p>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="/support/us-warranty-centers"><img src="/static/images/support_service.png" alt="support_ribbon" width="80" height="80"></a>
                                                <a href="/support/us-warranty-centers"><p class="title">СЕРВИСНЫЕ ЦЕНТРЫ</p></a>
                                                <p style="padding: 0 10px;" class="text small-nodisplay medium-nodisplay">Search by state or province to find replacement parts and the service center nearest you.</p>
                                            </div>

                                    </div>
                                </div>




                                </div>
                        </div>
                    </div>
                    <div>
                        <a class="navLink" href="{% url 'django.contrib.flatpages.views.flatpage' url='history/' %}">О КОМПАНИИ</a>
                    </div>
-->
                    <div>
                        <a class="navLink" href="{% url 'django.contrib.flatpages.views.flatpage' url='delivery/' %}">ДОСТАВКА И ОПЛАТА</a>
                    </div>
                    <div>
                        <a class="navLink" href="{% url 'django.contrib.flatpages.views.flatpage' url='where-to-buy/' %}">ГДЕ КУПИТЬ</a>
                    </div>



                    </div>
                
              
            </header>
        </div> <!-- .container -->
        
<div class="container">
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
{% endblock %}
{% render_breadcrumbs "_breadcrumbs.html" %}

<div id="main">
{% block content %}
{% endblock %}
</div> <!-- #main -->
<footer>
<!--
                <div class="navigation small-nodisplay">
                    <a href="/catalog/">Продукция</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/pages/delivery/">Доставка и оплата</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/pages/where-to-buy/">Где купить</a>
                </div>
-->                
                
                <div class="secondaryNavigation" style="margin-top:10px;">

              
<form method="POST" action="https://cp.unisender.com/ru/subscribe?hash=6ag87sp95se3dnxjfcqpuuzuecea35ueiscjkuqxbo9kgbqc8oy3y" name="subscribtion_form">
<div style="font-size:11pt; font-weight:bold; margin-bottom:6px; color:white;">Оставьте свой e-mail и узнайте первыми о скидках и новинках:</div>
    <div class="subscribe-form-item subscribe-form-item--input-email" style="margin-bottom:6px;">
        <label class="subscribe-form-item__label subscribe-form-item__label--input-email subscribe-form-item__label--required" style="color:white;">E-mail</label>
        <input class="subscribe-form-item__control subscribe-form-item__control--input-email" type="text" name="email" value="" style="max-width:300px; width:100%">
    </div>
    <div class="subscribe-form-item subscribe-form-agreement-with-terms" style="margin-bottom:6px;">
        <input class="subscribe-form-item__control subscribe-form-agreement-with-terms--checkbox" type="checkbox">
        <span class="subscribe-form-agreement-with-terms--text">
                                       <span style="font-size: 12px;  color:white;">Я согласен с политикой конфиденциальности</span>
        </span>
    </div>
    <div class="subscribe-form-item subscribe-form-item--btn-submit" style="margin-bottom:6px;">
        <input class="subscribe-form-item__btn subscribe-form-item__btn--btn-submit btn btn-warning" type="submit" value="Подписаться">
    </div>
    <input type="hidden" name="charset" value="UTF-8">
    <input type="hidden" name="default_list_id" value="15181421">
    <input type="hidden" name="overwrite" value="2">
    <input type="hidden" name="is_v5" value="1">
</form>
                
                <a href="http://www.singer.com">&copy;2004-2018 Singer Sourcing Limited LLC</a> | <a href="http://www.sewing-world.ru">Представитель в России - "Швейный Мир"</a> | <!-- <a href="{% url 'django.contrib.flatpages.views.flatpage' url='oferta.html' %}">Условия публичной оферты</a> --> <a href="mailto:info@singer.ru">info@singer.ru</a>
</footer>
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/inputmask.min.js' %}"></script>
<script src="{% static 'js/inputmask.extensions.min.js' %}"></script>
<script src="{% static 'js/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/eldarion-ajax.min.js' %}"></script>
<script src="{% static 'js/jquery.dump.js' %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script src="{% static 'js/singer.js' %}"></script>
<!--Start of UniSender PopUp Form script-->
  <script type="text/javascript" src="//popup-static.unisender.com/service/loader.js?c=5709" id="unisender-popup-forms"></script>
<!--End of UniSender PopUp Form script-->

{% block javascript %}
{% block cart_notice_output %}
<script>
$("#cart_notice").load("/shop/basket/notice");
</script>
{% endblock %}
{% endblock %}
</div> <!-- .container -->
</body>
</html>
