{% extends "seo.html" %}
{% load staticfiles %}
{% block css_wrapper %}
<style>
  .ui-autocomplete { z-index: 2000 }
  .ui-autocomplete-loading {
    background: white url("{% static '/i/ui-anim_basic_16x16.gif' %}") right center no-repeat;
  }
</style>
{% block css %}
{% endblock %}
{% endblock %}
{% block body_header %}
<div class="container-fluid">
<div class="row">

<div class="col-md-9 sw-header-left">
<div class="sw-logo">

<a href="http://www.sewing-world.ru/index.html">

<div><img src="{% static '/i/logo.svg' %}" class="img-responsive" alt="Швейный Мир - всероссийская сеть швейных супермаркетов.&#10; Швейные машинки, вышивальные и вязальные машины, оверлоки и аксессуары."></div>

</a>

<p class="hidden-xs"><a href="http://www.sewing-world.ru/shops.html">Больше 100 магазинов швейных машин и товаров для рукоделия</a></p>
</div>
</div>

<div class="col-md-10" style="margin-top:20px;">

<div class="" style="font-weight:bold; display:inline-block; font-size:11pt;"><a href="http://www.sewing-world.ru/shops.html" class="hidden-xs"><img src="{% static '/i/placemark.svg' %}" alt="Магазины" height="33"></a> <a href="http://www.sewing-world.ru/shops.html">Адреса магазинов</a></div>

{% block search_form %}
<form id="topSearchForm" action="https://order.sewing-world.ru/search/" class="form-inline">
<input type="search" name="text" id="topSearchText" autocomplete="off" class="form-control input-sm" style="width: 80%; height:22pt"/>
<input type="submit" value="Найти" class="btn btn-sm btn-warning" style="font-weight:700" />
</form>
{% endblock %}
<div class="" style="font-weight:bold"><!-- <img src="/i/phone.svg" alt="Телефон" height="33" class="hidden-xs"> --><small style="font-weight:normal;">Розничные магазины:</small> +7&nbsp;495&nbsp;744-00-87 <small style="font-weight:normal;">Интернет-магазин:</small> +7&nbsp;495&nbsp;766-56-75</div>
</div>

<div class="col-md-5" style="margin-top:20px; margin-bottom:5px;">
<div class="text-right"><span id="cart_notice"></span></div>
</div>
</div>
</div>

<div class="navbar navbar-default navbar-static-top sw-navbar" role="navigation" style="margin-bottom:4px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle sw-navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Меню</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="list-inline visible-xs sw-xsnavigation">
                  <li><a href="http://order.sewing-world.ru/shop/user/orders/">Что с моим заказом?</a></li>
                    </ul>
        </div>
        <div class="navbar-collapse collapse  text-center">
          <ul class="nav navbar-nav navbar-left">
            <li class="hidden-xs"><a href="http://www.sewing-world.ru/shops.html">Адреса магазинов</a></li>
            <li class="dropdown hidden-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% include "_catalog.html" %}
              </ul>
            </li>
            <li class="visible-xs"><a href="http://www.sewing-world.ru/catalog/index.html">Каталог товаров</a></li>
            <li><a href="http://www.sewing-world.ru/recipes/index.html">Рецепты</a></li>
            <li><a href="http://www.sewing-world.ru/articles/">Статьи</a></li>
<!--            <li><a href="/blog/">Блог</a></li>
            <li><a href="/cgi-bin/forum.cgi">Форум</a></li> -->
            <li><a href="http://www.sewing-world.ru/service.html">Сервисные центры</a></li>
            <li><a href="http://www.sewing-world.ru/shipping.html">Доставка и оплата</a></li>
            <li class="hidden-xs"><a href="http://order.sewing-world.ru/shop/user/orders/">Что с моим заказом?</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>

<div class="sw-header-lower-block" style="background:#fffaee;margin-bottom:10px;padding-bottom:4px;">
<div class="center-block row hidden-xs" style="max-width:1200px;">

<div class="col-sm-3 text-center"><a href="http://www.sewing-world.ru/actions/all_actions.html"><img src="{% static '/i/categories/gifts.svg' %}" alt="Акции" height="75" width="75"><br>Акции</a></div>
<div class="col-sm-3 text-center"><a href="http://www.sewing-world.ru/catalog/promo/index.html"><img src="{% static '/i/categories/sale.svg' %}" alt="Специальные предложения" height="75" width="75"><br>Специальные предложения</a></div>
<div class="col-sm-3 text-center"><a href="http://www.sewing-world.ru/catalog/sewing_machines/index.html"><img src="{% static '/i/categories/compsewing.svg' %}" alt="Швейные машины" height="75" width="75"><br>Швейные машины</a></div>
<div class="col-sm-3 text-center"><a href="http://www.sewing-world.ru/catalog/embroidery_machines/index.html"><img src="{% static '/i/categories/embroidery.svg' %}" alt="Швейно-вышивальные машины" height="75" width="94"><br>Вышивальные машины</a></div>
<div class="col-sm-3 text-center"><a href="http://www.sewing-world.ru/catalog/sergers/index.html"><img src="{% static '/i/categories/overlock.svg' %}" alt="Оверлоки, коверлоки и распошивальные машины" height="75" width="75"><br>Оверлоки и коверлоки</a></div>
<div class="col-sm-3 text-center"><a href="http://www.sewing-world.ru/catalog/knitting_machines/index.html"><img src="{% static '/i/categories/knitting.svg' %}" alt="Вязальные машины" height="75" width="94"><br>Вязальные машины</a></div>
<div class="col-sm-3 text-center"><a href="http://www.sewing-world.ru/catalog/accessories/index.html"><img src="{% static '/i/categories/accessories.svg' %}" alt="Аксессуары" height="75" width="75"><br>Аксессуары</a></div>
{#<div class="col-sm-3 text-center"><a href="http://www.sewing-world.ru/catalog/irons/index.html"><img src="{% static '/i/categories/irons.svg' %}" alt="Гладильное оборудование" height="75" width="94"><br>Гладильное оборудование</a></div>#}
<div class="col-sm-3 text-center"><a href="http://www.sewing-world.ru/catalog/Prom/index.html"><img src="{% static '/i/categories/prom.svg' %}" alt="Промышленное оборудование" height="75" width="94"><br>Промышленное оборудование</a></div>
</div>
</div>
{% endblock %}
{% block content_wrapper %}
<div class="container-fluid">
<!-- ------------------------------------------------------------------------------------------------------------ -->
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
{% endblock %}
{% render_breadcrumbs "_breadcrumbs.html" %}
{% block content %}
{% endblock %}
</div> <!-- /container-fluid -->
{% endblock %}
{% block javascript_wrapper %}
<script>
  $(function() {
    var cache = {};
    $("#topSearchText").autocomplete({
      minLength: 3,
      source: function(request, response) {
        var term = request.term;
        if (term in cache) {
          response(cache[term]);
          return;
        }
        $.ajax({
          url: "https://sitesearch-suggest.yandex.ru/v1/suggest",
          dataType: "jsonp",
          data: {
            text: request.term,
            format: "jsonp",
            search_id: 2316299
          },
          success: function(data) {
            cache[term] = data[1];
            response(data[1]);
          }
        });
      },
      select: function(event, ui) {
        $("#topSearchText").val(ui.item.label);
        $("#topSearchText").closest("form").submit();
      }
    });
  });
  $(document).ready(function() {
    reloadNotice();
  });
</script>
{% block javascript %}
{% endblock %}
{% endblock %}
{% block body_footer %}
<!-- ------------------------------------------------------------------------------------------------------------ -->
<div class="container-fluid sw-bottom-firstline">
</div> <!-- /sw-bottom-firstline -->
<div class="container-fluid sw-bottom">
{% block footer_contents %}
<div class="row">
<div class="col-md-8">
<table class="sw-bottom-phones">
<tr>
<td colspan="2"><h3>Телефоны</h3></td>
</tr>
<tr>
<td class="sw-bottom-phones-left">Справочная <a href="http://www.sewing-world.ru/shops.html">розничных магазинов:</a></td>
<td class="sw-bottom-phones-right">+7 495 744-00-87</td>
</tr>
<tr>
<td class="sw-bottom-phones-left">Заказать швейную машину в Москве:</td>
<td class="sw-bottom-phones-right">+7 495 766-56-75</td>
</tr>
<tr>
<td class="sw-bottom-phones-left">Заказать в Санкт-Петербурге:</td>
<td class="sw-bottom-phones-right">+7 812 600-23-98</td>
</tr>
<tr>
<td class="sw-bottom-phones-left">Заказать в Казани:</td>
<td class="sw-bottom-phones-right">+7 843 518-75-75</td>
</tr>
<tr>
<td class="sw-bottom-phones-left">Промышленное оборудование:</td>
<td class="sw-bottom-phones-right">+7 499 158-06-87</td>
</tr>
<tr>
<td class="sw-bottom-phones-left">Оптовые продажи:</td>
<td class="sw-bottom-phones-right">+7 495 744-00-87</td>
</tr>
<tr>
<td class="sw-bottom-phones-left"><a href="http://www.sewing-world.ru/service.html">Ремонт швейных машин:</a></td>
<td class="sw-bottom-phones-right">+7 495 718-86-02<br>+7 499 158-06-87</td>
</tr>
</table>
</div>
<div class="col-md-8 text-center small">
<p>
Принимаем платежи по картам<br>
<img src="{% static 'i/mastercard.gif' %}" border="0">
<img src="{% static 'i/visa.gif' %}" border="0"><br>
при поддержке <a href="https://kassa.yandex.ru">Яндекс.Касса</a>
</p>
<p>
<a href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*https://market.yandex.ru/shop/4767/reviews"><img src="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2506/*https://grade.market.yandex.ru/?id=4767&action=image&size=1" border="0" width="120" height="110" alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете" /></a>
</p>
<p>&copy;1996-2018 Торговый Дом Швейных Машин</p>
<p><a href="mailto:info@thsm.ru">info@thsm.ru</a></p>
</div>
<div class="col-md-8 text-center">
<h3>Наша группа Вконтакте</h3>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?49"></script>
<!-- VK Widget --><div id="vk_groups" style="margin: 0 auto;"></div><script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 0, width: "234", height: "200"}, 38122758);</script>
</div>
</div>
{% endblock %}
</div> <!-- /container-fluid -->
<div id="sw-cartinfo" class="sw-cartinfo-popup mfp-hide" sstyle="display:none; cursor:default;">
<div id="cart_extnotice"></div>
<p><a href="#" role="button" id="continue" class="btn btn-info sw-addProduct-sm"    />Продолжить выбор товаров</a></p>
<p><a href="#" role="button" id="gocart"   class="btn btn-success sw-addProduct-sm" />Оформить или изменить заказ</a></p>
</div>
{% endblock %}
