{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load site %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}Каталог{% endblock %}
{% block content %}
    <section class="hero">
      <div class="container">
        <!-- Hero Content-->
        <div class="hero-content pb-3 text-center">
        <h1 class="hero-heading mt-5">Каталог</h1>
		<div class="row">
		<div>   
{% for node,structure in root.get_descendants|filter_qs:"active"|filter_qs:"!hidden"|tree_info %}
<!--    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %} -->
			<p><a href="{% url 'category' node.get_path %}">{{ node.name }}</a></p>
<!--    {% for level in structure.closed_levels %}</li></ul>{% endfor %} -->
{% endfor %}
        </div>
        </div>
        </div>
      </div>
    </section>
{% endblock %}
<!-- catalog.html -->
