{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load site %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}Каталог{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "К первой странице" "/" %}
{% endblock %}
{% block content %}
<h1>Каталог</h1>
{% for node,structure in root.get_descendants|filter_qs:"active"|filter_qs:"!hidden"|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
        <a href="{% url 'category' node.get_path %}">{{ node.name }}</a>
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
{% endblock %}
<!-- catalog.html -->
