{% extends "base.html" %}
{% load staticfiles %}
{% load site %}
{% load mptt_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block css %}
<style>
.catalog .category { font-weight: bold }
</style>
{% endblock %}
{% block title %}{{ category.name }}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "К первой странице" "index" %}
    {% breadcrumb "Каталог" "catalog" %}
    {% for node,structure in category.get_ancestors|tree_info %}
        {% if node.is_child_node %}
            {% breadcrumb node "category" node.get_path %}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content %}
<h1>{{ category.name }}</h1>
<ul class="catalog">
{% for child in category.get_children|filter_qs:"active" %}
    <li class="category"><a href="{% url 'category' child.get_path %}">{{ child }}</a></li>
{% endfor %}
</ul>

{% if category.description or product_filter %}
<div class="sw-productsearch panel panel-default">
{% if category.description %}
<div class="recipedescr">{{ category.description|safe }}</div>
{% endif %}
{% if product_filter %}
<form method="get" class="searchform">
  {% load widget_tweaks %}

  {{ product_filter.form.non_field_errors }}

  {% for hidden_field in product_filter.form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  <div class="sw-leftright">
  {% for field in product_filter.form.visible_fields %}
  {% if field.name == 'enabled' %}
  </div>
  <div class="sw-leftright">
  {% else %}
  <p>
    {{ field.label_tag }}
    {{ field.errors }}
    {# field is BoundField, field.field is field itself #}
    {% get_class_name field.field as class %}
    {% if class == 'RangeField' or class == 'DecimalField' %}
    {% render_field field class="slider_input ajaxclick" size="6" autocomplete="off" %}
    {% else %}
    {% render_field field class="ajaxclick" %}
    {% endif %}
    {{ field.help_text }}
  </p>
  {% endif %}
  {% endfor %}
  </div>
  <div class="searchform-submit">
    <button class="btn btn-info sw-searchform-submit" type="submit">Показать</button>
  </div>
</form>
{% endif %}
</div>
{% endif %}

<script>
gtm_products = [];
</script>

{% for product in products %}
{% include "_product_info.html" %}
<script>
gtm_products.push({'name':'{{ product.title }}','id':'{{ product.id }}','price':'{{ product.price }}','brand':'{{ product.manufacturer.code }}','list':'{{ gtm_list }}','position':{{ forloop.counter }}});
</script>
{% endfor %}
{% endblock %}
