{% extends "base.html" %}
{% load staticfiles %}
{% load mptt_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}
<title>{{ category.name }}</title>
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% for node,structure in category.get_ancestors|tree_info %}
        {% if node.is_child_node %}
            {% breadcrumb node "category" node.get_path %}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content %}
<div id="subheadwrap">
  <div id="subhead">
    <h1>{{ category.name }}</h1>
    <p>{{ category.brief }}</p>
  </div><!-- End subhead -->
</div><!-- End subheadwrap -->

{% if category.promo_image %}
<img src="{{ category.promo_image.url }}" style="float: right" width="{{ category.promo_image.width}}" height="{{ category.promo_image.height}}" />
{% endif %}
 <div class="category_list">
    <ul>
{% drilldown_tree_for_node category as categories %}
    {% for node,structure in categories|tree_info %}
        {% if node.parent_id == category.pk  %}
                <li class="reg"><span class="name"><a rel="singer_product_home.png" href="{% url 'category' node.get_path %}">{{ node }}</a></span></li>
        {% endif %}
    {% endfor %}
  </ul>
</div><!-- category_list -->
<div class="clear"></div>
<div id="list_results">
{% for product in products %}
{% include "_product_info.html" %}
{% endfor %}
</div>
<div class="clear"></div>
{% endblock %}
