{% extends "base.html" %}
{% load staticfiles %}
{% load site %}
{% load mptt_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}
{{ category.name }}
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% for node,structure in category.get_ancestors|tree_info %}
        {% if node.is_child_node %}
            {% breadcrumb node "category" node.get_path %}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content %}
<div id="subheadwrap">
  <div id="subhead">
    <h1>{{ category.name }}</h1>
    <p>{{ category.brief }}</p>
  </div><!-- End subhead -->
</div><!-- End subheadwrap -->

{% if category.promo_image %}
<img src="{{ category.promo_image.url }}" style="float: right" width="{{ category.promo_image.width}}" height="{{ category.promo_image.height}}" />
{% endif %}
 <div class="category_list">
    <ul>
{% for child in category.get_children|filter_qs:"active" %}
      <li class="reg"><a href="{% url 'category' child.get_path %}">{{ child }}</a></li>
{% endfor %}
  </ul>
</div><!-- category_list -->
<div class="clear"></div>
<div id="list_results">
{% for product, cost, quantity in products %}
{% include "_product_info.html" %}
{% endfor %}
</div>
<div class="clear"></div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/jquery.spinner.js' %}"></script>
<script>
$(document).ready(function () {

    var CustomHandlers = function () {
    };
    CustomHandlers.prototype.addAjaxFlag = function (e, $el) {
        $el.on("eldarion-ajax:modify-data", function (e, data) {
            if (typeof data === "object") // using FormData
                data.append("ajax", 1);
            else if (data != null)
                data = data + "&ajax=1";
            else
                data = "ajax=1";
            return data;
        });
    };
    CustomHandlers.prototype.setQuantityWarning = function (e, $el) {
        $el.find(".quantity-container").addClass("has-warning");
    };
    CustomHandlers.prototype.setQuantity = function (e, $el, data) {
        var $in = $el.find(".sw-basket-quantity");
        $in.val(data["quantity"]);
        var $cn = $el.find(".quantity-container");
        $cn.removeClass("has-warning").addClass("has-success");
        $in.on("blur", function () {
            $cn.removeClass("has-success");
        });
    };

    $(document).on("eldarion-ajax:begin", function(evt, $el) {
        $("body").css("cursor", "progress");
    });
    $(document).on("eldarion-ajax:complete", function(evt, $el) {
        $("body").css("cursor", "auto");
        updateCartNotice();
    });


    $(document).on("eldarion-ajax:begin",   ".ajax", CustomHandlers.prototype.addAjaxFlag);
    $(document).on("eldarion-ajax:begin",   ".update", CustomHandlers.prototype.setQuantityWarning);
    $(document).on("eldarion-ajax:success", ".update", CustomHandlers.prototype.setQuantity);


    $('[data-trigger="spinner"]').spinner('changed', function(e, newVal, oldVal) {
        $(this).closest("form").submit();
        ym(51806498, 'reachGoal', 'tobasket');
    });

    $('.expand-description').each(function() {
        $(this).one("click", function() {
            var productID = this.href.split("descr_")[1];
            var url="/catalog/expand/"+productID+"/";
            $('#descr_'+productID).load(url);
        });
    });
});
</script>
{% endblock %}
