({{ count }})
<script type="text/javascript">
(function() {
    'use strict';
    var link = document.getElementById("compare-notice").parentElement;
    if (link)
        link.classList.{% if count %}add{% else %}remove{% endif %}("d-md-inline-block");
    var dropdownCount = document.getElementById("dropdown-compare-count");
    if (dropdownCount) {
        dropdownCount.textContent = "{{ count }}";
        dropdownCount.parentElement.classList.{% if count %}remove{% else %}add{% endif %}("d-none");
    }
})();
</script>
