{% extends "base.html" %}
{% load static %}
{% block title %}Швейные машины, вышивальные и вязальные машины, оверлоки и аксессуары во всероссийской сети супермаркетов{% endblock %}
{% block content %}
<div class="bg-secondary">
<section class="pb-5">
  <div class="bg-dark py-5"></div>
  <div class="py-3"></div>
</section>
<section class="container position-relative pt-3 pt-lg-0 pb-5 mt-n10" style="z-index: 10;">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="card border-0 box-shadow-lg">
        <div class="card-body px-3 pb-0">
          <div class="row no-gutters justify-content-center">
            <div class="col-6 col-md-4 col-lg mb-grid-gutter text-center"><a href="/catalog/sewing_machines/"><img src="{% static 'i/categories/compsewing.svg' %}" alt="Швейные машины" height="75" width="75"><br>Швейные машины</a></div>
            <div class="col-6 col-md-4 col-lg mb-grid-gutter text-center"><a href="/catalog/embroidery_machines/"><img src="{% static 'i/categories/embroidery.svg' %}" alt="Швейно-вышивальные машины" height="75" width="94"><br>Вышивальные машины</a></div>
            <div class="col-6 col-md-4 col-lg mb-grid-gutter text-center"><a href="/catalog/sergers/"><img src="{% static 'i/categories/overlock.svg' %}" alt="Оверлоки, коверлоки и распошивальные машины" height="75" width="75"><br>Оверлоки и коверлоки</a></div>
            <div class="col-6 col-md-4 col-lg mb-grid-gutter text-center"><a href="/catalog/knitting_machines/"><img src="{% static 'i/categories/knitting.svg' %}" alt="Вязальные машины" height="75" width="94"><br>Вязальные машины</a></div>
            <div class="col-6 col-md-4 col-lg mb-grid-gutter text-center"><a href="/catalog/accessories/"><img src="{% static 'i/categories/accessories.svg' %}" alt="Аксессуары" height="75" width="75"><br>Аксессуары</a></div>
            <div class="col-6 col-md-4 col-lg mb-grid-gutter text-center"><a href="/catalog/accessories/"><img src="{% static 'i/categories/threads.svg' %}" alt="Аксессуары" height="75" width="75"><br>Нитки</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if top_adverts %}
<section class="bg-secondary">
  <div class="container pt-0 pb-5">
    <div id="top_slides" class="tns-carousel tns-nav-enabled tns-controls-sm tns-controls-outside">
      <div class="tns-carousel-inner" data-carousel-options='{"autoplay": true, "center": true}'>
        {% for advert in top_adverts %}
        <div>
          {{ advert.content|safe }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
</div>

<script>
gtm_products = [];
</script>

<section class="container pt-5">
  <!-- Heading-->
  <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
    <h2 class="h3 mb-0 pt-3 me-2">Специальные предложения</h2>
    <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="/catalog/promo/">Больше товаров<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
  </div>
  <!-- Grid-->
  <div class="row pt-2 mx-n2">
    {% for product in recomended_products %}
    <!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
      {% include "_product_info.html" with limitedBadges=True %}
      <hr class="d-sm-none">
      <script>
      gtm_products.push({'name':'{{ product.title }}','id':'{{ product.id }}','price':'{{ product.price }}','brand':'{{ product.manufacturer.code }}','list':'Первая страница акции','position':{{ forloop.counter }}});
      </script>
    </div>
    {% endfor %}
  </div>
</section>

{% if middle_adverts %}
<section class="bg-secondary">
  <div class="container py-5">
    <div id="middle_slides" class="tns-carousel tns-nav-enabled tns-controls-sm tns-controls-outside">
      <div class="tns-carousel-inner" data-carousel-options='{"autoplay": true, "center": true}'>
        {% for advert in middle_adverts %}
        <div>
          {{ advert.content|safe }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="container pt-5">
  <!-- Heading-->
  <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
    <h2 class="h3 mb-0 pt-3 me-2">Идеи для подарков</h2>
  </div>
  <!-- Grid-->
  <div class="row pt-2 mx-n2">
    {% for product in gift_products %}
    <!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
      {% include "_product_info.html" with limitedBadges=True %}
      <hr class="d-sm-none">
      <script>
      gtm_products.push({'name':'{{ product.title }}','id':'{{ product.id }}','price':'{{ product.price }}','brand':'{{ product.manufacturer.code }}','list':'Первая страница акции','position':{{ forloop.counter }}});
      </script>
    </div>
    {% endfor %}
    </div>
</section>

{% if bottom_adverts %}
<section class="bg-secondary">
  <div class="container py-5">
    <div id="bottom_slides" class="tns-carousel tns-nav-enabled tns-controls-sm tns-controls-outside">
      <div class="tns-carousel-inner" data-carousel-options='{"autoplay": true, "center": true}'>
        {% for advert in bottom_adverts %}
        <div>
          {{ advert.content|safe }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="container pt-5">
  <!-- Heading-->
  <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
    <h2 class="h3 mb-0 pt-3 me-2">Новинки</h2>
    <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="/catalog/New/">Больше товаров<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
  </div>
  <!-- Grid-->
  <div class="row pt-2 mx-n2">
    {% for product in first_page_products %}
    <!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
      {% include "_product_info.html" with limitedBadges=True %}
      <hr class="d-sm-none">
      <script>
      gtm_products.push({'name':'{{ product.title }}','id':'{{ product.id }}','price':'{{ product.price }}','brand':'{{ product.manufacturer.code }}','list':'Первая страница акции','position':{{ forloop.counter }}});
      </script>
    </div>
    {% endfor %}
  </div>
</section>

<div class="bg-faded-primary">
  <section class="container px-0">
    <div class="row no-gutters justify-content-md-center">
      <div class="col-md-6">
        <a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-transparent" href="http://www.raruk.ru">
          <div class="card-body text-center">
            <div><i class="ci-edit h3 mt-2 mb-4 text-primary"></i></div>
            <div class="d-inline-block text-start">
              <h2 class="h5 mb-3">Учебный центр "Радость рукоделия"</h2>
              <p class="text-muted font-size-sm mb-1">приглашает на курсы:</p>
              <ul class="text-muted font-size-sm">
                <li>вышивальные программы Pfaff и Husqvarna</li>
                <li>технология машинной вышивки на швейно-вышивальных машинах</li>
                <li>пэчворк</li>
                <li>текстильные сумки</li>
                <li>куклы "Тильда" и многое другое</li>
              </ul>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>

<script>
dataLayer.push({'ecommerce':{'currencyCode':'RUB','impressions':gtm_products}});
</script>
{% endblock %}
{% block vk_retargeting_event %}
  VK.Retargeting.ProductEvent(3195, "view_home");
{% endblock %}
