{% extends "base.html" %}
{% load static %}
{% block title %}
Дор Так - Швейные нитки оптом и в розницу
{% endblock %}
{% block content %}
<img src="/static/images/jumbo.jpg" class="img-responsive" alt="Нитки Дор Так" style="margin-bottom: 20px">

<div id="list_results">
{% if 1 == 2 %}
{% for product, cost, quantity in products %}
{% include "_product_info.html" %}
{% endfor %}
{% endif %}
</div>

<div class="clear"></div>
<div>
<!--
<h2>Оптовые цены</h2>
<p>Цены действуют при продаже ниток в намотке 400 ярдов от 100 катушек упаковками по 10 катушек одного цвета<br>
или от 40 бобин ниток в намотке 5000 ярдов.</p>
<h3>Базовые оптовые цены без учета скидок:</h3>
<ul>
<li>Нитки 40/2 400 ярдов (360 метров) .......................................................<b>25</b>&nbsp;₽</li>
<li>Нитки 40/2 5000 ярдов (4500 метров) .................................................<b>190</b>&nbsp;₽</li>
<li>Нитки 60/2 5000 ярдов (4500 метров) .................................................<b>190</b>&nbsp;₽</li>
<li>Карта цветов .......................................................................................<b>4000</b>&nbsp;₽</li>
<li>Стенд для ниток без наполнения  (на 80 цветов/800 катушек) ......<b>14000</b>&nbsp;₽</li>
<li>Доставка до транспортной компании ..................................................<b>500</b>&nbsp;₽</li>
</ul>
<h3>Оптовые скидки:</h3>
<ul>
<li>от <b>500</b> до <b>1000</b>&nbsp;катушек ............. <b>10&nbsp;%</b></li>
<li>от <b>1000</b> до <b>4000</b>&nbsp;катушек ........... <b>15&nbsp;%</b></li>
<li>от <b>4000</b>&nbsp;катушек  .......................... <b>20&nbsp;%</b></li>
<li>при сумме заказа выше <b>25&nbsp;000</b>&nbsp;₽ доставка до транспортной компании бесплатная.</li>
<li>при заказе стенда с наполнением, скидка на стенд <b>15%</b>.</li>
</ul>

<h2>Розничные цены</h2>
<p>Продажа от 1 катушки/бобины</p>
<ul>
<li>Цена за 1 катушку 40/2 400 ярдов (360 метров) ...........<b>50</b>&nbsp;₽</li>
<li>Цена за 1 бобину 40/2 5000 ярдов (4500 метров) ......<b>290</b>&nbsp;₽</li>
<li>Цена за 1 бобину 60/2 5000 ярдов (4500 метров) ......<b>350</b>&nbsp;₽</li>
</ul>
-->
</div>
<div class="clear"></div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/jquery.spinner.js' %}"></script>
<script>
$(document).ready(function () {

    var CustomHandlers = function () {
    };
    CustomHandlers.prototype.addAjaxFlag = function (e, $el) {
        $el.on("eldarion-ajax:modify-data", function (e, data) {
            if (typeof data === "object") // using FormData
                data.append("ajax", 1);
            else if (data != null)
                data = data + "&ajax=1";
            else
                data = "ajax=1";
            return data;
        });
    };
    CustomHandlers.prototype.setQuantityWarning = function (e, $el) {
        $el.find(".quantity-container").addClass("has-warning");
    };
    CustomHandlers.prototype.setQuantity = function (e, $el, data) {
        var $in = $el.find(".sw-basket-quantity");
        $in.val(data["quantity"]);
        var $cn = $el.find(".quantity-container");
        $cn.removeClass("has-warning").addClass("has-success");
        $in.on("blur", function () {
            $cn.removeClass("has-success");
        });
    };

    $(document).on("eldarion-ajax:begin", function(evt, $el) {
        $("body").css("cursor", "progress");
    });
    $(document).on("eldarion-ajax:complete", function(evt, $el) {
        $("body").css("cursor", "auto");
        updateCartNotice();
    });

    $(document).on("eldarion-ajax:begin",   ".ajax", CustomHandlers.prototype.addAjaxFlag);
    $(document).on("eldarion-ajax:begin",   ".update", CustomHandlers.prototype.setQuantityWarning);
    $(document).on("eldarion-ajax:success", ".update", CustomHandlers.prototype.setQuantity);

    $('[data-trigger="spinner"]').spinner('changed', function(e, newVal, oldVal) {
        $(this).closest("form").submit();
        ym(51806498, 'reachGoal', 'tobasket');
    });
});
</script>
{% endblock %}
