{% extends "base.html" %}
{% block content_wrapper %}
    <!-- Page Title -->
    <div class="bg-{% block page_title_bg_color %}secondary{% endblock %} {% block page_title_class %}py-4{% endblock %}">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        {% load django_bootstrap_breadcrumbs %}
        {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {% endblock %}
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          {% block render_breadcrumbs %}{% render_breadcrumbs "_breadcrumbs.html" %}{% endblock %}
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3 mb-0 text-{% block page_title_header_color %}dark{% endblock %}">{% block content_title %}{% endblock %}</h1>
          {% block content_title_addon %}{% endblock %}
        </div>
      </div>
    </div>
{{ block.super }}
{% endblock content_wrapper %}
