{% extends "page.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}{{ action.name }}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Все акции' 'sales_actions' %}
    {% breadcrumb action.name '' %}
{% endblock %}
{% block content_title %}{{ action.name }}{% endblock %}
{% block content %}
<div class="container pb-5 mb-2 mb-md-4">
  <div class="pt-5 pb-3">
    <img class="rounded-lg img-responsive" src="{{ action.image.url }}" width="{{ action.image.width }}" height="{{ action.image.height }}"/>
  </div>
{{ action.description|safe }}
{% if products and action.show_products %}
  <!-- Products grid -->
  <div class="row mx-n2">
{% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
{% include "_product_info.html" %}
    </div>
    <hr class="d-sm-none">
{% endfor %}
  </div>
{% endif %}
</div>
{% endblock %}
