{% extends "base.html" %}
{% load static %}
{% block title %}Поиск{% endblock %}
{% block css %}
  <style>
    .sw-header-lower-block { display: none }
    .sw-p-l-image img { max-width: 100%; max-height: 230px }
    #filters { margin: 10px 0 0 10px }
  </style>
{% endblock %}
{% block content %}
<h1>Поиск</h1>
<div id="filters" class="panel panel-default pull-right"><div class="panel-body">
  <form id="filtersForm" class="form-inline">
    <div class="checkbox">
      <label><input autocomplete="off" name="sort" value="PRICE_ASC" type="checkbox"/>
      Сортировать по цене</label>
    </div>
    <div>
      <div>Цена</div>
      <input name="priceLow" autocomplete="off" placeholder="от"/><input name="priceHigh" autocomplete="off" placeholder="до"/>
    </div>
    <div class="checkbox">
      <label><input autocomplete="off" name="available" value="true" type="checkbox" checked="checked">
      Есть в наличии</label>
    </div>
    <div id="filterCategories">
    </div>
    <button type="submit" class="btn">Применить</button>
  </form>
</div></div>

<div id="documents"></div>
<ul id="pages"></ul>

{% verbatim %}
<script id="productTemplate" type="text/x-jsrender">
<div class="sw-p-l panel panel-default">
  <div class="panel-body">
    <div class="sw-p-l-image text-center">{{if image_url}}<a href="{{:link_url}}"><img src="{{:image_url}}" alt="{{:name}}"/></a>{{/if}}</div>
    <div class="sw-p-l-name">
      <h3 class="sw-p-l-name-h"><a href="{{:link_url}}">{{:name}}</a></h3>
      <div class="sw-p-l-brif">
      {{:description}}
      </div>
    </div>
    <div class="sw-p-l-prices" style="display:block; text-align:center; width:100%">
      <span class="sw-p-l-price">{{:price}}</span>&nbsp;руб.
    </div>
    <!--
    {{if available == true}}
    <div class="product-nal-true" style="text-align:center; width:100%">В наличии</div>
    {{else}}
    <div class="product-nal-false" style="text-align:center; width:100%">Закончились</div>
    {{/if}}
    -->
    <div class="sw-p-l-buy" style="display:block; text-align:center; width:100%">
    <!--
      {{if available == true}}
      <a href="/shop/basket/add/{{:id}}/"
      class="addProduct btn btn-xs btn-success sw-addProduct-sm" role="button" id="p_{{:id}}">Купить</a>
      {{else}}
      <a href="/shop/basket/add/{{:id}}/"
      class="addProduct btn btn-xs btn-success sw-addProduct-sm" role="button" id="p_{{:id}}">Сообщить о поступлении</a>
      {{/if}}
    -->
    </div>
  </div>
</div>
</script>
<script id="categoryTemplate" type="text/x-jsrender">
  <div><div class="radio">
    <label><input name="categoryId" autocomplete="off" value="{{:id}}" type="radio">
    {{:name}}</label>
  </div></div>
</script>
{% endverbatim %}
{% endblock %}
{% block javascript %}
<script src="{% static 'js/jsrender.min.js' %}"></script>
<!-- http://esimakin.github.io/twbs-pagination/ -->
<script src="{% static 'js/jquery.twbsPagination.min.js' %}"></script>
<script>
(function() {
  var yandexAPI = "https://catalogapi.site.yandex.net/v1.0";
  // var apiKey = "067e33cf-0ff4-4dbc-851b-0861a04c7af8";
  var searchAPI = "https://sort.diginetica.net/search";
  var apiKey = "OHZ51IBWQJ";

  var categoryFilter = 0;

  var $documents = $("#documents");
  var $categories = $("#filterCategories");
  var $pages = $("#pages");
  var $form = $("#filtersForm");
  var $topForm = $("#topSearchForm");
  var $searchText = $("#topSearchText");

  var productTemplate = $.templates("#productTemplate");
  var categoryTemplate = $.templates("#categoryTemplate");

  var defaultOpts = {
    initiateStartPageClick: false,
    hideOnlyOnePage: true,
    first: '<span aria-hidden="true">&laquo;</span>',
    prev: '<span aria-hidden="true">&lsaquo;</span>',
    next: '<span aria-hidden="true">&rsaquo;</span>',
    last: '<span aria-hidden="true">&raquo; {{total_pages}}</span>'
  };
  $pages.twbsPagination(defaultOpts);

  /**
   * Get the value of a querystring
   * @param  {String} field The field to get the value of
   * @param  {String} url   The URL to get the value from (optional)
   * @return {String}       The field value
   */
  var getQueryString = function(field, url) {
    var href = url ? url : window.location.href;
    var reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i');
    var string = reg.exec(href);
    return string ? decodeURIComponent(string[1].replace(/\+/g, " ")) : null;
  };

  var updateQueryString = function(queryString, key, value) {
    if (typeof value === 'string')
      value = value.replace(/\s/g, "+");
    newParam = key + '=' + value;

    if (queryString) {
      var updateRegex = new RegExp('([\?&])' + key + '[^&]*');
      var removeRegex = new RegExp('([\?&])' + key + '=[^&;]+[&;]?');

      if (typeof value == 'undefined' || value == null || value == '' || value == '0') { // Remove param if value is empty
        params = queryString.replace(removeRegex, "$1");
        params = params.replace( /[&;]$/, "" );
      } else if (queryString.match(updateRegex) !== null) { // If param exists already, update it
        params = queryString.replace(updateRegex, "$1" + newParam);
      } else { // Otherwise, add it to end of query string
        params = queryString + '&' + newParam;
      }
    }

    return params;
  };

  var callSearch = function(text, page, filters) {
    page = page || 1;
    page--;
    var perPage = 10;

    var request = {
      apiKey: apiKey,
      st: text,
      offset: perPage * page,
      size: perPage,
      strategy: 'advanced_xname,zero_queries',
      fullData: 'true',
      withCorrection: 'true',
      withSku: 'false',
      withFacets: 'true',
      treeFacets: 'true',
      useCategoryPrediction: 'false',
      regionId: 'global',
      showUnavailable: 'true',
      unavailableMultiplier: 0.2,
      preview: 'false',
      sort: 'DEFAULT'
    };

    var category = 0;
    var queryString = window.location.search;
    queryString = updateQueryString(queryString, "text", text);

    if (filters) {
      for (var f of filters.split(',')) {
        var [name, value] = f.split(':');
        if (name === 'categories') {
          category = Number(value);
        } else if (name === 'price') {
          var [low, high] = value.split(';');
          $("input[name=priceLow]").val(low);
          $("input[name=priceHigh]").val(high);
        }
      }
    }

    var filter = [];
    categoryFilter = $("input[name=categoryId]:checked").val() || category;
    if (categoryFilter > 0)
      filter.push("categories:" + categoryFilter);
    var priceLowFilter = Number($("input[name=priceLow]").val());
    var priceHighFilter = Number($("input[name=priceHigh]").val());
    if (priceLowFilter > 0 || priceHighFilter > 0)
      filter.push("price:" + priceLowFilter + ";" + (priceHighFilter > 0 ? priceHighFilter : 1000000))

    if (filter.length > 0) {
      request["filter"] = filter;
      queryString = updateQueryString(queryString, "filter", filter);
    }

    var availableFilter = $("input[name=available]:checked").val();
    if (!availableFilter)
      request["showUnavailable"] = true;
    queryString = updateQueryString(queryString, "unavailable", availableFilter ? undefined : true);

    var sortFilter = $("input[name=sort]:checked").val();
    if (sortFilter)
      request["sort"] = sortFilter;
    queryString = updateQueryString(queryString, "sort", sortFilter);
    if (page > 0)
      queryString = queryString + '#' + (page + 1);

    history.pushState(null, null, queryString);
    $.ajax({dataType: "json", url: searchAPI, traditional: true, data: request}).done(function(data) {
      $categories.empty();
      $categories.append(categoryTemplate.render({id: 0, name: "Все разделы"}));
      var categories = [];
      for (var facet of data.facets) {
        if (facet.name === 'categories') {
          categories = facet.values;
        }
      }
      $.each(categories, function(i, category) {
        if (category.value > 2)
          $categories.append(categoryTemplate.render(category));
      });
      $("input[name=categoryId]").val([categoryFilter]);

      $pages.twbsPagination('destroy');

      if (data.totalHits === 0) {
        $documents.text("По вашему запросу ничего не нашлось. Попробуйте сократить запрос или задать его по-другому. Убедитесь, что название бренда и модели написано правильно.");
        return;
      }
      $documents.empty();
      $.each(data.products, function(i, product) {
        product.price = Number(product.price);
        $documents.append(productTemplate.render(product));
      });
      $('.addProduct').each(addProduct);

      $pages.twbsPagination($.extend({}, defaultOpts, {
        startPage: page + 1,
        totalPages: Math.ceil(data.totalHits / perPage),
        onPageClick: function (evt, pg) {
          // initiateStartPageClick: false + hideOnlyOnePage: true do not work together
          if (pg != page + 1)
            callSearch(text, pg);
        }
      }));
    });
  };

  $topForm.on("submit", function() {
     $form.submit();
     return false;
  });

  $form.on("submit", function() {
     callSearch($searchText.val());
     return false;
  });

  var text = getQueryString('text');
  if (text != null) {
    $searchText.val(text);
    var filter = getQueryString('filter');
    $("input[name=priceLow]").val(getQueryString('price_low'));
    $("input[name=priceHigh]").val(getQueryString('price_high'));
    $("input[name=available]").prop('checked', getQueryString('unavailable') !== 'true');
    $("input[name=sort]").prop('checked', getQueryString('sort') === 'PRICE_ASC');
    page = 1;
    var hash = location.hash.substr(1);
    if (hash > 0)
        page = hash;
    callSearch(text, page, filter);
  }
})();
</script>
{% endblock javascript %}
