{% extends "page.html" %}
{% load staticfiles %}
{% load l10n %}
{% load django_bootstrap_breadcrumbs %}
{% load shop_filters %}
{% block title %}Сервисные центры{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Сервисные центры' '' %}
{% endblock %}
{% block content_title %}Сервисное обслуживание и ремонт<span class="d-lg-none"> швейных машин, оверлоков, вышивальных и вязальных машин</span>{% endblock %}
{% block content %}
    <!-- Page Content-->
    <main class="container-fluid px-0">
      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2" style="min-height: 15rem; background-image: url(https://demo.createx.studio/cartzilla/img/about/02.jpg);"><span class="split-section-arrow arrow-left"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <p class="lead">Наши сервисные центры предлагают следующие работы и услуги:</p>
            <ul class="list-style pb-3 text-muted">
              <li>Гарантийный ремонт и обслуживание швейных машин, вышивальных машин, оверлоков,
                  вязальных машин и другого оборудования производства компаний
                  Pfaff, Husqvarna Viking, Family, Janome, Silver Reed и ряда других фирм.</li>
              <li>Поставку запасных частей для швейного оборудования.</li>
              <li>Послегарантийный ремонт машин Pfaff, Husqvarna, Family, Janome, Silver Reed и NewHome.</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="row no-gutters">
        <div class="col-lg-6 iframe-full-height-wrap" style="min-height: 26rem">
          <div class="iframe-full-height" id="map"></div>
        </div>
        <div class="col-md-6 px-3 px-md-5 py-5">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h3 pb-3">Новости</h2>
            <ul class="list-style pb-3">
              <li>Сервисный центр на "Академической" переехал с ул. Кедрова по адресу ул. Дмитрия Ульянова д.31<br>Телефон: +7 495 718-86-02</li>
              <li><a class="nav-link-style" href="/blog/O/">Наши механики прошли обучение в Швеции</a></li>
              <li>Теперь в наших сервисных центрах можно купить педали для швейных машин</li>
            </ul>
          </div>
        </div>
      </section>
      <hr>
      <section class="container-fluid pt-grid-gutter mt-md-4 mb-5">
      {% for country_group in service_groups %}
        <h2 class="h3 mb-3">{{ country_group.country.name }}</h2>
        <div class="row">
        {% for city_group in country_group.cities %}
        {% for service in city_group.services %}
          <div class="col-xl-3 col-md-6 mb-grid-gutter">
            <div class="card border-0 box-shadow">
              <div class="card-body" itemscope itemtype="http://schema.org/Organization">
                <h6 class="card-title" itemprop="name">{{ service.city.name }}</h6>
                <ul class="list-unstyled mb-0">
                  <li class="media"><i class="czi-location font-size-lg my-1 text-primary"></i>
                    <div class="media-body pl-3 font-size-sm" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <span itemprop="streetAddress">{{ service.address }}</span>
                      <span class="d-none" itemprop="addressLocality">{{ service.city.name }}</span>
                      <span class="d-none" itemprop="addressCountry">{{ service.city.country.name }}</span>
                    </div>
                  </li>
                  <li class="media pt-2 mt-2 mb-0 border-top"><i class="czi-phone font-size-lg my-1 text-primary"></i>
                    <div class="media-body pl-3">
                      {% for phone in service.phones_as_list %}
                      <a class="d-block{% if not forloop.first %} mt-2{% endif %} nav-link-style font-size-sm" href="tel:{{ phone }}" itemprop="telephone">{{ phone }}</a>
                      {% endfor %}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
        {% endfor %}
        </div>
      {% endfor %}
      </section>
    </main>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
(function() {
    'use strict';
    document.addEventListener("DOMContentLoaded", function() {
        ymaps.ready(function() {
            var myMap = new ymaps.Map('map', {center: [55.76, 37.64], zoom: 10, controls: ['zoomControl', 'typeSelector',  'fullscreenControl', 'geolocationControl']});
            var location = ymaps.geolocation;
            location.get({
                provider: 'yandex'
            }).then(function(result) {
                var userCoodinates = result.geoObjects.get(0).geometry.getCoordinates();
                myMap.setCenter(userCoodinates);
            }, function(err) {
                console.log('Ошибка: ' + err)
            });

            {% for service in services %}
            {% if service.latitude and service.longitude %}
            myMap.geoObjects.add(new ymaps.Placemark([{{ service.latitude|unlocalize }}, {{ service.longitude|unlocalize }}], {
                balloonContentHeader: '',
                balloonContent:
                    '<div><i class="czi-location text-primary d-inline-block mr-2"></i>' +
                    '<span class="d-inline-block align-top">{{ service.address|escapejs }}</span></div>' +
                    '<div class="mt-1"><i class="czi-phone text-primary d-inline-block mr-2"></i>' +
                    '<span class="d-inline-block align-top">{{ service.phone|escapejs }}</span></div>',
                balloonContentFooter: ''
            },
            {
                iconLayout: 'default#image',
                iconImageHref: '{% static 'i/shoplogos/workshop.png' %}',
                iconImageSize: [27, 26], iconImageOffset: [-10, -23]
            }));
            {% endif %}
            {% endfor %}
        });
    }, false);
})();
</script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=d55e0ba4-d72b-4062-914c-94559697de16&lang=ru_RU"></script>
{% endblock %}
