{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% load django_bootstrap_breadcrumbs %}
{% load shop_filters %}
{% block title %}Ремонт швейных машин и оверлоков{% endblock %}
{% block css %}
<style type="text/css">
        #my-listbox {
            top: auto;
            left: auto;
        }
</style>
{% endblock %}
{% block content %}
    <section class="hero">
      <div class="container">
        <!-- Hero Content-->
        <div class="hero-content pb-3 text-center">
        <h1 class="hero-heading mt-5">Сервис и поддержка</h1>
		<div class="row">   
            <div class="col-xl-8 offset-xl-2"><p class="lead mb-0">Получить консультации по выбору и использованию швейной техники можно по телефону в Москве: <strong style="font-weight:bold">+7&nbsp;495&nbsp;744-00-87</strong> или в чате <strong style="font-weight:bold">WhatsApp:&nbsp;+7&nbsp;985&nbsp;766-56-75</strong></p></div>
          </div>
        </div>
      </div>
    </section>

<div class="container">
<div class="row text-content text-lg">

<h2 class="">Сервисные центры</h2>
<div id="map" style="width: 100%; height: 400px" class="mb-5"></div>

{% for country_group in service_groups %}

<div class="products-grid col-12 sidebar-none">
<header class="product-grid-header">
<h3>{{ country_group.country.name }}</h3>
</header>
<div class="row">
{% for city_group in country_group.cities %}
<div class="col-xl-3 col-lg-4 col-sm-6">

<div class="block-header">
<h6 class="text-uppercase mb-0">{{ city_group.city.name }}</h6>
</div>

<div class="block-body bg-light pt-1 mb-2">
{% for service in city_group.services %}
{% if service.address %}
{{ service.address }}<br />
{% endif %}
{% if service.address2 %}
{{ service.address2 }}<br />
{% endif %}
{% if service.phone %}
{{ service.phone }}<br />
{% endif %}
{% if service.url %}
<a href="{{ service.url }}">{{ service.url }}</a><br />
{% endif %}
</p>
{% endfor %}
</div>

</div>
{% endfor %}

</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
  ymaps.ready(function() {
    {% if city %}
    var coords = [{{ city.latitude|unlocalize }}, {{ city.longitude|unlocalize }}];
    $("#search_form option[id='city_option_{{ city.id }}']").attr("selected", "selected");
    {% else %}
    var coords = [55.76, 37.64];
    {% endif %}
    myMap = new ymaps.Map('map', {center: coords, zoom: 10, controls: ['zoomControl', 'typeSelector',  'fullscreenControl', 'geolocationControl', 'rulerControl']});

        // Создадим собственный макет выпадающего списка.
        ListBoxLayout = ymaps.templateLayoutFactory.createClass(
            "<button id='my-listbox-header' class='btn btn-success dropdown-toggle' data-toggle='dropdown'>" +
                "\{\{data.title\}\} <span class='caret'></span>" +
            "</button>" +
            // Этот элемент будет служить контейнером для элементов списка.
            // В зависимости от того, свернут или развернут список, этот контейнер будет
            // скрываться или показываться вместе с дочерними элементами.
            "<ul id='my-listbox'" +
                " class='dropdown-menu' role='menu' aria-labelledby='dropdownMenu'" +
                " style='display: \{\% if state.expanded \%\}block\{\% else \%\}none\{\% endif \%\};'></ul>", {

            build: function() {
                // Вызываем метод build родительского класса перед выполнением
                // дополнительных действий.
                ListBoxLayout.superclass.build.call(this);

                this.childContainerElement = $('#my-listbox').get(0);
                // Генерируем специальное событие, оповещающее элемент управления
                // о смене контейнера дочерних элементов.
                this.events.fire('childcontainerchange', {
                    newChildContainerElement: this.childContainerElement,
                    oldChildContainerElement: null
                });
            },

            // Переопределяем интерфейсный метод, возвращающий ссылку на
            // контейнер дочерних элементов.
            getChildContainerElement: function () {
                return this.childContainerElement;
            },

            clear: function () {
                // Заставим элемент управления перед очисткой макета
                // откреплять дочерние элементы от родительского.
                // Это защитит нас от неожиданных ошибок,
                // связанных с уничтожением dom-элементов в ранних версиях ie.
                this.events.fire('childcontainerchange', {
                    newChildContainerElement: null,
                    oldChildContainerElement: this.childContainerElement
                });
                this.childContainerElement = null;
                // Вызываем метод clear родительского класса после выполнения
                // дополнительных действий.
                ListBoxLayout.superclass.clear.call(this);
            }
        }),

        // Также создадим макет для отдельного элемента списка.
        ListBoxItemLayout = ymaps.templateLayoutFactory.createClass(
            "<li><a>\{\{data.content\}\}</a></li>"
        ),

        // Создадим выпадающий список
        listBoxItems = [
		{% for country_group in service_groups %}
            {% for city_group in country_group.cities %}
			{% if city_group.city.longitude %}
			new ymaps.control.ListBoxItem({
                data: {
                    content: '{{ city_group.city.name }}',
                    center: [{{ city_group.city.latitude|unlocalize }}, {{ city_group.city.longitude|unlocalize }}],
                    zoom: 9
                }
            }),
			{% endif %}
			{% endfor %}
		{% endfor %}
        ],

        listBox = new ymaps.control.ListBox({
                items: listBoxItems,
                data: {
                    content: 'Выберите город'
                },
				options: {
                    // С помощью опций можно задать как макет непосредственно для списка,
                    //layout: ListBoxLayout,
                    // так и макет для дочерних элементов списка. Для задания опций дочерних
                    // элементов через родительский элемент необходимо добавлять префикс
                    // 'item' к названиям опций.
                    //itemLayout: ListBoxItemLayout
                }
            });

        listBox.events.add('click', function (e) {
            // Получаем ссылку на объект, по которому кликнули.
            // События элементов списка пропагируются
            // и их можно слушать на родительском элементе.
            var item = e.get('target');
            // Клик на заголовке выпадающего списка обрабатывать не надо.
            if (item != listBox) {
                myMap.setCenter(
                    item.data.get('center'),
                    item.data.get('zoom')
                );
            }
        });

    myMap.controls.add(listBox, {float: 'left'});

    {% if not city %}
    var location = ymaps.geolocation;
    location.get({
      provider: 'yandex'
    }).then(function(result) {
      var userCoodinates = result.geoObjects.get(0).geometry.getCoordinates();
      myMap.setCenter(userCoodinates);
    }, function(err) {
      console.log('Ошибка: ' + err)
    });
    {% endif %}

  {% for service in services %}
  {% if service.latitude and service.longitude %}
    myMap.geoObjects.add(new ymaps.Placemark([{{ service.latitude|unlocalize }}, {{ service.longitude|unlocalize }}], {
        balloonContentHeader: '{{ service.name|escapejs }}',
        balloonContent: '{{ service.address|escapejs }}{% if service.address2 %}<br/>{{ service.address2|escapejs }}{% endif %}<br/>{% if service.hours %}{{ service.hours|escapejs }}<br/>{% endif %}{{ service.phone|escapejs }}{% if service.phone2 %}<br/>{{ service.phone2|escapejs }}{% endif %}{% if service.url %}<br/><a href="{{ service.url }}">{{ service.url }}</a>{% endif %}',
        balloonContentFooter: ''
      },{preset: 'islands#redDotIcon'}
      ));
  {% endif %}
  {% endfor %}
  });
});
</script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=d3198a9f-0921-4cce-8c77-83e21dd524ac&lang=ru_RU"></script>
{% endblock %}

