{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% load django_bootstrap_breadcrumbs %}
{% load shop_filters %}
{% block title %}Ремонт швейных машин, оверлоков и вязальных машин{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "К первой странице" "index" %}
{% endblock %}
{% block content %}
<div class="container">
<div class="product-page">
<h1>Сервисное обслуживание и ремонт швейных машин, оверлоков, вышивальных и вязальных машин</h1>
<p>Наши сервисные центры предлагают следующие работы и услуги:</p>
<ul>
<li>Гарантийный и послегарантийный ремонт и обслуживание швейных машин, вышивальных машин, оверлоков,
вязальных машин и другого оборудования производства компаний
Pfaff, Husqvarna Viking, Family, Janome, Singer, Silver Reed и ряда других фирм.
<li>Продажу запасных частей для швейного оборудования.
</ul>

<h2>Адреса сервисных центров и пунктов приема техники в ремонт</h2>
<div id="map" class="sw-map"></div>

{% for country_group in service_groups %}
<h2>{{ country_group.country.name }}</h2>
<ul>
{% for city_group in country_group.cities %}
<li>{{ city_group.city.name }}</li>
<dl>
{% for service in city_group.services %}
<dt>{{ service.address }}</dt>
<dd>{{ service.phone }}</dd>
{% endfor %}
</dl>
{% endfor %}
</ul>
{% endfor %}
</div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
  ymaps.ready(function() {
    var myMap = new ymaps.Map('map', {center: [55.76, 37.64], zoom: 10, controls: ['zoomControl', 'typeSelector',  'fullscreenControl', 'geolocationControl', 'rulerControl']});

    var location = ymaps.geolocation;
    location.get({
      provider: 'yandex'
    }).then(function(result) {
      var userCoodinates = result.geoObjects.get(0).geometry.getCoordinates();
      myMap.setCenter(userCoodinates);
    }, function(err) {
      console.log('Ошибка: ' + err)
    });

{% for service in services %}
  {% if service.latitude and service.longitude %}
    myMap.geoObjects.add(new ymaps.Placemark([{{ service.latitude|unlocalize }}, {{ service.longitude|unlocalize }}], {
        balloonContentHeader: '<img src="{% static 'i/shoplogos/workshop.png' %}" />',
        balloonContent: '{{ service.address|escapejs }}<br/>{{ service.phone|escapejs }}',
        balloonContentFooter: ''
      },
      {
        iconLayout: 'default#image',
        iconImageHref: '{% static 'i/shoplogos/workshop.png' %}',
        iconImageSize: [27, 26], iconImageOffset: [-10, -23]
      }));
  {% endif %}
  {% endfor %}
  });
});
</script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=d55e0ba4-d72b-4062-914c-94559697de16&lang=ru_RU"></script>
{% endblock %}
