<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'ru' }}">
{% load staticfiles %}
{% block html_page %}
<head>
    <title>{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %} - Швейный Мир</title>
    <meta name="description" content="{% block meta-description %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock meta-keywords %}" />
    <meta name="google-site-verification" content="HVT2yGaI68QX1ZwiLnTV6rVQiAZCCfg7Qfj5HuEP9bE" />
    <meta name="yandex-verification" content="54fc37eb003d8618" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    {% block meta %}{% endblock meta %}
    <link rel="stylesheet" media="screen" href="{% static 'css/vendor.min.css' %}">
    <link rel="stylesheet" media="screen" id="main-styles" href="{% static 'css/theme.min.css' %}">
    {% block link %}{% endblock link %}
    <style>
        .white-popup-block img { margin: 10px }
        div.product-card > div.card-body > div > ul { padding-left: 20px }
        div.product-spec span.border-bottom { line-height: 1.1 }
        div.product-spec span.border-bottom > span { background: #fff }
        .opener-ajax > [class^="czi-"], .opener-ajax > [class*=" czi-"], .opener-html > [class^="czi-"], .opener-html > [class*=" czi-"] { opacity: .5 }
        .opener-ajax:hover > [class^="czi-"], .opener-ajax:hover > [class*=" czi-"], .opener-html:hover > [class^="czi-"], .opener-html:hover > [class*=" czi-"] { opacity: 1 }
    </style>
    {% block css_wrapper %}{% endblock %}
</head>
<body>
{% block body_top %}{% endblock %}
<header class="box-shadow-sm">
{% block body_header %}{% endblock %}
</header>
{% block content_wrapper %}{% endblock %}
<footer class="bg-dark pt-5">
{% block body_footer %}{% endblock %}
</footer>
{% block body_underground %}{% endblock %}
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/theme.min.js' %}"></script>
    <script src="{% static 'js/inputmask.min.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>
{% block javascript_wrapper %}{% endblock %}
{% block body_bottom %}{% endblock %}
</body>
{% endblock html_page %}
</html>
