<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'ru' }}">
{% load static %}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{% block meta-description %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock meta-keywords %}" />
    <meta name="google-site-verification" content="HVT2yGaI68QX1ZwiLnTV6rVQiAZCCfg7Qfj5HuEP9bE" />
    <meta name="facebook-domain-verification" content="1wi52480oe6k2cdr8r04dr1cbrhpm6" />
    <meta name="yandex-verification" content="54fc37eb003d8618" />
    {% block meta %}{% endblock meta %}
    <title>{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %} - Швейный Мир</title>
    {% block link %}{% endblock link %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.10.3.custom.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}"/>
    <link rel="stylesheet" href="{% static 'reviews/css/star-rating.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

<style>
.sw-p-l-rating {
  text-align: right;
  padding-right: 65px;
}
.sw-p-l-rating > .gl-star-rating-stars {
  position: absolute;
  z-index: 1;
}
.sw-p-l-rating > .gl-star-rating-stars > span {
  width: 12px; height: 12px; background-size: 12px; margin: 0 1px 0 0;
}
</style>
{% block css_wrapper %}
{% endblock %}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
{% block body_top %}
{% endblock %}
<header>
{% block body_header %}
{% endblock %}
</header>
{% block content_wrapper %}
{% endblock %}
{% block body_footer %}
{% endblock %}
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script src="{% static 'js/inputmask.min.js' %}"></script>
<script src="{% static 'js/inputmask.extensions.min.js' %}"></script>
<script src="{% static 'js/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.dump.js' %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/site.js' %}?190725"></script>
{% block javascript_wrapper %}
{% endblock %}
{% block body_bottom %}
{% endblock %}
</body>
</html>
