{% extends "page.html" %}
{% load staticfiles %}
{% load l10n %}
{% load django_bootstrap_breadcrumbs %}
{% load shop_filters %}
{% block title %}Адреса магазинов{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Адреса магазинов' '' %}
{% endblock %}
{% block content_title %}Наши магазины рядом с Вами{% endblock %}
{% block content %}
    <div class="container-fluid px-0">
      <div class="row no-gutters">
        <div class="col-lg-6 iframe-full-height-wrap" style="min-height: 26rem">
          <div class="iframe-full-height" id="map"></div>
        </div>
        <div class="col-lg-6 px-4 px-xl-5 pt-4 pb-5 border-top">
          <div class="form-inline pb-4">
            <select class="form-control custom-select" id="sw-city-select">
              <option>Выберите город:</option>
              {% for country_group in store_groups %}
              <optgroup label="{{ country_group.country.name }}">
                {% for city_group in country_group.cities %}
                <option id="city_option_{{ city_group.city.id }}"{% if city_group.city.longitude %} data-longitude="{{ city_group.city.longitude|unlocalize }}"{% endif %}{% if city_group.city.latitude %} data-latitude="{{ city_group.city.latitude|unlocalize }}"{% endif %}>{{ city_group.city.name }}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
          </div>
          <h2 class="h4 mt-2 mb-4">Наши телефоны</h2>
            <div class="row">
              <div class="col-md-6 text-muted">Единая справочная розничной сети:</div>
              <div class="col-md-6">+7 495 744-00-87</div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">Интернет-магазин в Москве:</div>
              <div class="col-md-6">+7 495 766-56-75</div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">Интернет-магазин в Санкт-Петербурге:</div>
              <div class="col-md-6">+7 812 536-22-92</div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">Интернет-магазин в Казани:</div>
              <div class="col-md-6">+7 843 518-75-75<br>+7 843 292-26-40<br>+7 843 229-72-54</div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">Отдел промышленного оборудования:</div>
              <div class="col-md-6">+7 499 158-06-87</div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">Электронная почта:</div>
              <div class="col-md-6"><a href="mailto:info@thsm.ru">info@thsm.ru</a></div>
            </div>
        </div>
      </div>
    </div>

    <section class="container-fluid pt-grid-gutter mt-md-4 mb-5">
    {% for country_group in store_groups %}
      <h2 class="h3 mb-3">{{ country_group.country.name }}</h2>
      <div class="row">
      {% for city_group in country_group.cities %}
      {% for store in city_group.stores %}
        <div class="col-xl-3 col-md-6 mb-grid-gutter">
          <div class="card border-0 box-shadow">
            <div class="card-body" itemscope itemtype="http://schema.org/Organization">
              <h6 class="card-title">
                {% if store.logo == 'sewingworld' %}
                <a href="{% url 'store' store.id %}" itemprop="name">&quot;{{ store.name }}&quot; - {{ store.city.name }}</a>
                {% else %}
                <span itemprop="name">&quot;{{ store.name }}&quot; ({{ store.city.name }})</span>
                {% endif %}
              </h6>
              <ul class="list-unstyled mb-0">
                <li class="media"><i class="czi-location font-size-lg my-1 text-primary"></i>
                  <div class="media-body pl-3 font-size-sm" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">{{ store.address }}{% if store.address2 %}<br>{{ store.address2 }}{% endif %}</span>
                    <span class="d-none" itemprop="addressLocality">{{ store.city.name }}</span>
                    <span class="d-none" itemprop="addressCountry">{{ store.city.country.name }}</span>
                  </div>
                </li>
                <li class="media pt-2 mt-2 mb-0 border-top"><i class="czi-phone font-size-lg my-1 text-primary"></i>
                  <div class="media-body pl-3">
                    {% for phone in store.phones_as_list %}
                    <a class="d-block{% if not forloop.first %} mt-2{% endif %} nav-link-style font-size-sm" href="tel:{{ phone }}" itemprop="telephone">{{ phone }}</a>
                    {% endfor %}
                  </div>
                </li>
                {% if store.hours %}
                <li class="media pt-2 mt-2 mb-0 border-top"><i class="czi-time font-size-lg my-1 text-primary"></i>
                  <div class="media-body pl-3 font-size-sm">
                    {% for hours in store.hours_as_list %}
                    <div{% if not forloop.first %} class="mt-2"{% endif %}>{{ hours }}</div>
                    {% endfor %}
                  </div>
                </li>
                {% endif %}
                {% if store.url %}
                <li class="media pt-2 mt-2 mb-0 border-top"><i class="czi-dribbble font-size-lg my-1 text-primary"></i>
                  <div class="media-body pl-3"><a class="font-size-sm nav-link-style" href="{{ store.url }}">{{ store.url }}</a></div>
                </li>
                {% endif %}
                {% if store.logo != 'sewingworld' %}
                <li class="pt-2 mt-2 mb-0"><small class="text-muted">Магазин-партнер: рекламные акции Швейного Мира могут не действовать в этом магазине</small></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
      {% endfor %}
      </div>
    {% endfor %}
    </section>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
(function() {
    'use strict';
    document.addEventListener("DOMContentLoaded", function() {
        ymaps.ready(function() {
            var citySelect = document.getElementById("sw-city-select");

            {% if city %}
            var coords = [{{ city.latitude|unlocalize }}, {{ city.longitude|unlocalize }}];
            document.getElementById("city_option_{{ city.id }}").selected = "selected";
            {% else %}
            var coords = [55.76, 37.64];
            {% endif %}
            var myMap = new ymaps.Map('map', {center: coords, zoom: 10, controls: ['zoomControl', 'typeSelector',  'fullscreenControl', 'geolocationControl']});

            {% if not city %}
            var location = ymaps.geolocation;
            location.get({
                provider: 'yandex'
            }).then(function(result) {
                var userCoodinates = result.geoObjects.get(0).geometry.getCoordinates();
                myMap.setCenter(userCoodinates);
            }, function(err) {
                console.log('Ошибка: ' + err)
            });
            {% endif %}

            citySelect.addEventListener("change", function() {
                if (citySelect.selectedIndex == 0)
                    return false;
                var latitude = citySelect.options[citySelect.selectedIndex].dataset.latitude;
                var longitude = citySelect.options[citySelect.selectedIndex].dataset.longitude;
                if (latitude != undefined && longitude != undefined) {
                    myMap.setCenter([latitude, longitude]);
                    myMap.setZoom(12);
                } else {
                    var str = "город " + citySelect.options[citySelect.selectedIndex].text;
                    str += " " + citySelect.options[citySelect.selectedIndex].parentElement.getAttribute("label");
                    ymaps.geocode(str, {results: 100}).then(function (res) {
                        myMap.setCenter(res.geoObjects.get(0).geometry.getCoordinates());
                        myMap.setZoom(12);
                    });
                }
                return false;
            });

            {% for store in stores %}
            {% if store.latitude and store.longitude %}
            myMap.geoObjects.add(new ymaps.Placemark([{{ store.latitude|unlocalize }}, {{ store.longitude|unlocalize }}], {
                balloonContentHeader:
                    '<a href="{% url 'store' store.id %}">{{ store.name|escapejs }}</a>',
                balloonContent:
                    '<div><i class="czi-location text-primary d-inline-block mr-2"></i>' +
                    '<span class="d-inline-block align-top">{{ store.address|escapejs }}{% if store.address2 %}<br>{{ store.address2|escapejs }}{% endif %}</span></div>' +
                    {% if store.hours %}
                    '<div class="mt-1"><i class="czi-time text-primary d-inline-block mr-2"></i>' +
                    '<span class="d-inline-block align-top">{{ store.hours|escapejs }}</span></div>' +
                    {% endif %}
                    '<div class="mt-1"><i class="czi-phone text-primary d-inline-block mr-2"></i>' +
                    '<span class="d-inline-block align-top">{{ store.phone|escapejs }}{% if store.phone2 %}<br>{{ store.phone2|escapejs }}{% endif %}</span></div>' +
                    {% if store.url %}
                    '<div class="mt-1"><i class="czi-dribbble text-primary d-inline-block mr-2"></i>' +
                    '<span class="d-inline-block align-top"><a href="{{ store.url }}">{{ store.url }}</a></span></div>'
                    {% else %}''{% endif %},
                balloonContentFooter:
                    '{% if store.logo != 'sewingworld' %}<small>*магазин-партнер.<br>Рекламные акции Швейного Мира<br>могут не действовать в этом магазине</small>{% endif %}'
            },
            {
                iconLayout: 'default#image',
                iconImageHref: '{% if store.logo and 'i/shoplogos/marks/'|add:store.logo|add:'.png'|static_file_exists %}{% static 'i/shoplogos/marks/'|add:store.logo|add:'.png' %}{% else %}{% static 'i/shoplogos/marks/other.png' %}{% endif %}',
                iconImageSize: [27, 26], iconImageOffset: [-10, -23]
            }));
            {% endif %}
            {% endfor %}
        });
    }, false);
})();
</script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=d55e0ba4-d72b-4062-914c-94559697de16&lang=ru_RU"></script>
{% endblock %}
