{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}
{% load django_bootstrap_breadcrumbs %}
{% load shop_filters %}
{% block title %}Магазины{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "К первой странице" "/" %}
{% endblock %}
{% block content %}
<div class="container">
<div class="product-page">
<h1>Наши магазины рядом с Вами</h1>

<p>
<select style="font-size: 12pt" id="search_form">
<option>Выберите город:</option>
{% for country_group in store_groups %}
<optgroup label="{{ country_group.country.name }}">
{% for city_group in country_group.cities %}
<option id="city_option_{{ city_group.city.id }}"{% if city_group.city.longitude %} data-longitude="{{ city_group.city.longitude|unlocalize }}"{% endif %}{% if city_group.city.latitude %} data-latitude="{{ city_group.city.latitude|unlocalize }}"{% endif %}>{{ city_group.city.name }}</option>
{% endfor %}
</optgroup>
{% endfor %}
</select>
</p>
<div id="map" class="sw-map"></div>

<h1>Наши телефоны</h1>
<table border="0" style="padding:3px"><tr>
<td>Единая справочная розничной сети:</td>
<td>+7 495 744-00-87</td>
</tr><tr>
<td>Интернет-магазин в Москве:</td>
<td>+7 495 766-56-75</td>
</tr><tr>
<td>Интернет-магазин в Санкт-Петербурге:</td>
<td>+7 812 536-22-92</td>
</tr><tr>
<td>Интернет-магазин в Казани:</td>
<td>+7 843 518-75-75, +7 843 292-26-40, +7 843 229-72-54</td>
</tr><tr>
<td>Отдел промышленного оборудования:</td>
<td>+7 499 158-06-87</td>
</tr><tr>
<td>e-mail:</td>
<td>
<a href="mailto:info@thsm.ru">info@thsm.ru</a>
</td>
</tr></table>

{% for country_group in store_groups %}
<a href="#" name="{{ country_group.country.name }}"></a><h2>{{ country_group.country.name }}</h2>
{% for city_group in country_group.cities %}
<h3>{{ city_group.city.name }}</h3>
<div>
{% for store in city_group.stores %}
<div class="shop-img">
{% if store.logo and 'i/shoplogos/marks/'|add:store.logo|add:'.png'|static_file_exists %}
<img src="{% static 'i/shoplogos/marks/'|add:store.logo|add:'.png' %}"/>
{% else %}
<img src="{% static 'i/shoplogos/marks/other.png' %}" />
{% endif %}
</div>
<div class="shop-info" itemscope itemtype="http://schema.org/Organization">
{% if store.logo == 'sewingworld' %}
<a href="{% url 'store' store.id %}"><span class="shop-name" itemprop="name">&quot;{{ store.name }}&quot; - {{ store.city.name }}</span></a><br>
{% else %}
<span class="shop-name" itemprop="name">&quot;{{ store.name }}&quot;</span><br>
{% endif %}
<div  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<span class="shop-address" itemprop="streetAddress">{{ store.address }}</span> <span class="shop-address2">{{ store.address2 }}</span>
<span class="shop-city" itemprop="addressLocality">{{ store.city.name }}</span>
<span class="shop-country" itemprop="addressCountry">{{ store.city.country.name }}</span>
</div>
<span class="shop-phone" itemprop="telephone">{{ store.phone }}</span> <span class="shop-phone2">{{ store.phone2 }}</span><br>
{% if store.url %}
<span class="shop-homepage"><a href="{{ store.url }}">{{ store.url }}</a></span><br>
{% endif %}
{% if store.description %}
<p>{{ store.description|safe }}</p><br>
{% endif %}
</div>
{% endfor %}
</div>
{% endfor %}
{% endfor %}
</div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
  ymaps.ready(function() {
    var geolocation = ymaps.geolocation;
    {% if city %}
    var coords = [{{ city.latitude|unlocalize }}, {{ city.longitude|unlocalize }}];
    $("#search_form option[id='city_option_{{ city.id }}']").attr("selected", "selected");
    {% else %}
    var coords = [geolocation.latitude, geolocation.longitude];
    {% endif %}
    myMap = new ymaps.Map('map', {center: coords, zoom: 10, behaviors:['default', 'scrollZoom']});
    myMap.controls
      .add('zoomControl', { left: 5, top: 5 })
      .add('typeSelector')
      .add('mapTools', { left: 35, top: 5 })
      .add(new ymaps.control.MiniMap({type: 'yandex#publicMap'}));

    $('#search_form').change(function () {
      var latitude = $("select option:selected").data('latitude');
      var longitude = $("select option:selected").data('longitude');
      if (latitude != undefined && longitude != undefined) {
        myMap.setCenter([latitude, longitude]);
        myMap.setZoom(12);
      } else {
        var str = "";
        $("select option:selected").each(function () {
          str += "город" + $(this).text() + " ";
        });
        var country =$("select option:selected").parent();
        str += " " + country.attr("label");
        ymaps.geocode(str, {results: 100}).then(function (res) {
          myMap.setCenter(res.geoObjects.get(0).geometry.getCoordinates());
          myMap.setZoom(12);
        });
      }
      return false;
    });
  {% for store in stores %}
  {% if store.latitude and store.longitude %}
    myMap.geoObjects.add(new ymaps.Placemark([{{ store.latitude|unlocalize }}, {{ store.longitude|unlocalize }}], {
        balloonContentHeader: '{% if store.logo and 'i/shoplogos/marks/'|add:store.logo|add:'.png'|static_file_exists %}<img src="{% static 'i/shoplogos/marks/'|add:store.logo|add:'.png' %}"/>{% else %}<img src="{% static 'i/shoplogos/marks/other.png' %}" />{% endif %}<a href="{% url 'store' store.id %}">{{ store.name|escapejs }}</a>',
        balloonContent: '{{ store.address|escapejs }}{% if store.address2 %}<br/>{{ store.address2|escapejs }}{% endif %}<br/>{{ store.phone|escapejs }}{% if store.phone2 %}<br/>{{ store.phone2|escapejs }}{% endif %}{% if store.url %}<br/><a href="{{ store.url }}">{{ store.url }}</a>{% endif %}',
        balloonContentFooter: '{% if store.logo != 'sewingworld' %}<small>*магазин-партнер.<br>Рекламные акции Швейного Мира<br>могут не действовать в этом магазине</small>{% endif %}'
      },
      {
        iconLayout: 'default#image',
        iconImageHref: '{% if store.logo and 'i/shoplogos/marks/'|add:store.logo|add:'.png'|static_file_exists %}{% static 'i/shoplogos/marks/'|add:store.logo|add:'.png' %}{% else %}{% static 'i/shoplogos/marks/other.png' %}{% endif %}',
        iconImageSize: [27, 26], iconImageOffset: [-10, -23]
      }));
  {% endif %}
  {% endfor %}
  });
});
</script>
<script src="//api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
{% endblock %}
