{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_modify %}
{% block extrastyle %}{{ block.super }}
    <style>
        /* Remove tabular inline headers */
        .original {
            display: none;
        }
        .inline-group .tabular tr.has_original td {
            padding-top: 4px;
        }
    </style>
{% endblock %}
{% block object-tools-items %}
    {% url opts|admin_urlname:'print' original.pk|admin_urlquote as print_url %}
    <li><a href="{% add_preserved_filters print_url %}?_popup=1" class="related-widget-wrapper-link" data-popup="yes">
            <span>{% trans "Печать" %}</span></a></li>
    {{ block.super }}
{% endblock %}
