{% if updated %}
    <h3>Спасибо за заказ!</h3>
    <p>Регистрационный номер Вашего заказа <b>{{ order.id }}</b>.</p>
    <p>Наш менеджер свяжется с Вами, уточнит состав заказа, согласует способ оплаты, стоимость и способ доставки, и договорится об удобном времени доставки.</p>
    <p>Узнать о состоянии заказа Вы можете по ссылке <a href="{% url 'shop:user_orders' %}">"Отслеживание заказа"</a> вверху страницы.</p>
{% else %}
    <form id="sw-update-order-form" action="{% url 'shop:update_order' order.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label class="lead" for="order-name-input">Фамилия Имя Отчество:</label>
        <input type="text" name="name" class="form-control input-lg" id="order-name-input" value="{{ user.name|force_escape }}" autocomplete="name" />
      </div>
      <div class="form-group">
        <label class="lead" for="order-email-input">E-mail для уведомлений:</label>
        <input type="text" name="email" class="form-control input-lg" id="order-email-input" value="{{ user.email|force_escape }}" autocomplete="email" />
      </div>
      <div class="form-group">
        <label class="lead" for="order-address-input">Адрес доставки:</label>
        <input type="text" name="address" class="form-control input-lg" id="order-address-input"
               value="{% firstof order.address|force_escape user.address|force_escape %}" autocomplete="postal-code address-level2 street-address" />
      </div>
      <div class="form-group">
        <label class="lead" for="order-comment-input">Комментарии к заказу:</label>
        <textarea name="comment" class="form-control input-lg" id="order-comment-input" value="{{ order.comment }}" rows="3"></textarea>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary btn-lg"><i class="czi-card font-size-lg mr-2"></i>Оформить заказ</button>
      </div>
    </form>
{% endif %}
