{% extends "base.html" %}
{% block title %}
<title>Оформление заказа - Швейный Мир</title>
{% endblock %}
{% block css %}
<style type="text/css">
	#total { font-weight:bold; color:darkgreen; }
	.sw-basket-product-title { font-size:1.2em; }
	.sw-phone-input          { height:auto; color:black; }
	.sw-phone-input:-moz-placeholder { color:#e0e0e0; }
	.sw-phone-input::-webkit-input-placeholder { color:#e0e0e0; }
	.sw-basket-quantity      { height:auto; text-align:center; }
	.sw-small-jumbotron      { font-size:10pt; }
</style>
{% endblock %}
{% block cart_notice_output %}
{% endblock %}
{% block content %}
{% load staticfiles %}
{% load shop_filters %}
<h1>Оформление заказа</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div>
    {% for item in basket.items.all %}
    <div class="row sw-product-row">
          <div class="sw-p-l-name col-md-4">{{ item.product.title }}{% if item.product.pack_factor != 1 %}
<div class="small">Упаковка: {{ item.product.pack_factor }}{% if item.product.ws_pack_only %} (продажа только упаковками){% endif %}</div>
{% endif %}</div>
          <div class="text-right col-md-3">
             {% if item.discount > 0 %}
                 {{ item.product.ws_price }}&nbsp;руб.
                 - {{ item.discount_text }}
                 = {{ item.cost }}&nbsp;руб.
             {% else %}
                 {{ item.product.ws_price }}&nbsp;руб.
             {% endif %}
             <div class="sw-sec-price">${{ item.cost|convert_price:"998"|floatformat:"-2" }}</div>
          </div>
             <form class="col-md-2 update form-inline ajax" action="{% url 'shop:update' item.product.id %}" method="post">
             {% csrf_token %}
             <div class="input-group quantity-container">
                <input class="form-control sw-basket-quantity" type="text" name="quantity" value="{{ item.quantity }}" style="width: 4em" title="Количество"/>
                <span class="input-group-btn sw-delete"><a href="{% url 'shop:delete' item.product.id %}" class="btn btn-warning delete ajax" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></span>
             </div>
             </form>
             <div class="col-md-1">
                 <div style="display: inline-block" class="text-right">
                 <span id="price_{{ item.product.id }}">{{ item.price }}</span>&nbsp;руб.<br/>
                 <span class="sw-sec-price">${{ item.price|convert_price:"998"|floatformat:"-2" }}</span>
                 </div>
             </div>
    </div>
    {% endfor %}

    <p class="sw-basket-total lead">Итого, без учета стоимости доставки: <span id="total">{{ basket.total }}</span>&nbsp;руб. <span class="sw-sec-price">(${{ basket.total|convert_price:"998"|floatformat:"-2" }})</span></p>

    {% include "shop/_send_order.html" %}

</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var CustomHandlers = function () {
            };
            CustomHandlers.prototype.setQuantityWarning = function (e, $el) {
                $el.find(".quantity-container").addClass("has-warning");
            };
            CustomHandlers.prototype.setQuantity = function (e, $el, data) {
                var $in = $el.find(".sw-basket-quantity");
                $in.val(data["quantity"]);
                var $cn = $el.find(".quantity-container");
                $cn.removeClass("has-warning").addClass("has-success");
                $in.on("blur", function () {
                    $cn.removeClass("has-success");
                });
            };
            CustomHandlers.prototype.removeProduct = function (e, $el) {
                var $row = $el.closest(".sw-product-row");
                $row.fadeOut("normal", function() {
                    $(this).remove();
                });
            };
            CustomHandlers.prototype.addAjaxFlag = function (e, $el) {
                $el.on("eldarion-ajax:modify-data", function (e, data) {
                    if (typeof data === "object") // using FormData
                        data.append("ajax", 1);
                    else if (data != null)
                        data = data + "&ajax=1";
                    else
                        data = "ajax=1";
                    return data;
                });
            };
            CustomHandlers.prototype.updateCSRF = function (e, $el) {
                var csrf = Cookies.get("csrftoken");
                $('input[type="hidden"][name="csrfmiddlewaretoken"]').prop("value", csrf);
            };
            CustomHandlers.prototype.passwordReset = function (e, $el) {
                $("#password-help").text("Новый пароль выслан на указанный телефон");
                $("#password-help").removeClass("hide").show();
                $("#send-order").addClass("has-warning");
            };
            CustomHandlers.prototype.processError = function (e, $el, jqXHR, error, ex) {
                // is not used anymore
                if (jqXHR.status == 403)
                {
                    $("#password-help").text("Вы ввели неправильный пароль");
                    $("#password-help").removeClass("hide").show();
                    $el.addClass("has-error");
                }
            };
            $(document).on("eldarion-ajax:begin", function(evt, $el) {
                $("body").css("cursor", "progress");
            });
            $(document).on("eldarion-ajax:complete", function(evt, $el) {
                $("body").css("cursor", "auto");
            });
            $(document).on("eldarion-ajax:begin",   ".ajax", CustomHandlers.prototype.addAjaxFlag);
            $(document).on("eldarion-ajax:success", ".delete", CustomHandlers.prototype.removeProduct);
            $(document).on("eldarion-ajax:begin",   ".update", CustomHandlers.prototype.setQuantityWarning);
            $(document).on("eldarion-ajax:success", ".update", CustomHandlers.prototype.setQuantity);
            $(document).on("eldarion-ajax:success", "#send-order", CustomHandlers.prototype.updateCSRF);
            $(document).on("eldarion-ajax:error",   "#send-order", CustomHandlers.prototype.processError);
            $(document).on("eldarion-ajax:success", "#reset-password", CustomHandlers.prototype.passwordReset);
            $(document).on("eldarion-ajax:complete", initHandlers);

            $(".sw-basket-quantity").mask("9?99999", {placeholder: ""});

            initHandlers();
        });

        function initHandlers() {
            $("#order-submit").prop("disabled", true);

            $("#send-order").on("submit", function () {
                //$.dump(this, 2);
                return this["phone"].value.length > 0;
            });

            $("#password-input").on("paste keydown", function () {
                $("#send-order").removeClass("has-error");
                $("#send-order").removeClass("has-warning");
                $("#password-help").hide();
                $("#password-help").text("");
            });

            $("#phone-input").mask("(999) 999-99-99?9", {completed: enableSendOrder});
        }

        function enableSendOrder() {
            $("#order-submit").prop("disabled", false);
        }
    </script>
{% endblock %}
