{% extends "page_overlapped.html" %}
{% load decimals %}
{% load django_bootstrap_breadcrumbs %}
{% load thumbnail %}
{% load shop_filters %}
{% block title %}Корзина{% endblock %}
{% block content_title %}Ваша корзина{% endblock %}
{% block body_header %}
{% with hide_cart_notice=True %}
{{ block.super }}
{% endwith %}
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Корзина' '' %}
{% endblock %}
{% block content %}
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <!-- List of items-->
        <section class="col-lg-8">
          <div class="d-flex justify-content-between align-items-center pt-3 pb-2 pb-sm-5 mt-1">
            <h2 class="h6 text-light mb-0">Товары</h2><a class="btn btn-outline-primary btn-sm pl-2" href="shop-grid-ls.html"><i class="czi-arrow-left mr-2"></i>Continue shopping</a>
          </div>
          {% for item in basket.items.all %}
          <!-- Item-->
          <div class="d-sm-flex justify-content-between align-items-center my-4 p{% if forloop.first %}b{% else %}y{% endif %}-3{% if not forloop.last %} border-bottom{% endif %} basket-item">
            <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><a class="d-inline-block mx-auto mr-sm-4" href="{% url 'product' item.product.code %}" style="width: 10rem;">{% if item.product.image_prefix|add:'.jpg'|file_exists %}{% thumbnail item.product.image_prefix|add:'.jpg' '160x160' padding=True as im %}<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title }} {{ product.whatis }}"/>{% endthumbnail %}{% else %}<i class="d-inline-block czi-camera text-muted" style="width: 160px; height: 160px; font-size: 80px; padding: 40px"></i>{% endif %}</a>
              <div class="media-body pt-2">
                <h3 class="product-title font-size-base mb-2"><a href="{% url 'product' item.product.code %}">{{ item.product.title }}</a></h3>
                <div class="font-size-sm"><span class="text-muted mr-2">Цена:</span>{{ item.product.price|quantize:'1' }}<small>&nbsp;руб</small></div>
                {% if item.discount > 0 %}
                <div class="font-size-sm"><span class="text-muted mr-2">Скидка:</span>{{ item.discount_text }}</div>
                {% endif %}
                <div class="font-size-lg text-accent pt-2"><span id="price_{{item.product.id}}">{{ item.price }}</span><small>&nbsp;руб</small></div>
              </div>
            </div>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="width: 10rem; min-width: 10rem;">
              <form action="{% url 'shop:update' item.product.id %}" method="post">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-0">
                  <div class="input-group-prepend"><button class="btn btn-outline-secondary basket-quantity-minus" type="button"><i class="czi-arrow-down"></i></button></div>
                  <input class="form-control text-center basket-quantity" type="text" name="quantity" value="{{ item.quantity }}" min="1"/>
                  <div class="input-group-append"><button class="btn btn-outline-secondary basket-quantity-plus" type="button"><i class="czi-arrow-up"></i></button></div>
                </div>
              </form>
              <a class="btn px-0 text-danger font-size-sm basket-delete" href="{% url 'shop:delete' item.product.id %}" data-name="{{ item.product.partnumber}} {{ item.product.title }}"
                data-id="{{ item.product.id }}" data-brand="{{ item.product.manufacturer.code }}" data-price="{{ item.price }}"><i class="czi-close-circle mr-2"></i>Удалить</a>
            </div>
          </div>
          {% endfor %}
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
          <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
            <div class="text-center mb-4 pb-3 border-bottom">
              <h2 class="h6 mb-3 pb-1">Итого<small class="text-muted">, без учета стоимости доставки</small></h2>
              <h3 class="font-weight-normal"><span id="total">{{ basket.total }}</span><small>&nbsp;руб</small></h3>
            </div>

            {% if user and user.is_authenticated %}
            <div class="mb-2">Добро пожаловать, {{ user.name|default:"уважаемый покупатель" }}!</div>
            <a class="btn btn-primary btn-shadow btn-block" href="{% url 'shop:confirm' %}"><i class="czi-card font-size-lg mr-2"></i>Оформить заказ</a>
            <div class="mt-4"><a href="{% url 'shop:logout' %}" class="font-size-sm">Оформить заказ от другого имени</a></div>
            {% else %}
            {% include "shop/user/_login_form.html" with embedded=True ctx="order" %}
            {% endif %}

            <div id="oferta-notice" class="mt-4 font-size-xs">Нажимая на кнопку &laquo;Оформить заказ&raquo;, вы подтверждаете согласие с условиями <a href="{% url 'django.contrib.flatpages.views.flatpage' url='oferta/' %}">публичной оферты</a>.</div>
          </div>
        </aside>
      </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
(function() {
    'use strict';

    var updateFragments = function(data) {
        if (data.fragments) {
            for (var id in data.fragments) {
                var el = document.getElementById(id);
                if (el)
                    el.textContent = data.fragments[id];
            }
        }
    };

    var submitQuantityForm = function() {
        var data = new FormData(this.form);
        data.append('ajax', 1);
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            var data = JSON.parse(xhr.responseText);
            updateFragments(data);
        };
        xhr.open('POST', this.form.action);
        xhr.send(data);
    }

    var inputEvent = new Event('input');

    var decreasers = document.getElementsByClassName("basket-quantity-minus");
    for (var i = 0; i < decreasers.length; i++) {
        decreasers[i].addEventListener("click", function(event) {
            var quantityInput = sworld.getSiblingByClassName(this.parentNode, "basket-quantity");
            if (quantityInput && quantityInput.value > 1) {
                quantityInput.value = parseInt(quantityInput.value) - 1;
                quantityInput.dispatchEvent(inputEvent);
            }
        });
    }

    var increasers = document.getElementsByClassName("basket-quantity-plus");
    for (var i = 0; i < increasers.length; i++) {
        increasers[i].addEventListener("click", function(event) {
            var quantityInput = sworld.getSiblingByClassName(this.parentNode, "basket-quantity");
            if (quantityInput) {
                quantityInput.value = parseInt(quantityInput.value) + 1;
                quantityInput.dispatchEvent(inputEvent);
            }
        });
    }

    var quantities = document.getElementsByClassName("basket-quantity");
    for (var i = 0; i < quantities.length; i++) {
        Inputmask({mask: "9", repeat: 5, placeholder: ""}).mask(quantities[i]);
        quantities[i].addEventListener("input", function(event) {
            if (this.value < 1)
                this.value = 1;
            var timer = this.getAttribute('timer');
            if (timer)
                clearTimeout(timer);
            timer = setTimeout(submitQuantityForm.bind(this), 500);
            this.setAttribute('timer', timer);
        });
    }

    var removers = document.getElementsByClassName("basket-delete");
    for (var i = 0; i < removers.length; i++) {
        removers[i].addEventListener("click", function(event) {
            event.preventDefault();
            var xhr = new XMLHttpRequest();
            xhr.onload = function () {
                var data = JSON.parse(xhr.responseText);
                var parent = sworld.getParentByClassName(event.target, 'basket-item');
                parent.addEventListener('transitionend', function() {
                    parent.parentNode.removeChild(parent);
                    updateFragments(data);
                });
                parent.classList.add('fade');
                if (data.location)
                    window.location.href = data.location;
            };
            xhr.open('GET', event.target.href + "?ajax=1");
            xhr.send();
        });
    }

    {% if not user or not user.is_authenticated %}
    var addFormSumbitListener = function() {
        var form = document.getElementById("sw-order-form");
        var ofertaNotice = document.getElementById("oferta-notice");
        var button = sworld.getChildByClassName(form, 'btn-primary');
        var icon = sworld.getChildByClassName(button, 'czi-card');
        if (icon)
            ofertaNotice.classList.remove("d-none")
        else
            ofertaNotice.classList.add("d-none");

        form.addEventListener("submit", function(event) {
            var $form = $(form);
            var data = $form.serialize() + '&ajax=1';
            $.post($form.attr('action'), data, function(data) {
                if (data.location) {
                    window.location.href = data.location;
                } else if (data.authenticated) {
                    window.location.reload();
                } else {
                    $form.replaceWith(data.html);
                    addFormSumbitListener();
                }
            }, 'json');
            event.preventDefault();
            event.stopPropagation();
        }, false);
    };
    window.addEventListener('load', addFormSumbitListener, false);
    {% endif %}
})();
</script>
{% endblock %}

{% block vk_retargeting_event %}
  VK.Retargeting.ProductEvent(3195, "init_checkout", {'products': [
    {% for item in basket.items.all %}
    {'id': '{{ item.product.id }}'}{% if not forloop.last %},{% endif %}
    {% endfor %}
  ]});
{% endblock %}
