{% extends "shop/base.html" %}
{% block content %}
<h1>Ваша корзина пуста!</h1>

<p>Самое время положить туда что-нибудь:</p>

<h2>Каталог</h2>
<ul class="catalog">
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/promo/index.html"><b>Специальные предложения</b></a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/sewing_machines/index.html"><b>Швейные машины</b></a>
<ul class="catalog">
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/sewing_machines/computerized/index.html">Швейные машины с микропроцессорным управлением</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/sewing_machines/electromechanical/index.html">Электромеханические швейные машины</a>
</ul>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/embroidery_machines/index.html"><b>Вышивальные и швейно-вышивальные машины</b></a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/sergers/index.html"><b>Оверлоки и коверлоки</b></a>
<ul class="catalog">
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/sergers/coverlock/index.html">Коверлоки (оверлок+плоскошовная машина)</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/sergers/Sergers/index.html">Оверлоки</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/sergers/coverstitch/index.html">Плоскошовные машины</a>
</ul>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/knitting_machines/index.html"><b>Вязальные и кеттельные машины</b></a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/irons/index.html"><b>Гладильное оборудование</b></a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/index.html"><b>Аксессуары</b></a>
<ul class="catalog">
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/sewing_machines/index.html">Аксессуары для швейных машин</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/embroidery_machines/index.html">Аксессуары для вышивальных машин</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/sergers/index.html">Аксессуары для оверлоков и плоскошовных машин</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/knitting/index.html">Аксессуары для вязальных машин</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/bags/index.html">Аксессуары для сумок</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Hand_Needles/index.html">Булавки и Иглы для ручного шитья</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/embroidery_acces/index.html">Для вышивания</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/knopki/index.html">Кнопки, застежки, пуговицы и приспособления для их установки</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Needles/index.html">Иглы для машин и оверлоков</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Measure/index.html">Измерительные инструменты</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/mannequins/index.html">Манекены портновские</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Markers/index.html">Маркировочные инструменты</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Set/index.html">Наборы для рукоделия</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Thimbles/index.html">Наперстки</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/threads/index.html">Нитки</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Scissors/index.html">Ножницы</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/software/index.html">Программное обеспечение</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Knife/index.html">Раскройные ножи и коврики</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Knitting_Accessories/index.html">Спицы, крючки и прочее для ручного вязания</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Stabilisers/index.html">Стабилизаторы, клей, флизелин и другие прокладочные материалы</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/tables/index.html">Столы и тумбы для швейных машин</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/fabrics/index.html">Ткани</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Boxes/index.html">Шкатулки, сумки, коробки и пеналы</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/accessories/Other/index.html">Другие приспособления для шитья и ухода за техникой</a>
</ul>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/Prom/index.html"><b>Промышленное оборудование</b></a>
<ul class="catalog">
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/Prom/straight/index.html">Одноигольные прямострочные машины челночного стежка</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/Prom/coverstitch/index.html">Плоскошовные машины</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/Prom/sergers/index.html">Оверлоки</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/Prom/special/index.html">Швейные машины специального назначения</a>
<li class="catalog"><a href="http://www.sewing-world.ru/catalog/Prom/other/index.html">Прочее оборудование</a>
</ul>
</ul>
{% endblock %}
