{% extends "base.html" %}

{% block content %}
<h1>Ваша корзина пуста!</h1>

<p>Самое время положить туда что-нибудь:</p>

<h2>Каталог</h2>

<ul class="catalog">
<li class="catalog"><a href="/catalog/sewing_machines/">Электромеханические швейные машины</a></li>
<li class="catalog"><a href="/catalog/comp_sewing_machines/">Компьютерные (электронные) швейные машины</a></li>
<li class="catalog"><a href="/catalog/sewing_embroidery_machines/">Швейно-вышивальные и вышивальные машины</a></li>
<li class="catalog"><a href="/catalog/overlock/">Оверлоки, Коверлоки и Плоскошовные машины</a></li>
<li class="catalog"><a href="/catalog/accessories/">Принадлежности</a>
  <ul class="catalog">
  <li class="catalog"><a href="/catalog/accessories/horizontal/">Принадлежности для машин с горизонтальным челноком</a></li>
  <li class="catalog"><a href="/catalog/accessories/vertical/">Принадлежности для машин с вертикальным челноком</a></li>
  <li class="catalog"><a href="/catalog/accessories/embroidery/">Принадлежности для вышивальных машин</a></li>
  <li class="catalog"><a href="/catalog/accessories/Janome1200/">Принадлежности для Janome 1200d</a></li>
  <li class="catalog"><a href="/catalog/accessories/JanomeCP2/">Принадлежности для Janome Cover Pro</a></li>
  <li class="catalog"><a href="/catalog/accessories/overlock/">Принадлежности для оверлоков</a></li>
  </ul>
</li>
</ul>


{% endblock %}
