{% extends "shop/base.html" %}
{% load staticfiles %}
{% block title %}Оформление заказа{% endblock %}
{% block css %}
<link href="{% static 'css/suggestions.min.css' %}" rel="stylesheet" />
{% endblock css %}
{% block content %}

    {% include "shop/_update_order.html" %}

    {% if order.utm_source == 'prym' %}
    <img src="https://www.commerce-connector.com/tracking/tracking.gif?shop=paZM4JcIWcRrHfkIwFQTCT2GzbBTVN1K{% for item in order.items.all %}&ean[{{ forloop.counter0 }}]={{ item.product.gtin }}&sale[{{ forloop.counter0 }}]={{ item.quantity }}{% endfor %}" width="1" height="1" border="0" />
    {% endif %}

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/jquery.suggestions.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#address-input").suggestions({
                token: "c806020ea7ad70f8577ea4d570e231e09a1d55d0",
                type: "ADDRESS",
                /* Вызывается, когда пользователь выбирает одну из подсказок */
                onSelect: function(suggestion) {
                    $("#postcode-input").val(suggestion.data.postal_code);
                    $("#city-input").val(suggestion.data.city);
                }
            });

//            window.dataLayer = window.dataLayer || [];
            dataLayer.push({
              "ecommerce": {
                "purchase": {
                    "actionField": {
                        "id" : "{{ order.id }}"
                    },
                    "products": [
{% for item in order.items.all %}
                        {
                            "id": "{{ item.product.id }}",
                            "name": "{{ item.product.title }}",
                            "price": "{{ item.product.price }}",
                            "quantity": "{{ item.quantity }}"
                        },
{% endfor %}
                    ]
                }
              }
            });

            var CustomHandlers = function () {
            };
            CustomHandlers.prototype.addAjaxFlag = function (e, $el) {
                $el.on("eldarion-ajax:modify-data", function (e, data) {
                    if (typeof data === "object") // using FormData
                        data.append('ajax', 1);
                    else
                        data = data + "&ajax=1";
                    return data;
                });
            };
            $(document).on("eldarion-ajax:begin", function(evt, $el) {
                $("body").css("cursor", "progress");
            });
            $(document).on("eldarion-ajax:complete", function(evt, $el) {
                $("body").css("cursor", "auto");
            });
            $(document).on("eldarion-ajax:begin", "#update-order", CustomHandlers.prototype.addAjaxFlag);
        });
    </script>
{% endblock %}
{% block vk_retargeting_event %}
  VK.Retargeting.ProductEvent(3195, "purchase", {'products': [
{% for item in order.items.all %}
    {'id': '{{ item.product.id }}'}{% if not forloop.last %},{% endif %}
{% endfor %}
  ]});
{% endblock %}
