{% extends "shop/base.html" %}
{% load staticfiles %}
{% load decimals %}
{% load shop_filters %}
{% block title %}
<title>Заказ №{{ order.id }} - Швейный Мир</title>
{% endblock %}
{% block css %}
<style type="text/css">
.products td { text-align:center;}
.left    { text-align:left !important;}
.right   { text-align:right !important;}
.center  { text-align:center !important;}
.deflist dd { padding-top:5px; padding-bottom:5px; padding-left:20px; }
.widepan {width:350px !important;}
@media(max-width:768px){
.widepan {width:100% !important;}
}
</style>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
$('#f96bae27a7dbbcfc794595702bd9024d').on('DOMNodeInserted', function(e) {
  $("#f96bae27a7dbbcfc794595702bd9024d").find(".w-input").val("{{ order.delivery_yd_order }}");
});
</script>
{% endblock %}
{% block content %}
<h1>Заказ № {{ order.id }} от {{ order.created|date:"j E Y" }}</h1>
<div class="sw-p-l panel panel-default widepan">
<div class="panel-body">
<h2>Состояние заказа</h2>
<dl class="deflist">
<dt>Статус:</dt>
<dd>{{ order.get_status_display }}{% if order.payment != order.PAYMENT_CASH %} <br>
{{ order.paid|yesno:"оплачен," }}{% endif %}</dd>
<dt>Информация о доставке:</dt>
{% if order.delivery == order.DELIVERY_YANDEX and order.status == order.STATUS_DELIVERED_STORE %}
<dd style="width: 0px">
<meta name="ydWidgetData" id="f526c05f4e50090a3bffbb04d40e07b3" content="" data-sender_id="15938" data-weight="0" data-cost="0" data-height="0" data-length="0" data-width="0" data-city_from="Москва" data-geo_id_from="213" data-css_name="tracking_tpl" data-tpl_name="tracking_tpl" data-container_tag_id="f96bae27a7dbbcfc794595702bd9024d" data-resource_id="21272" data-resource_key="1780931b94c77b42c08b895fb88747d2" data-tracking_method_key="43df8cf1b0d40baaef3a3363458314f1" data-autocomplete_method_key="fd34c231b276f9bea3db9b60ac09506e"></meta><!--[if lt IE 9]><script>document.createElement("msw");</script><![endif]-->
<script src="https://delivery.yandex.ru/widget/widgetJsLoader?dataTagID=f526c05f4e50090a3bffbb04d40e07b3" charset="utf-8"></script>
<msw id="f96bae27a7dbbcfc794595702bd9024d" class="yd-widget-container"></msw></dd>
{% endif %}
<dd>{% if order.delivery_tracking_number %}трек-код: {{ order.delivery_tracking_number }}<br/>{% endif %}
{% if order.delivery_info %}{{ order.delivery_info }}<br/>{% endif %}
{% if order.delivery_dispatch_date %}{{ order.delivery_dispatch_date }}{% endif %}
{% if order.delivery_time_from %} с {{ order.delivery_time_from }}{% endif %}
{% if order.delivery_time_till %} до {{ order.delivery_time_till }}{% endif %}</dd>
</dl>
</div>
</div>

<div class="sw-p-l panel panel-default widepan">
<div class="panel-body">
<h2>Оплата заказа</h2>
<dl class="deflist">
<dt>Способ оплаты:</dt> <dd>{{ order.get_payment_display }}
</dd>
</dl>
{% if not order.paid and order.payment != order.PAYMENT_CASH and order.payment != order.PAYMENT_UNKNOWN and order.payment != order.PAYMENT_COD %}
{% if order.status == order.STATUS_COLLECTED %}
{% if order.payment == order.PAYMENT_CARD %}
<form name="ShopForm" method="post" action="https://money.yandex.ru/eshop.xml">
<input type="hidden" name="scid" value="29182"/>
<input type="hidden" name="ShopID" value="42873"/>
<input type="hidden" name="orderNumber" value="{{ order.id }}"/>
<input type="hidden" name="CustomerNumber" value="{{ order.user.id }}"/>
<input type="hidden" name="Sum" value="{{ order.total }}"/>
<input type="hidden" name="CustName" value="{{ order.name }}"/>
<input type="hidden" name="CustEMail" value="{{ order.email }}"/>
<input type="hidden" name="CustAddr" value="{{ order.address }}"/>
<input type="hidden" name="cps_email" value="{{ order.email }}"/>
<input type="hidden" name="shopSuccessURL" value="http://www.sewing-world.ru/orderdone.html"/>
<input type="hidden" name="ym_merchant_receipt" value='{
  "customerContact": "{{ order.phone }}",
  "taxSystem": 2,
  "items":[{% for item in order.items.all %}
    {"quantity": {{ item.quantity }}, "price": {"amount": {{ item.cost|quantize:'1' }}}, "tax": 1, "text": "{{ item.product.title|safe|escapejs }}"}{% if order.delivery_price > 0 or not forloop.last %},{% endif %}{% endfor %}{% if order.delivery_price > 0 %}
    {"quantity": 1, "price": {"amount": {{ order.delivery_price|quantize:'1' }}}, "tax": 1, "text": "Доставка"}{% endif %}
          ]
}'/>
Выберите способ оплаты:<br/>
<div class="radio">
<label>
<input name="paymentType" value="PC" type="radio"/>
Со счёта в Яндекс.Деньгах
</label>
</div>
<div class="radio">
<label>
<input name="paymentType" value="AC" type="radio" checked="checked"/>
Банковской картой
</label>
</div>
<input type="submit" class="btn btn-success" value="Оплатить заказ"/>
</form>
{% elif order.payment == order.PAYMENT_TRANSFER %}
<a href="{% url 'shop:order_document' order.id 'bill' %}">Скачать счёт для оплаты в любом банке</a>
{% endif %}
{% else %}
<p style="color:#2c8e2c;">Возможность оплатить заказ онлайн или распечатать счет появится тут после согласования и завершения комплектования заказа.</p>
<p style="color:#2c8e2c;">Вы получите сообщение об этом.</p>
<p style="color:#2c8e2c;">Пожалуйста, посетите эту страницу позже.</p>
{% endif %}
{% endif %}
</div>
</div>
<div class="sw-p-l panel panel-default widepan">
<div class="panel-body">
<h2>Покупатель</h2>
{% if order.is_firm %}
<dl class="deflist">
<dt>Название организации:</dt>    <dd>{{ order.firm_name }}</dd>
<dt>Юридический адрес:</dt>       <dd>{{ order.firm_address }}</dd>
<dt>Сведения об организации:</dt> <dd>{{ order.firm_details }}</dd>
<dt>Контактное лицо:</dt>         <dd>{{ order.name }}</dd>
<dt>Телефон:</dt>                 <dd>{{ order.phone|format_phone }}</dd>
<dt>Адрес доставки:</dt>          <dd>{{ order.address }}</dd>
</dl>
{% else %}
<p>{{ order.name }}</p>
<p>{{ order.address }}</p>
<p>{{ order.phone|format_phone }}</p>
{% endif %}
</div>
</div>

<h2>Заказанные товары</h2>
    <table class="table products table-bordered">
        <tr>
            <td>
                Код
            </td>
            <td class="left">
                Partnumber
            </td>
            <td class="left">
                Товар
            </td>
            <td>
                Цена<br />руб.
            </td>
            <td>
                Скидка<br />руб.
            </td>
            <td>
                Цена<br />со&nbsp;скидкой
            </td>
            <td>
                Количество
            </td>
            <td>
                Сумма<br />руб.
            </td>
        </tr>
        {% for item in order.items.all %}
        <tr>
            <td>
                {{ item.product.article }}
            </td>
            <td class="left">
                {{ item.product.partnumber }}
            </td>
            <td class="left">
                {{ item.product.title }}
            </td>
            <td>
                {{ item.product_price|quantize:'1' }}
            </td>
            <td>
                {{ item.discount }}
            </td>
            <td>
                {{ item.cost|quantize:'1' }}
            </td>
            <td>
                {{ item.quantity }}
            </td>
            <td>
                {{ item.price|quantize:'1' }}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="7" class="right">
                Доставка ({{ order.get_delivery_display }}):
            </td>
            <td>
                {{ order.delivery_price|quantize:'1' }}&nbsp;руб.
            </td>
        </tr>
        <tr>
            <td colspan="7" class="right lead">
                Всего к оплате:
            </td>
            <td class="lead">
                {{ order.total|quantize:'1' }}&nbsp;руб.
            </td>
        </tr>
    </table>

<p>Если Вы хотите внести изменения в заказ, позвоните по телефону +7&nbsp;495&nbsp;766-56-75</p>

{% endblock %}
