{% extends "shop/base.html" %}
{% load staticfiles %}
{% load decimals %}
{% load humanize %}
{% load site %}
{% load shop_filters %}
{% block title %}Заказ №{{ order.id }}{% endblock %}
{% block css %}
<style type="text/css">
.products td { text-align:center;}
.left    { text-align:left !important;}
.right   { text-align:right !important;}
.center  { text-align:center !important;}
.deflist dd { padding-top:5px; padding-bottom:5px; padding-left:20px; }
.widepan {width:350px !important;}
@media(max-width:768px){
.widepan {width:100% !important;}
}
</style>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
$('#f96bae27a7dbbcfc794595702bd9024d').on('DOMNodeInserted', function(e) {
  $("#f96bae27a7dbbcfc794595702bd9024d").find(".w-input").val("{{ order.delivery_yd_order }}");
});
</script>
{% endblock %}
{% block content %}
<h1>Заказ № {{ order.id }} от {{ order.created|date:"j E Y" }}</h1>
<div class="sw-p-l panel panel-default widepan">
<div class="panel-body">
<h2>Состояние заказа</h2>
<dl class="deflist">
<dt>Статус:</dt>
<dd>{{ order.get_status_display }}{% if order.payment != order.PAYMENT_CASH %} <br>
{{ order.paid|yesno:"оплачен," }}{% endif %}</dd>
{% if order.delivery == order.DELIVERY_YANDEX and order.status == order.STATUS_DELIVERED_STORE or order.store or order.delivery_tracking_number or order.delivery_info or order.delivery_dispatch_date or order.delivery_time_from or order.delivery_time_till or order.delivery_handing_date %}
<dt>Информация о доставке:</dt>
{% if order.delivery == order.DELIVERY_YANDEX and order.status == order.STATUS_DELIVERED_STORE %}
<dd>заказ доставляется</dd>
{% endif %}
{% if False and order.delivery == order.DELIVERY_YANDEX and order.status == order.STATUS_DELIVERED_STORE %}
<dd style="width: 0px">
<meta name="ydWidgetData" id="f526c05f4e50090a3bffbb04d40e07b3" content="" data-sender_id="15938" data-weight="0" data-cost="0" data-height="0" data-length="0" data-width="0" data-city_from="Москва" data-geo_id_from="213" data-css_name="tracking_tpl" data-tpl_name="tracking_tpl" data-container_tag_id="f96bae27a7dbbcfc794595702bd9024d" data-resource_id="21272" data-resource_key="1780931b94c77b42c08b895fb88747d2" data-tracking_method_key="43df8cf1b0d40baaef3a3363458314f1" data-autocomplete_method_key="fd34c231b276f9bea3db9b60ac09506e"></meta><!--[if lt IE 9]><script>document.createElement("msw");</script><![endif]-->
<script src="https://delivery.yandex.ru/widget/widgetJsLoader?dataTagID=f526c05f4e50090a3bffbb04d40e07b3" charset="utf-8"></script>
<msw id="f96bae27a7dbbcfc794595702bd9024d" class="yd-widget-container"></msw></dd>
{% endif %}
<dd>{% if order.delivery_tracking_number %}трек-код: {{ order.delivery_tracking_number }}<br/>{% endif %}
{% if order.delivery_info %}{{ order.delivery_info }}<br/>{% endif %}
{% if order.delivery == order.DELIVERY_SELF and order.store %}
магазин самовывоза: <a href="{% url 'store' order.store.pk %}">{{ order.store }}</a><br/>
{% if order.store.hours %}часы работы: {{ order.store.hours }}<br/>{% endif %}
{% endif %}
{% if order.delivery_dispatch_date %}дата отправки: {{ order.delivery_dispatch_date }}<br/>{% endif %}
{% if order.delivery_handing_date %}
{% if order.delivery == order.DELIVERY_COURIER or order.delivery == order.DELIVERY_CONSULTANT %}
дата доставки: {{ order.delivery_handing_date }}
{% if order.delivery_time_from %} с {{ order.delivery_time_from }}{% endif %}
{% if order.delivery_time_till %} до {{ order.delivery_time_till }}{% endif %}
{% elif order.delivery == order.DELIVERY_SELF %}
дата получения: {{ order.delivery_handing_date }}
{% if order.delivery_time_from %} после {{ order.delivery_time_from }}{% endif %}
{% else %}
расчётная дата получения: {{ order.delivery_handing_date }}
{% endif %}
<br/>
{% endif %}
</dd>
{% endif %}
</dl>
</div>
</div>

<div class="sw-p-l panel panel-default widepan">
<div class="panel-body">
<h2>Оплата заказа</h2>
<dl class="deflist">
<dt>Способ оплаты:</dt> <dd>{{ order.get_payment_display }}
</dd>
</dl>
{% if order.paid %}
{% if order.meta %}
{% if order.has_fiscal %}
<a class="btn btn-success" href="https://receipt.taxcom.ru/v01/show?fp={{ order.meta.fiscalInfo.fnDocMark }}&s={{ order.meta.fiscalInfo.sum }}" id="receipt-check-link" target="_blank">Посмотреть кассовый чек</a>
{% elif order.meta.yookassa %}
<a class="btn btn-success hide" href="" id="receipt-check-link" target="_blank">Посмотреть кассовый чек</a>
<script type="text/javascript">
(function() {
    'use strict';

    var yookassa_id = '{{ order.meta.yookassa }}';
    if (yookassa_id !== '') {
        var xhr = new XMLHttpRequest();
        xhr.responseType = 'json';
        xhr.onload = function() {
            if (xhr.status >= 200 && xhr.status < 400) {
                var data = xhr.response;
                if (data.registration === "succeeded") {
                    var link = document.getElementById("receipt-check-link");
                    link.href = "https://receipt.taxcom.ru/v01/show?fp=" + data.fnDocMark + "&s=" + data.sum;
                    link.classList.remove("hide");
                }
            }
        };
        xhr.open('GET', '{% url 'yandex_kassa:receipt' order.id %}', true);
        xhr.send();
    }
})();
</script>
{% endif %}
{% endif %}
{% else %} {# not paid #}
{% if order.status == order.STATUS_COLLECTED %}
{% if order.payment == order.PAYMENT_CARD or order.payment == order.PAYMENT_CREDIT %}
<a class="btn btn-success" href="{% url 'yandex_kassa:payment' order.id %}">{% if order.payment == order.PAYMENT_CREDIT %}Оформить кредит{% else %}Оплатить заказ{% endif %}</a>
{% elif order.payment == order.PAYMENT_TRANSFER %}
<a href="{% url 'shop:order_document' order.id 'bill' %}">Скачать счёт для оплаты в любом банке</a>
{% endif %}
{% else %}{# not collected #}
{% if order.payment == order.PAYMENT_CARD or order.payment == order.PAYMENT_CREDIT or order.payment == order.PAYMENT_TRANSFER %}
<p style="color:#2c8e2c;">Возможность оплатить заказ онлайн или распечатать счет появится тут после согласования и завершения комплектования заказа.</p>
<p style="color:#2c8e2c;">Вы получите сообщение об этом.</p>
<p style="color:#2c8e2c;">Пожалуйста, посетите эту страницу позже.</p>
{% endif %}
{% endif %}{# collected #}
{% endif %}{# not paid #}
</div>
</div>
<div class="sw-p-l panel panel-default widepan">
<div class="panel-body">
<h2>Покупатель</h2>
{% if order.is_firm %}
<dl class="deflist">
<dt>Название организации:</dt>    <dd>{{ order.firm_name }}</dd>
<dt>Юридический адрес:</dt>       <dd>{{ order.firm_address }}</dd>
<dt>Сведения об организации:</dt> <dd>{{ order.firm_details }}</dd>
<dt>Контактное лицо:</dt>         <dd>{{ order.name }}</dd>
<dt>Телефон:</dt>                 <dd>{{ order.phone|format_phone }}</dd>
<dt>Адрес доставки:</dt>          <dd>{{ order.address }}</dd>
</dl>
{% else %}
<p>{{ order.name }}</p>
<p>{{ order.address }}</p>
<p>{{ order.phone|format_phone }}</p>
{% endif %}
</div>
</div>

<h2>Заказанные товары</h2>
    <table class="table products table-bordered">
        <tr>
            <td>
                Код
            </td>
            <td class="left">
                Partnumber
            </td>
            <td class="left">
                Товар
            </td>
            <td>
                Цена<br />руб.
            </td>
            <td>
                Скидка<br />руб.
            </td>
            <td>
                Цена<br />со&nbsp;скидкой
            </td>
            <td>
                Количество
            </td>
            <td>
                Сумма<br />руб.
            </td>
        </tr>
        {% for item in order.items.all %}
        <tr>
            <td>
                {{ item.product.article }}
            </td>
            <td class="left">
                {{ item.product.partnumber }}
            </td>
            <td class="left">
                {{ item.product.title }}
            </td>
            <td>
                {{ item.product_price|quantize:'1'|intcomma }}
            </td>
            <td>
                {{ item.discount }}
            </td>
            <td>
                {{ item.cost|quantize:'1'|intcomma }}
            </td>
            <td>
                {{ item.quantity }}
            </td>
            <td>
                {{ item.price|quantize:'1'|intcomma }}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="7" class="right">
                Доставка ({{ order.get_delivery_display }}):
            </td>
            <td>
                {{ order.delivery_price|quantize:'1'|intcomma }}&nbsp;руб.
            </td>
        </tr>
        <tr>
            <td colspan="7" class="right lead">
                Всего к оплате:
            </td>
            <td class="lead">
                {{ order.total|quantize:'1'|intcomma }}&nbsp;руб.
            </td>
        </tr>
    </table>

<p>Если Вы хотите внести изменения в заказ, позвоните по телефону +7&nbsp;495&nbsp;766-56-75</p>

{% endblock %}
