{% extends "page_overlapped.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load decimals %}
{% load thumbnail %}
{% load shop_filters %}
{% block title %}Оформление заказа{% endblock %}
{% block content_title %}Оформление заказа{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Оформление заказа' '' %}
{% endblock %}
{% block content %}
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <!-- List of items-->
        <section class="col-lg-8">
          <div class="d-flex justify-content-between align-items-center pt-3 pb-2 pb-sm-5 mt-1">
            <h2 class="h1 text-light mb-0">№{{ order.id }}</h2>
          </div>

          {% include "shop/_update_order.html" %}

        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
          <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">

            <div class="widget mb-3 border-bottom">
              <h2 class="widget-title text-center">Детали заказа</h2>
              {% for item in order.items.all %}
              <div class="media align-items-center p{% if forloop.first %}b{% else %}y{% endif %}-2 border-bottom"><a class="d-block mr-2" href="{% url 'product' item.product.code %}">{% if item.product.image_prefix|add:'.jpg'|file_exists %}{% thumbnail item.product.image_prefix|add:'.jpg' '64x64' padding=True as im %}<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title }} {{ product.whatis }}"/>{% endthumbnail %}{% else %}<i class="d-inline-block czi-camera text-muted" style="width: 64px; height: 64px; font-size: 32px; padding: 16px"></i>{% endif %}</a>
                <div class="media-body">
                  <h6 class="widget-product-title"><a href="{% url 'product' item.product.code %}">{{ item.product.title }}</a></h6>
                  <div class="widget-product-meta"><span class="text-accent mr-2">{{ item.cost|quantize:'1' }}<small>&nbsp;руб</small></span><span class="text-muted">x {{ item.quantity }}</span></div>
                </div>
              </div>
              {% endfor %}
            </div>
            <h3 class="font-weight-normal text-center my-4">{{ order.total|quantize:'1' }}</span><small>&nbsp;руб</small></h3>
          </div>
        </aside>
      </div>
    </div>
    {% if order.utm_source == 'prym' %}
    <img src="https://www.commerce-connector.com/tracking/tracking.gif?shop=paZM4JcIWcRrHfkIwFQTCT2GzbBTVN1K{% for item in order.items.all %}&ean[{{ forloop.counter0 }}]={{ item.product.gtin }}&sale[{{ forloop.counter0 }}]={{ item.quantity }}{% endfor %}" width="1" height="1" border="0" />
    {% endif %}

{% endblock %}

{% block javascript %}
<script type="text/javascript">
(function() {
    'use strict';

    var form = document.getElementById("sw-update-order-form");
    if (form) {
        form.addEventListener("submit", function(event) {
            var $form = $(form);
            var data = $form.serialize() + '&ajax=1';
            $.post($form.attr('action'), data, function(data) {
                $form.replaceWith(data.html);
            }, 'json');
            event.preventDefault();
            event.stopPropagation();
        }, false);
    }

    window.addEventListener('load', function () {
        // window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            "ecommerce": {
                "purchase": {
                    "actionField": {
                        "id" : "{{ order.id }}"
                    },
                    "products": [
                        {% for item in order.items.all %}
                        {
                            "id": "{{ item.product.id }}",
                            "name": "{{ item.product.title }}",
                            "price": "{{ item.product.price }}",
                            "quantity": "{{ item.quantity }}"
                        },
                        {% endfor %}
                    ]
                }
            }
        });
    }, false);
})();
</script>
{% endblock %}

{% block vk_retargeting_event %}
  VK.Retargeting.ProductEvent(3195, "purchase", {'products': [
    {% for item in order.items.all %}
    {'id': '{{ item.product.id }}'}{% if not forloop.last %},{% endif %}
    {% endfor %}
  ]});
{% endblock %}
