{% extends "shop/base.html" %}
{% block title %}Добро пожаловать{% endblock %}
{% block css %}
<style type="text/css">
	.xsw-phone-input          { height:auto; color: black; }
	.xsw-phone-input:-moz-placeholder { color:#e0e0e0; }
	.xsw-phone-input::-webkit-input-placeholder { color:#e0e0e0; }
	.sw-small     { font-size: 12pt; display: block; color:#808080; }
        #registration-form { background-color: inherit; }
        #registration-form p, #registration-submit { margin-top: 16px; }
</style>
{% endblock %}

{% block content %}
{% load static %}
{% load shop_filters %}
<h1>Регистрация</h1>
<form id="registration-form" class="form-inline jumbotron{% if wrong_password %} has-error{% endif %}" action="{% url 'shop:register' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next|default_if_none:"" }}"/>
    {% if error %}
    <div class="has-error"><span id="error" class="help-block">Ошибка: {{ error }}</span></div>
    {% endif %}
    <p><label class="control-label lead" for="phone-input">Укажите номер мобильного телефона:</label></p>
    <div id="phone-block" class="input-group">
        <span class="input-group-addon input-lg sw-phone-input">+7</span>
        <input type="tel" class="form-control input-lg sw-phone-input" name="phone" id="phone-input" value="{{ phone }}" size="20" placeholder="(999) 111-22-33" autocomplete="phone"/>
    </div>
    <p><label class="control-label lead" for="email-input">Адрес электронной почты:</label><span class="sw-small">опционально</span></p>
    <div>
        <input type="email" class="form-control input-lg sw-email-input" name="email" id="email-input" value="{{ email }}" size="40" autocomplete="email"/>
    </div>
    <p><label class="control-label lead" for="name-input">Фамилия Имя Отчество:</label><span class="sw-small">если Вы планируете оформлять заказы</span></p>
    <div>
        <input type="text" class="form-control input-lg sw-name-input" name="name" id="name-input" value="{{ name }}" size="40" autocomplete="name"/>
    </div>
    <p><label class="control-label lead" for="username-input">Псевдоним для форума:</label><span class="sw-small">если Вы не хотите, чтобы Ваше настоящее имя отображалось в форуме</span></p>
    <div>
        <input type="text" class="form-control input-lg sw-username-input" name="username" id="username-input" value="{{ username }}" size="20"/>
    </div>
    <div>
    <input type="hidden" id="reg-flag" name="reg" value="1" />
    <input type="submit" id="registration-submit" class="btn btn-success btn-lg" value="Продолжить" />
    </div>
</form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#reg-flag").val("2");
            $("#registration-submit").prop("disabled", true);

            $("#registration-form").on("submit", function() {
                 var complete = $("#phone-input").inputmask("isComplete");
                 if (!complete)
                     $("#phone-block").addClass("has-error");
                 return complete;
            });

            // https://github.com/RobinHerbots/Inputmask
            $("#phone-input").inputmask({
                mask: ["(999) 999-99-99", "* (999) 999-99-99"],
                definitions: {
                    "*": { validator: "[78]" }
                },
                onBeforePaste: function(pastedValue, opts) {
                    return pastedValue.replace("+7", "");
                },
                onBeforeMask: function(value, opts) {
                    return value.replace("+7", "");
                },
                oncomplete: function() {
                    $("#phone-block").removeClass("has-error");
                    var value = this.inputmask.unmaskedvalue();
                    if (value.length > 10) {
                        value = value.substr(1);
                        this.inputmask.setValue(value);
                    }
                    $("#registration-submit").prop("disabled", false);
                },
                keepStatic: true
            });
        });
    </script>
{% endblock %}
