{% extends "shop/base.html" %}
{% load widget_tweaks %}
{% block title %}Печать гарантийного талона{% endblock %}
{% block content %}
<div class="container">
<h1>Печать гарантийного талона</h1>

{% if form %}
<form id="warranty-card" action="{% url 'shop:warranty_card' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="has-feedback{% if field.errors %} has-error{% endif %}">
        {{ field|add_label_class:"control-label" }}
        {% render_field field class="form-control" %}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
        </div>
        <span class="help-block">{{ field.help_text }}</span>
    {% endfor %}
    <div class="center" style="padding-top:10px;"><input type="submit" class="btn btn-success" value="Распечатать"/></div>
</form>
{% endif %}

</div>
{% endblock %}
