@use 'sass:math';
@use 'sass:map';

@import 'vendor/cartzilla/scss/theme.scss';

// Global tweaks

body {
    position: relative;
    scroll-behavior: smooth;
    overflow: overlay;
    scrollbar-color: $body-color $light;

    &::-webkit-scrollbar,
    & *::-webkit-scrollbar {
        background-color: transparent;

        &:hover {
            background-color: $secondary;
        }
    }

    &::-webkit-scrollbar:vertical,
    & *::-webkit-scrollbar:vertical {
        width: $border-radius * 2;
    }

    &::-webkit-scrollbar:horizontal,
    & *::-webkit-scrollbar:horizontal {
        height: $border-radius * 2;
    }

    &::-webkit-scrollbar-thumb,
    & *::-webkit-scrollbar-thumb {
        background-color: tint-color($dark, 20%);
        min-height: 24px;
        border-radius: $border-radius;
        border-width: 2px;
        border-style: solid;
        background-clip: padding-box;
        border-color: transparent;

        &:hover {
            border-width: 1px;
        }
    }

    &::-webkit-scrollbar-corner,
    & *::-webkit-scrollbar-corner {
        background-color: $light;
    }
}

// Base UI

.root {
    isolation: isolate;
}

// Bootstrap tweaks

.tooltip {
    margin: 0; // https://github.com/react-bootstrap/react-bootstrap/issues/5081
}

// Cartzilla tweaks

.navbar-brand>img {
    // make logo highly responsive
    width: auto;
    height: 26px;
    object-position: left;
    object-fit: cover;

    @include media-breakpoint-up(xl) {
        height: 53px;
    }
}

.navbar-sticky.navbar-stuck {
    animation: none;
}

.navbar .navbar-brand.d-lg-block {
    min-width: 7rem
}

.navbar .navbar-brand.d-lg-none {
    min-width: 2.125rem
}

.pagination {
    flex-wrap: wrap
}

a.page-link {
    cursor: pointer
}

a:not([href]):not([class]) {
    // undo Bootstrap reboot TODO: use buttons?
    cursor: pointer;
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

.gallery-item>img {
    // We have extremely vertical images that heavily zoom with preset settings
    width: unset !important;
    margin: auto;
}

@include media-breakpoint-up(lg) {
    .offcanvas-lg {
        // Collapse off-canvas down from lg breakpoint
        display: block;
        position: static;
        z-index: inherit !important;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        left: auto !important;
        width: 100% !important;
        height: auto !important;
        transform: none !important;
        background-color: transparent;

        .offcanvas-header,
        .offcanvas-footer {
            display: none;
        }

        .offcanvas-body {
            padding: 0;
            overflow: initial;
        }

        &.rounded-3 {
            border-radius: $border-radius-lg !important;
        }
    }
}

// React Bootstrap Typeahead tweaks

.rbt>.rbt-menu {
    .dropdown-item.active {
        background-color: map.get($theme-faded-colors, 'dark');
    }

    &::-webkit-scrollbar {
        background-color: $light;
    }
}

// Custom styles

.sw-bg-light {
    background-color: #fffaee
}

.sw-button {
    position: relative;

    & .sw-button-label {
        position: absolute;
        top: -($navbar-tool-label-size * .5);
        right: -($navbar-tool-label-size * .5);
        width: $navbar-tool-label-size;
        height: $navbar-tool-label-size;
        border-radius: 50%;
        background-color: $navbar-tool-label-bg;
        color: $navbar-tool-label-color;

        font: {
            size: $navbar-tool-label-font-size;
            weight: $navbar-tool-label-font-weight;
        }

        text-align: center;
        line-height: $navbar-tool-label-size;
    }
}

@include media-breakpoint-up(lg) {
    .sw-sticky {
        position: sticky;
        top: 0;
        z-index: $zindex-fixed;
    }

    .sw-navbar {
        &.sw-sticky {
            .sw-navbar-sticky {
                box-shadow: $navbar-stuck-box-shadow;
            }

            .navbar-stuck-toggler {
                display: flex;
            }

            .navbar-stuck-menu {
                visibility: hidden;
            }

            &.show {
                .sw-navbar-sticky {
                    box-shadow: none;
                }

                .navbar-stuck-menu {
                    visibility: visible;
                    box-shadow: $navbar-stuck-box-shadow;
                }
            }
        }

        .sw-navbar-sticky {
            background-color: $light;
        }
    }
}

.sw-catalog-dropdown {
    padding-top: $card-spacer-y;
    padding-bottom: $card-spacer-y;
    background-color: $white;
    background-clip: border-box;

    @include media-breakpoint-up(lg) {
        top: $navbar-nav-link-padding-y - .125rem - $btn-padding-y + math.div($font-size-base - $btn-font-size, 2) + map.get($spacers, 2);
        position: absolute;
        min-width: 50rem;
        z-index: $zindex-dropdown - 5;
        padding-left: $card-spacer-x;
        padding-right: $card-spacer-x;
        box-shadow: 0 1rem 1rem rgba($black, .15);
        border: $card-border-width solid $card-border-color;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border-top: 0 !important;
    }
}

.sw-catalog {
    .sw-catalog-icon {
        display: inline-block;

        svg {
            width: 40px;
            height: 40px;
        }
    }

    .sw-category-image {
        height: 120px;
        width: auto;
    }
}

#comparison>tbody th:first-letter,
.product-spec>.row>.text-muted:first-letter {
    text-transform: capitalize;
}

// product details long description
.ratio+h5 {
    margin-top: map.get($spacers, 2);
}

// swiper.js tweaks

:root {
    --swiper-theme-color: #fff !important;
    --swiper-navigation-size: 25px !important;
    --swiper-navigation-sides-offset: 5px;

    :has(.sw-no-body-scroll) {
        overflow: hidden;
    }
}

// toasts

.sw-toast-viewport {
    position: fixed;
    z-index: 1;
    width: 250px;
    margin: 0 auto;
    bottom: 1rem;
    left: 1rem;
    right: auto;
    top: auto;

    @media (min-width: 500px) {
        bottom: 2rem;
        left: 2rem;
        width: 300px;
    }
}