/* modern bootstrap missing styles */
@import "~bootstrap/scss/functions";

$primary: #006699;

$link-color: $primary;

$border-color: #f0f0f0;
$card-border-color: $border-color;
$table-border-color: $border-color;

$font-size-base: .9rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.6;
$h4-font-size: $font-size-base * 1.4;
$h5-font-size: $font-size-base * 1.2;
$h6-font-size: $font-size-base;

$headings-font-weight: 300;
$headings-line-height: 1.1;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";

.fs-base {
    font-size: $font-size-base !important;
}

.fs-xs {
    font-size: $font-size-sm * 0.85 !important;
}

.fs-sm {
    font-size: $font-size-sm !important;
}

.fs-md {
    font-size: $font-size-base * 1.15 !important;
}

.fs-lg {
    font-size: $font-size-lg !important;
}


/* custom styles */

body {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    background-image: url('/i/bkg-fabric-texture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainwindow {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    box-shadow: 0px 0px 3px 0px #333;
    background-color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size:11pt;
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    color: #204070;
}

.top-content {
    background-color: #eee;

    & > div {
        padding-top: 10px;
    }

    .sw-logo {
        padding-left: 0;

        img {
            padding-top: 25px;
            max-width: 300px;
        }
    }

    .ja-title {
        display: inline-block;

        span {
            color: darkred;
        }
    }
}

.bottom-content {
    background-color: #bccf52;
    padding: 40px;

    a {
        color: #cc0000;
        font-weight: bold;
        text-decoration: none;

        &:visited, &:hover {
            text-decoration:none;
        }
    }

    p {
        font-family: Verdana, sans-serif;
        font-size: 12px;
        line-height: 16px;
        font-weight: lighter;
        color: #333333;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    ul {
        list-style-position: outside;
        margin-left: 20px;
        margin-top: 10px;
        color: #000000;
        font-size: 12px;
        line-height: 16px;
        font-style: italic;
        list-style-type: disc;
    }

    ol {
        list-style-position: inherit;
        margin-left: 40px;
        margin-top: 10px;
        color: #000000;
        font-size: 12px;
        line-height: 20px;
        font-style: italic;
    }
}

.footer {
    background-color: #ee9c20;

    a {
        color: #fff;
    }

    p {
        font-size: 9pt;
        color: #FFF;
    }
}

h5.bottom {
    font-size: 12pt;
    color: #000000;
    line-height: 18px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #FFF;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #FFF;
    padding-bottom: 10px;
    margin: 10px;
    padding-top: 10px;
}

p.bottom {
    font-size: 9pt;
    line-height: 12px;
    font-weight: lighter;
    color: #333333;
    margin: 10px;
    padding-bottom: 10px;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.sw-p-l {
    padding: 10px;
    width: 240px;

    @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 16px 0;
    }

    .card-body {
        padding: 0;

        .sw-p-l-name {
            padding-top: 10px;
            position: relative;

            .sw-p-l-action {
                position: absolute;
                top: -10px;

                .label {
                    opacity: .9;
                    padding-left: 1px;
                }
            }

            h3.sw-p-l-name-h {
                font-size: 1.1em;
                margin-top: 8px;
                margin-bottom: 2px;
                font-weight: 700;

                a {
                    color: #000;
                }
            }
            p {
                font-size: .95em;
                margin-bottom: 0;
            }
        }

        .sw-p-l-brif {
            font-size: .9em;
            color: #555;
        }
    }
}

.sw-p-l-price {
    font-size: 1.2em;
    font-weight: 700;
    color: #e61;
}

.product-nal-false {
    color: #aaa;
    font-weight: 700;
}

.product-nal-true {
    color: $success;
    font-weight: 700;
}

.sw-price {
    color: #e61;
}

.sw-action {
    color: #e61;
}

.sw-new {
    color: #5bc0de;
}

.sw-recomended {
    color: #5cb85c;
}

.sw-btn-wb {
    color: #ffffff !important;
    background-color: #a83afb;
    border-color: #a83afb;

    &:hover {
        background-color: #ad3d86;
        border-color: #ad3d86;
    }
}

.sw-btn-ozon {
    color: #ffffff !important;
    background-color: #005bff;
    border-color: #005bff;

    &:hover {
        background-color: #007bfb;
        border-color: #007bfb;
    }
}

.product-page {
    h2 {
        font-size: $h2-font-size * 0.85;
        border-bottom: 1px solid $border-color;
        padding-bottom: 5px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

dl.product-spec {
    dt {
        display: inline-block;
        font-weight: 400;
        width: 49%;
        margin: 0 0 7px;
        vertical-align: top;
        background: url(/i/dots.gif) repeat-x bottom;

        span {
            background: #fff;
        }
    }

    dd {
        display: inline-block;
        width: 50%;
        margin: 0 0 7px;
        vertical-align: bottom;
    }
}

.popover.sw-popover {
    max-width: 725px;

    @media (max-width: 767.98px) {
        margin: 0 2%;
        max-width: 95%;
    }
}

.popover.sw-field-help {
    max-width: 725px;

    @media (max-width: 767.98px) {
        margin: 0 2%;
        max-width: 95%;
    }

    &>.popover-body {
        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 0.625em;

            &[align="left"] {
                max-width: 60%;
                margin-right: 0.625em;
            }
        }
    }
}

.ratio + h3 {
    margin-top: map-get($spacers, 2);
}

.yarl__root {
  --yarl__color_backdrop: rgba(255, 255, 255, 1);
  --yarl__color_button: rgba(192, 192, 192, 1);
  --yarl__color_button_disabled: rgba(192, 192, 192, 0);
  --yarl__color_button_active: $primary;
  --yarl__button_filter: none;
}