@import 'vendor/cartzilla/scss/theme.scss';

// Global tweaks

body {
    scroll-behavior: smooth;
}

// Cartzilla tweaks

.navbar-brand > img { // make logo highly responsive
    width: 34px;
    height: 34px;
    object-position: left;
    object-fit: cover;

    @include media-breakpoint-up(sm) {
        width: auto;
    }

    @include media-breakpoint-up(xl) {
        height: 53px;
    }
}

.navbar-sticky.navbar-stuck {
    animation: none;
}

.navbar .navbar-brand.d-lg-block {
    min-width: 7rem
}

.navbar .navbar-brand.d-lg-none {
    min-width: 2.125rem
}

.pagination {
    flex-wrap: wrap
}

a.page-link {
    cursor: pointer
}

a:not([href]):not([class]) { // undo Bootstrap reboot TODO: use buttons?
    cursor: pointer;
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

// React Bootstrap Typeahead tweaks

.rbt > .rbt-menu .dropdown-item.active {
    background-color: map-get($theme-faded-colors, 'dark');
}

// Custom styles

.sw-bg-light {
    background-color: #fffaee
}

.sw-catalog {
    padding-top: $card-spacer-y;
    padding-bottom: $card-spacer-y;
    background-color: $white;
    background-clip: border-box;

    @include media-breakpoint-up(lg) {
        top: $navbar-nav-link-padding-y - .125rem - $btn-padding-y + ( $font-size-base - $btn-font-size ) / 2 + map-get($spacers, 2);
        position: absolute;
        min-width: 50rem;
        z-index: $zindex-dropdown - 5;
        padding-left: $card-spacer-x;
        padding-right: $card-spacer-x;
        box-shadow: 0 1rem 1rem rgba($black,.15);
        border: $card-border-width solid $card-border-color;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border-top: 0!important;
    }
}

.sw-badge {
    padding: 0.25em 0.625em;
    margin-right: 0.25em;
    border-radius: 0.175rem;
}

#comparison > tbody th:first-letter, .product-spec > .row > .text-muted:first-letter {
    text-transform: capitalize;
}

// product details field help popover
.popover.sw-field-help {
    max-width: 725px;

    @include media-breakpoint-down(sm) {
        margin: 0 2%;
        max-width: 95%;
    }

    &>.popover-body {
        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 0.625em;

            &[align="left"] {
                max-width: 60%;
                margin-right: 0.625em;
            }
        }
    }
}

// product details long description
.ratio + h5 {
    margin-top: map-get($spacers, 2);
}
