{% include 'django/forms/widgets/text.html' %}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  $( "#{{ widget.attrs.id }}" ).closest(".sw-field").append('<div id="slider-{{ widget.attrs.id }}"></div>');
  $( "#slider-{{ widget.attrs.id }}" ).slider({
    range: "min",
    min: {{ widget.attrs.min_value }},
    max: {{ widget.attrs.max_value }},
    step: {{ widget.attrs.step }},
{% if widget.value %}
    value: {{ widget.value }},
{% else %}
    value: {{ widget.attrs.min_value }},
{% endif %}
    slide: function( event, ui ) {
      $( "#{{ widget.attrs.id }}" ).val( ui.value );
    }
  });
  $( "#{{ widget.attrs.id }}" ).val( $( "#slider-{{ widget.attrs.id }}" ).slider( "value" ) );
});
</script>
