name: Frontend CI

on:
  workflow_dispatch:
  push:
    branches:
      - "cartzilla"

env:
  IMAGE: sworld

jobs:

  build:
    outputs:
      VERSION: ${{ steps.package_version.outputs.VERSION }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Create .env file
        run: |
          touch .env
          echo "${{ secrets.ENV_FILE }}" > .env

      - name: Extract package version
        id: package_version
        run: echo "VERSION=$(jq -r .version package.json)" >> $GITHUB_OUTPUT
        
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'cartzilla') }}
            type=raw,priority=1100,value=${{ steps.package_version.outputs.VERSION }}
            type=edge,branch=cartzilla
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=sha
    
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            entity=${{ env.IMAGE }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Docker image
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.DEPLOY_SERVER }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
            docker pull ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE }}:latest
            docker pull ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE }}:${{ needs.build.outputs.VERSION }}
            docker logout ghcr.io
